<div class="topHeader">
    <h2> Questionnaire  List  View</h2>
</div>


<div class="questionnaireForm">
    <div>
        <span class="save-btn">Total Score :{{aissmentdata[0]?.totalScore}}</span>
      </div>
        
      <!-- <form [formGroup]="questionnaireForm">
        <mat-stepper #stepper>
          <div formArrayName="aissment">
            <div *ngFor=" let controlName of nameAissment.controls; let i = index" [formGroupName]="i">
              <mat-step  errorMessage="Name is required.">
               
                <h2>{{questionnaireData[i].parameter}}</h2>
                <mat-form-field *ngIf="questionnaireData[i].inputType==='singleSelect'" appearance="fill">
                  <mat-label>Answer Type</mat-label>
                  <mat-select formControlName="answer" >
              <mat-option *ngFor="let option of questionnaireData[i].options" value="{{option.answer}}" >{{option.answer}} </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="questionnaireData[i].inputType==='multiSelect'" appearance="fill">
                  <mat-label>Answer Type</mat-label>
                  <mat-select formControlName="answer" multiple >
              <mat-option *ngFor="let option of questionnaireData[i].options" value="{{option.answer}}" >{{option.answer}} </mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field *ngIf="questionnaireData[i].textBox" appearance="fill">
                  <mat-label></mat-label>
                  <input matInput placeholder="Last name, First name" formControlName="description" required>
                </mat-form-field>
                <div *ngIf="questionnaireData[i].upload" appearance="fill">
                 
                  <input type="file"   (change)="changeListener($event,i)" required>
                </div>
                <div>
               
                  <button *ngIf="i!==0" mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                
                </div>
          
            </mat-step>
            </div>
          </div>
         
        </mat-stepper>
        
      </form> -->
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Qs.</th>
            <th scope="col">Questions</th>
            <th scope="col">Response</th>
            <th scope="col">Attachment</th>
            <th scope="col">Score ({{aissmentdata[0]?.totalScore}})</th>
            <th scope="col"> Assessor Score <span>{{assessorScore ?assessorScore:''}} </span> </th>
            <th scope="col"> Max Score ({{maxScore}})</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let item of aissmentdata?.at(0)?.questionAns; let i = index" >
            <th scope="row">{{i+1}}</th>
            <td class="">{{item.question}}</td>
            <td>
                {{item.answer}} <a *ngIf="item.description" (click)="openModel(item.description)">Description</a>
            </td>
            <td>   <a class="ml-2" *ngIf='item?.uploadDocuments'  target="blank"  href="{{item?.uploadDocuments}}"> View Documents</a></td>
            <td>
                {{item.score}}
            </td>
            <td>
              {{item.assessorScore}}
          </td>
            <td>
                {{item.maxScore}}
            </td>
          </tr>
         
        </tbody>
    </table>
</div>