<div class="topHeader">
    <h2>Category {{userData?.category}}  Questionnaire </h2>
  </div>
  

  

<div class="row mt-4" *ngIf="!userData?.offlinePaymentDetails">
  <div class="col-lg-12">
      <div class="container">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Alert ! : </strong>Kindly complete offline participation fee payment and then submit the questionnaire, without payment you can only save the Questionnaire.
            
          </div>
          <!-- <div class="alert alert-danger alert-warning alert-dismissible fade show" role="alert">
              <div class="alertContent">
                  <h6>Remark!</h6>
                  <p>{{remark}}</p>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          </div> -->
      </div>
  </div>
</div>
  <div class="container">
    <form [formGroup]="questionnaireForm">
      <div class="row mt-4" *ngIf="questionnaireData?.adminRemark">  
        <div class="col-lg-12">
            <div class="container">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <div class="d-flex">
                      <strong>Questionnaire Remark ! : </strong> 
                    <span  [innerHTML]="questionnaireData?.adminRemark"></span>
                    </div>
                    <span>Document : </span>
                    <input *ngIf="!questionnaireData.doccumentAskedByAdmin" type="file" (change)="adminRequiredDoccument($event)">
                    <a class="" *ngIf="questionnaireData.doccumentAskedByAdmin" href="{{questionnaireData?.doccumentAskedByAdmin}}"
                    target="_blank"><i class="fas fa-eye"></i></a>
                <a *ngIf="questionnaireData.doccumentAskedByAdmin" (click)="delete('documentGstCertificate')"><i
                        class="fa fa-trash"></i></a>

                        <button style="margin-top: -1rem;" *ngIf=" userData.offlinePaymentDetails" mat-button (click)="submitQuestionnaire('Submitted')" class="RegistrationBtn">Submit</button>
                        <button style="margin-top: -1rem;" *ngIf="userData.offlinePaymentDetails" mat-button (click)="submitQuestionnaire('save')" class="RegistrationBtn">Save</button>
                </div>
                
            </div>
        </div>
    </div>
   
      <mat-stepper #stepper>
  
        <div formArrayName="aissment">
          <div *ngFor=" let controlName of nameAissment.controls; let i = index" [formGroupName]="i">
            <mat-step label="Q {{i}}"  [stepControl]="nameAissment?.get([i])!" >
              <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="questionnaireData.questionAns[i].adminRemark">
                <strong >Admin Remark ! : </strong><span  [innerHTML]="questionnaireData.questionAns[i].adminRemark"></span>
              
            </div>
             
              <h2 style="font-size: 26px;" class="matlable m-0">Q{{i+1}} - {{questionnaireData.questionAns[i].question}}</h2>
              <p style="color:rgb(150 67 67);font-size: 18px; font-weight: 500;">{{questionnaireData.questionAns[i].parameterDescription}}</p>
              <div class="auto-width">
                <mat-form-field *ngIf="questionnaireData.questionAns[i].inputType==='singleSelect'" appearance="fill">
                  <mat-label style="font-size: 18px;">Select Answer</mat-label>
                  <mat-select formControlName="answer">
                    <mat-option *ngFor="let option of questionnaireData.questionAns[i].option" value="{{option.answer}}">
                      {{option.answer}} </mat-option>
                  </mat-select>
                </mat-form-field></div>
                <div class="auto-width">
                <mat-form-field *ngIf="questionnaireData.questionAns[i].inputType==='multiSelect'" appearance="fill">
                  <mat-label style="font-size: 18px;">Select Answer</mat-label>
                  <mat-select formControlName="answer" multiple>
                    <mat-option *ngFor="let option of questionnaireData.questionAns[i].option" value="{{option.answer}}">
                      {{option.answer}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
                <p style="color: red;" *ngIf="controlName.get('answer')?.hasError('required')&&(controlName.get('answer')?.touched||controlName.get('answer')?.dirty ||submited)">
                  please select at least one option
                </p>
           
   
              <br>
              <div *ngIf="questionnaireData.questionAns[i].description" >
                <div class="mb-2">
                  <label style="font-size: 18px; font-weight: 500;"
                  class="questionnaireLabel">Enter Description:</label>
                  <ckeditor formControlName="description" data="<p>Hello, world!</p>"></ckeditor>
  
                 
                </div>
              </div>
              <p style="color: red;" *ngIf="controlName.get('description')?.hasError('required')&&(controlName.get('description')?.touched||controlName.get('description')?.dirty||submited)">
                Answer description required
              </p>
              <div *ngIf="questionnaireData.questionAns[i].uploadDocuments" appearance="fill">
                <a class="AttachementBtn ml-2" *ngIf='questionnaireData.questionAns[i].uploadDocuments' target="blank"
                href="{{questionnaireData.questionAns[i].uploadDocuments}}">View Attachement</a>
             
              </div>
              <div *ngIf="userData.category === 'C4'&&i===2">
                <button  class="RegistrationBtn" (click)="addStatic(i)">ADD </button>
                <table class="table" formArrayName="table" >
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">S.No</th>
                      <th scope="col">Product Name</th>
                      <!-- <th scope="col">Explain(25 words)</th> -->
                      <!-- <th scope="col">Upload Pic</th> -->
                      <th scope="col">IC Content %</th>
                      <th scope="col">Select</th>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let skill of firsttable.controls; let j=index"  [formGroupName]="j">
                     <td>{{j+1}}  <a class="addBtn mb-3" *ngIf='j!==0'
                      (click)="removeStatic(i,j)"><i class="fa fa-trash"></i> </a>
                  </td>
                  <td><input formControlName="product" type="text" class="productF"></td>
                     <!-- <td><a class="AttachementBtn ml-2"  target="blank"
                      href="{{questionnaireData.staticTable[i]?.uploadDocuments}}">View Attachement</a></td> -->
                     <td><input formControlName="IcContent"  type="text" class="IcContent" ></td>
                
                     <td>    <select class="selectInput" formControlName="answer">
                      <option  value="Build to Customer Print">
                        Build to Customer Print </option>
                        <option  value="Under ToT from FOEM">
                          Under ToT from FOEM</option>
                          <option  value="Under ToT from DRDO">
                            Under ToT from DRDO</option>
                            <option  value="Indigenous, in-house design">
                              Indigenous, in-house design</option>
                    </select></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="userData.category === 'C4'&&i===4">
                <button  class="RegistrationBtn" (click)="addStatic(i)">ADD </button>
                <table class="table" formArrayName="table" >
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" style="width: 42px;">S.No</th>
                      <th scope="col" style="width: 535px;">Product</th>
                      <!-- <th scope="col">Explain(25 words)</th> -->
                      <th scope="col">Upload Pic</th>
                      <!-- <th scope="col">IC Content %</th> -->
                  </thead>
                  <tbody>
                    <tr *ngFor=" let controlName of table.controls; let j = index" [formGroupName]="j">
                     <td>{{j+1}}  <a class="addBtn mb-3" *ngIf='j!==0'
                      (click)="removeStatic(i,j)"><i
                          class="fa fa-trash"></i> </a>
                  </td>
                     <td><input formControlName="product" type="text"></td>
                     <!-- <td><input formControlName="description"  type="text"></td> -->
                     <td style="width: 100px; text-align: center;">
                      <a *ngIf="questionnaireData.questionAns[i]?.table[j]?.uploadDocuments" class="AttachementBtn ml-2"  target="blank"
                    href="{{questionnaireData.questionAns[i]?.table[j]?.uploadDocuments}}">View Attachement</a>
                  
                      <input *ngIf="!questionnaireData.questionAns[i].table[j]?.uploadDocuments"  (change)="staticTableChangeListener($event,i,j)"  type="file"></td>
                     <!-- <td><input formControlName="IcContent"  type="text"></td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
  

              <button *ngIf="i!==lastIndex  " mat-button matStepperNext class="RegistrationBtn">Next</button>
              <button *ngIf="i===lastIndex  &&userData.offlinePaymentDetails" mat-button (click)="submitQuestionnaire('Submitted')" class="RegistrationBtn">Submit</button>
              <button *ngIf="i===lastIndex  &&!userData.offlinePaymentDetails" mat-button (click)="submitQuestionnaire('save')" class="RegistrationBtn">Save</button>
          
              <button *ngIf="i!==0" mat-button matStepperPrevious class="RegistrationBtn">Back</button>
             
              </div>
  
            </mat-step>
          </div>
        </div>
       
        
  
      </mat-stepper>
  
    </form>
  </div>