<div class="topHeader">
    <h2>Add  New Questionnaire </h2>
  </div>
  <div class="container">
    <form class="questionnaireForm" [formGroup]="questionnaire" >
      <div class="form-group">
        <label class="questionnaireLabel" for="exampleFormControlSelect1">Category*</label>
        <select class="form-control " formControlName="category" id="exampleFormControlSelect1" >
          <option value="cat1" >C1 – Technology /
            Product Innovation to address Defence Capability Gaps </option>
          <option value="cat2" >C2 – Import
            Substitution for Mission
            Critical Parts / Sub-Systems / Systems</option>
          <option value="cat3"  >C3 – Creation of
            Niche, Technological Capability for
            Design, Manufacturing or Testing</option>
          <option value="cat4"  >C4 – Export
            Performance of Defence & Aerospace
            Products</option>
        </select>
      
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Answer Type</mat-label>
        <mat-select formControlName="inputType" >
    <mat-option value="dropdown" [disabled]="true"  >Dropdown </mat-option>
    <mat-option value="multiSelect" [disabled]="true"  >MultiSelect </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="form-check">
        <input [disabled]="true"  formControlName="upload" type="checkbox" value=""  id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Upload
        </label>
      </div>
      <div class="form-check">
        <input  [disabled]="true" type="checkbox" formControlName="textBox" value="" readonly id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          TextBox
        </label>
      </div>
        <div class="row">
          <div class="col-lg-9">
            <label class="questionnaireLabel mt-3" for="">Parameter/Question*:</label>
            <textarea name="" id="" cols="30" rows="10" formControlName="parameter" readonly></textarea>
            <p *ngIf="questionnaire.get('parameter')?.hasError('required') &&(submited)" style="color: red;">
              Parameter/Question <strong>required</strong>
          </p>
            <!-- <input type="text" formControlName="parameter" /> -->
          </div>
          <div class="col-lg-3">
            <label class="questionnaireLabel mt-3" for="">Max score*:</label>
            <input type="text" formControlName="maxScore" readonly/>
            <p *ngIf="questionnaire.get('maxScore')?.hasError('required') &&(submited)" style="color: red;">
              Max score <strong>required</strong>
          </p>
          </div>
          <!-- <div class="col-lg-1">
            <button class="save-btn savePosition" type="button"><i aria-hidden="true" class="fas fa-plus"></i></button>
          </div> -->
        </div>
        <div class="form-group">
          <div formArrayName="options">
            <div *ngFor="let opt of options.controls; let i = index">
              <!-- <h1 class="heading">Answers:</h1> -->
              <div [formGroupName]="i">
                <div class="row">
                  <div class="col-lg-8">
                    <label class="questionnaireLabel mt-3" for="">Option {{i+1}}*:</label>
                    <textarea class="mb-2" name="" id="" cols="30" rows="10" formControlName="answer" readonly></textarea>
                    <p class="mb-2" style="color: red;"
                    *ngIf="opt.get('answer')?.hasError('required') &&(submited)">
                    Option {{i+1}}  required
                </p>
                    <!-- <input type="text" formControlName="answer" /> -->
                  </div>
                  <div class="col-lg-3">
                    <label class="questionnaireLabel mt-3" for=""> Score*:</label>
                    <input class="mb-2" type="text" formControlName="score" readonly />
                    <p class="mb-2" style="color: red;"
                    *ngIf="opt.get('score')?.hasError('required') &&(submited)">
                    Score {{i+1}}  required
                </p>
                  </div>
               
                </div>
  
              </div>
            </div>
          </div>
        </div>

    </form>
  </div>
  