<header class="marathon-header-fixed header-fixed">
    <a href="javascript:void(0)" class="nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <div class="top-panel">
        <div class="container">
            <a href="javascript:void(0)" class="logo"><img src="assets/img/New_img/logo.png" alt="logo"></a>
            <a href="registration.html" class="NewBtn"><span>Registration</span></a>
        </div>
    </div>
    <div class="header-nav">
        <div class="container">
            <div class="header-nav-cover">
                <nav class="nav-menu menu">
                    <ul class="nav-list">
                        <li class="active-page">
                            <a href="index.html">home</a>
                        </li>
                        <li><a href="#about">about sidm</a></li>
                        <li><a href="#Objective">OBJECTIVE</a></li>
                        <li><a href="#categories">categories</a></li>
                        <li><a href="#committee">AWARDS COMMITTEE</a></li>
                        <li><a href="#process">process</a></li>
                        <li><a href="#testimonial">testimonials</a></li>
                        <li><a href="#faq">faqs</a></li>
                        <li><a href="#award2020">AWARDS 2020</a></li>
                        <li><a href="#footer">Contact Us</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</header>
<!-- =============== HEADER END =============== -->

<!--=================== PAGE-TITLE ===================-->
<div class="page-title" style="background: #175AA5;">
    <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Registration</li>
            </ul>
        </div>
        <h1 class="title">Registration</h1>
    </div>
</div>
<!--================= PAGE-TITLE END =================-->

<!-- <section class="thanku">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="assets/img/New_img/thanku.jpg" alt="" style="width: 100%;">
            </div>
            <div class="col-lg-7">
                <div class="RegistrationContent">
                    <h5>Welcome Shahista Naaz</h5>
                    <h2>REGISTRATION SUCCESSFULL</h2>
                    <h6>Thank you for submitting your application with CII - SIDM.</h6>
                    <p>Please click on the conformation link in the message to complete the mail authentication</p>
                    <button><a href="javascript:void(0)">Discover startup Now</a></button>
                </div>
            </div>
        </div>
    </div>
</section> -->


<div class="thanku">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="card text-center">
                    <div class="card-body RegistrationContent">
                        <img src="assets/img/New_img/logo.png" alt="" class="mb-3">
                        <!-- <h5 class="NewBtn">Welcome Shahista Naaz</h5> -->
                        <h2>REGISTRATION SUCCESS!</h2>
                        <h6>Thank you for submitting your application with CII - SIDM.</h6>
                        <a class="NewBtn" href="javascript:void(0)">Login Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--==================== FOOTER ====================-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-cont col-12 col-sm-6 col-lg-4">
                <a href="index.html" class="logo"><img src="assets/img/New_img/logo.png" alt="logo"></a>
                <p>
                    <i aria-hidden="true" class="fas fa-home"></i>
                    Society of Indian Defence Manufacturers
                    C/o Confederation of Indian Industry
                    The Mantosh Sondhi Centre
                    23, Institutional Area, Lodi Road,
                    New Delhi 110 003, India
                </p>
                <ul class="footer-contacts">
                    <li class="footer-phone">
                        <i aria-hidden="true" class="fas fa-phone-alt"></i>
                        <a href="tel:+91 11 45771000">+91 11 45771000</a>
                        <span> / </span>
                        <a href="tel:24629994">24629994 – 7</a>
                    </li>
                    <li class="footer-email">
                        <i aria-hidden="true" class="fas fa-envelope"></i>
                        <a href="mailto:membership@sidm.in" class="mt-2">membership@sidm.in</a>
                    </li>
                </ul>
            </div>
            <div class="footer-item-link col-12 col-sm-6 col-lg-4">
                <!-- <div class="footer-link">
                    <h5>Awards Tweets</h5>
                    <ul class="footer-list">
                        <li><a href="https://twitter.com/SIDMIndia/status/1443187020822503428"
                                target="blanck">https://twitter.com/SIDMIndia/status/1443187020<br />822503428</a>
                        </li>
                        <li><a
                                href="https://twitter.com/DefencePRO_Guj/status/1442806669461782529">https://twitter.com/DefencePRO_Guj/status/14428066694<br />61782529</a>
                        </li>
                        <li><a
                                href="https://twitter.com/SIDMIndia/status/1442841694265745410">https://twitter.com/SIDMIndia/status/1442841694265745410</a>
                        </li>
                        <li><a
                                href="https://twitter.com/rajnathsingh/status/1442823101767553037">https://twitter.com/rajnathsingh/status/14428231017<br />67553037</a>
                        </li>
                        <li><a
                                href="https://twitter.com/DefProdnIndia/status/1442823671563755524">https://twitter.com/DefProdnIndia/status/1442823671563<br />755524</a>
                        </li>
                        <li><a
                                href="https://twitter.com/SpokespersonMoD/status/1442805427549270019">https://twitter.com/SpokespersonMoD/status/1442805427549<br />270019</a>
                        </li>
                    </ul>
                </div> -->
                <a class="twitter-timeline" data-height="400" data-theme="dark"
                    href="https://twitter.com/SIDMIndia?ref_src=twsrc%5Etfw">Tweets by SIDMIndia</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="footer-subscribe col-12 col-sm-6 col-lg-4">
                <h5>Subscribe to our newsletter. Stay up to date with our latest news and updates.</h5>
                <form class="subscribe-form">
                    <input class="inp-form" type="email" name="subscribe" placeholder="E-mail">
                    <button class="btn-form" type="submit"><i class="fas fa-paper-plane"></i></button>
                </form>
                <p>By clicking the button you agree to the
                    <a href="javascript:void(0)" target="_blank">Privacy
                        Policy</a> and
                    <a href="javascript:void(0)" target="_blank">Terms and Conditions</a>
                </p>
                <p><a target="_blank" href="javascript:void(0)">© SIDM </a>All Rights
                    Reserved | Made with love by Team <a href="https://troology.in/demo/troology" target="_blank">
                        TROOLOGY</a>
                </p>
            </div>
        </div>
    </div>
</footer>