<div class="topHeader">
  <h2> Questionnaire </h2>
</div>
<div class="container">
  <form [formGroup]="questionnaireForm">
    <mat-stepper #stepper>

      <div formArrayName="aissment">
        <div *ngFor=" let controlName of nameAissment.controls; let i = index" [formGroupName]="i">
          <mat-step [stepControl]="nameAissment?.get([i])!">

            <h2>{{questionnaireData[i].parameter}}</h2>
            <mat-form-field *ngIf="questionnaireData[i].inputType==='singleSelect'" appearance="fill">
              <mat-label>Answer Type</mat-label>
              <mat-select formControlName="answer">
                <mat-option *ngFor="let option of questionnaireData[i].options" value="{{option.answer}}">
                  {{option.answer}} </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="questionnaireData[i].inputType==='multiSelect'" appearance="fill">
              <mat-label>Answer Type</mat-label>
              <mat-select formControlName="answer" multiple>
                <mat-option *ngFor="let option of questionnaireData[i].options" value="{{option.answer}}">
                  {{option.answer}} </mat-option>
              </mat-select>
            </mat-form-field>
            <p style="color: red;" *ngIf="controlName.get('answer')?.hasError('required')">
              please select at least one option
            </p>
            <br>
            <div *ngIf="questionnaireData[i].textBox" >
              <div>
                <label
                class="questionnaireLabel">Enter Description:</label>
                <textarea name="" id="" cols="30" rows="10" formControlName="description" required></textarea>
              </div>
            </div>
            <p style="color: red;" *ngIf="controlName.get('description')?.hasError('required')">
              Answer Description required
            </p>
            <div *ngIf="questionnaireData[i].upload" appearance="fill">

              <input type="file" (change)="changeListener($event,i)" required>
              <p style="color: red;" *ngIf="controlName.get('uploadDocuments')?.hasError('required')">
                Please upload required Documents
              </p>
            </div>
            <div>

              <button mat-button matStepperNext class="RegistrationBtn">Next</button>
              <button *ngIf="i!==0" mat-button matStepperPrevious class="RegistrationBtn">Back</button>

            </div>

          </mat-step>
        </div>
      </div>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button (click)="submitQuestionnaire()" class="RegistrationBtn">Submit</button>
          <button mat-button matStepperPrevious class="RegistrationBtn">Back</button>
        </div>
      </mat-step>
    </mat-stepper>

  </form>
</div>


<!-- <div class="questionnaireForm">

  <form [formGroup]="questionnaireForm">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Qs.</th>
          <th scope="col">Questions</th>
          <th scope="col">Answers</th>
        </tr>
      </thead>
      <tbody formArrayName="aissment">
        <tr *ngFor=" let controlName of nameAissment.controls; let i = index" [formGroupName]="i">
          <th scope="row">{{i+1}}</th>
          <td class="">{{questionnaireData[i].parameter}}</td>
          <td style="width:100px; overflow:hidden">

            <select class="paymentsDropdwn  select" [ngStyle]="{'border':submited ?  ' 1px solid #FF0000' :  '  1px solid #363a7a'}"
              formControlName="answer">
              <option *ngFor="let option of questionnaireData[i].options" value="{{option.answer}}">{{option.answer}}
              </option>
            </select>
            <p class="mb-2" style="color: red;" *ngIf="controlName.get('answer')?.hasError('required') &&(submited)">
              Please select one option
            </p>
    
          </td>
        </tr>


      </tbody>
    </table>
  </form>

  <button class="paymentsDropdwn" (click)="submitQuestionnaire()">Submit</button>
</div> -->

<!-- 
<div *ngFor=" let controlName of nameAissment.controls; let i = index"
[formGroupName]="i">


<input type="text" class="mt-4 mb-2 addInputBox" formControlName="name"> -->


<!-- <button *ngIf='i!==0' (click)="removeRegisteredOrganization(i)">Remove Registered  Organization</button>
-->