<div class="topHeader">
  <h2> Questionnaire </h2>
</div>
<div class="container">
  <form [formGroup]="questionnaireForm">
    <mat-stepper #stepper>

      <div formArrayName="aissment">
        <div *ngFor=" let controlName of nameAissment.controls; let i = index" [formGroupName]="i">
          <mat-step [stepControl]="nameAissment?.get([i])!" >

            <h2>{{questionnaireData[i].parameter}}</h2>
            <div class="auto-width">
              <mat-form-field *ngIf="questionnaireData[i].inputType==='singleSelect'" appearance="fill">
                <mat-label>Select Answer</mat-label>
                <mat-select formControlName="answer">
                  <mat-option *ngFor="let option of questionnaireData[i].options" value="{{option.answer}}">
                    {{option.answer}} </mat-option>
                </mat-select>
              </mat-form-field></div>
              <div class="auto-width">
              <mat-form-field *ngIf="questionnaireData[i].inputType==='multiSelect'" appearance="fill">
                <mat-label>Select Answer</mat-label>
                <mat-select formControlName="answer" multiple>
                  <mat-option *ngFor="let option of questionnaireData[i].options" value="{{option.answer}}">
                    {{option.answer}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
              <p style="color: red;" *ngIf="controlName.get('answer')?.hasError('required')&&(controlName.get('answer')?.touched||controlName.get('answer')?.dirty ||submited)">
                please select at least one option
              </p>
         
 
            <br>
            <div *ngIf="questionnaireData[i].textBox" >
              <div class="mb-2">
                <label
                class="questionnaireLabel">Enter Description:</label>
                <textarea name="" id="" cols="30" rows="10" formControlName="description" required></textarea>
              </div>
            </div>
            <p style="color: red;" *ngIf="controlName.get('description')?.hasError('required')&&(controlName.get('description')?.touched||controlName.get('description')?.dirty||submited)">
              Answer description required
            </p>
            <div *ngIf="questionnaireData[i].upload" appearance="fill">

              <input type="file" (change)="changeListener($event,i)" required>
              <p style="color: red;" *ngIf="controlName.get('uploadDocuments')?.hasError('required')&&(controlName.get('uploadDocuments')?.touched||controlName.get('uploadDocuments')?.dirty||submited)">
                Please upload required documents
              </p>
            </div>
            <div>

              <button *ngIf="i!==lastIndex ||userData.category==='cat4' " mat-button matStepperNext class="RegistrationBtn">Next</button>
              <button *ngIf="i!==0" mat-button matStepperPrevious class="RegistrationBtn">Back</button>
              <button *ngIf="i===lastIndex && userData.category!=='cat4'" mat-button (click)="submitQuestionnaire()" class="RegistrationBtn">Submit</button>
            </div>

          </mat-step>
        </div>
      </div>
      <div *ngIf="static" >
          <mat-step  >

            <h2>Number of types of products exported
              Give a list of products in an excel with their
              picture/small explanation</h2>
              <mat-form-field appearance="fill">
                <mat-label>Select Answer</mat-label>
                <mat-select formControlName="staticAnswer">
                  <mat-option  value="More than 05 type">
                    More than 05 type </mat-option>
                    <mat-option  value="03-04 types">
                      03-04 types</mat-option>
                      <mat-option  value="02 types of products">
                        02 types of products</mat-option>
                        <mat-option  value="Single product">
                          Single product</mat-option>
                </mat-select>
              </mat-form-field>
        <button  class="RegistrationBtn" (click)="addStaticQuestion()">ADD </button>
              <table class="table" formArrayName="staticTable" >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Product</th>
                    <th scope="col">Explain(25 words)</th>
                    <th scope="col">Upload Pic</th>
                    <th scope="col">IC Content %</th>
                </thead>
                <tbody>
                  <tr *ngFor=" let controlName of staticTable.controls; let i = index" [formGroupName]="i">
                   <td>{{i+1}}  <a class="addBtn mb-3" *ngIf='i!==0'
                    (click)="removeStaticQuestion(i)"><i
                        class="fa fa-trash"></i> </a>
                </td>
                   <td><input formControlName="product" type="text"></td>
                   <td><input formControlName="description"  type="text"></td>
                   <td><input  (change)="staticTableChangeListener($event,i)"  type="file"></td>
                   <td><input formControlName="IcContent"  type="text"></td>
                  </tr>
                </tbody>
              </table>
            
            <div>
              <table></table>
              <button mat-button (click)="submitStaticQuestionnaire()" class="RegistrationBtn">Submit</button>
              <button  mat-button matStepperPrevious class="RegistrationBtn">Back</button>

            </div>

          </mat-step>
        </div>

    </mat-stepper>

  </form>
</div>


<!-- <div class="questionnaireForm">

  <form [formGroup]="questionnaireForm">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Qs.</th>
          <th scope="col">Questions</th>
          <th scope="col">Answers</th>
        </tr>
      </thead>
      <tbody formArrayName="aissment">
        <tr *ngFor=" let controlName of nameAissment.controls; let i = index" [formGroupName]="i">
          <th scope="row">{{i+1}}</th>
          <td class="">{{questionnaireData[i].parameter}}</td>
          <td style="width:100px; overflow:hidden">

            <select class="paymentsDropdwn  select" [ngStyle]="{'border':submited ?  ' 1px solid #FF0000' :  '  1px solid #363a7a'}"
              formControlName="answer">
              <option *ngFor="let option of questionnaireData[i].options" value="{{option.answer}}">{{option.answer}}
              </option>
            </select>
            <p class="mb-2" style="color: red;" *ngIf="controlName.get('answer')?.hasError('required') &&(submited)">
              Please select one option
            </p>
    
          </td>
        </tr>


      </tbody>
    </table>
  </form>

  <button class="paymentsDropdwn" (click)="submitQuestionnaire()">Submit</button>
</div> -->

<!-- 
<div *ngFor=" let controlName of nameAissment.controls; let i = index"
[formGroupName]="i">


<input type="text" class="mt-4 mb-2 addInputBox" formControlName="name"> -->


<!-- <button *ngIf='i!==0' (click)="removeRegisteredOrganization(i)">Remove Registered  Organization</button>
-->