<div class="topHeader">
    <h2 *ngIf="aissmentdata?.category==='cat1'"> Category C1 Questionnaire  List  View</h2>
    <h2 *ngIf="aissmentdata?.category==='cat2'"> Category C2 Questionnaire  List  View</h2>
    <h2 *ngIf="aissmentdata?.category==='cat3'"> Category C3 Questionnaire  List  View</h2>
    <h2 *ngIf="aissmentdata?.category==='cat4'"> Category C4 Questionnaire  List  View</h2>
  </div>
  
  
  <div class="questionnaireForm">
    <div>
        <span class="save-btn">Total Score :{{aissmentdata?.totalScore}}</span>
      </div>
      <form [formGroup]="assessor">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Qs.</th>
            <th scope="col">Questions</th>
            <th scope="col">Response</th>
            <th scope="col">Attachment</th>
            <th scope="col">Score {{aissmentdata?.totalScore}}</th>
            <th scope="col"> Assessor Score <span *ngIf="aissmentdata.assessorStatus">{{assessorScore ?assessorScore:''}} </span></th>
            <th scope="col"> Max Score {{maxScore}}</th>
          </tr>
        </thead>
        <tbody  formArrayName="aissment">
          <tr *ngFor="let controlName of nameAissment.controls; let i = index"  [formGroupName]="i" >
            <th scope="row">{{i+1}}</th>
            <td class="">{{aissmentdata?.questionAns.at(i).question}}</td>
            <td>
                {{aissmentdata?.questionAns.at(i).answer}} <a *ngIf="aissmentdata?.questionAns.at(i).description" (click)="openModel(aissmentdata?.questionAns.at(i).description)">Description</a>
            </td>
            <td>   <a class="ml-2" *ngIf='aissmentdata?.questionAns.at(i).uploadDocuments'  target="blank"  href="{{aissmentdata?.questionAns.at(i).uploadDocuments}}"> View Documents</a></td>
            <td>
                {{aissmentdata?.questionAns.at(i).score}}
            </td>
            <td *ngIf="!aissmentdata.assessorStatus">
             <input type="text" formControlName="assessorScore" (keypress)="keyPressNumbers($event)">
             <p style="color: red;"
             *ngIf="controlName.get('assessorScore')?.hasError('required')&& this.submitted">
             Assessor Score  is required
         </p>
         <p style="color: red;"
         *ngIf="controlName.get('assessorScore')?.invalid && !controlName.get('assessorScore')?.hasError('required')&& this.submitted">
         Assessor Score should not Gratter then  {{aissmentdata?.questionAns.at(i).maxScore}}
     </p>
          </td>
          <td *ngIf="aissmentdata.assessorStatus">
            {{aissmentdata?.questionAns.at(i).assessorScore}}
         </td>
            <td>
                {{aissmentdata?.questionAns.at(i).maxScore}}
            </td>
          </tr>
         
        </tbody>
    </table>
  </form>
  </div>
  <div *ngIf="!aissmentdata.assessorStatus" class="container mb-3 " > 
    <button  class="viewBtn"  type="submit" (click)="submit()">
      Save
    </button>
  </div>


  
  