<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
        <mat-toolbar><a href=""> <img src="assets/img/New_img/logo.png" alt=""></a>
            

        </mat-toolbar>
        <mat-nav-list>
            <ul *ngIf="type==='admin'">
                <!-- <span class="fontSize">NAVIGATION</span>
                <li class=""><a href="javascript:void(0)"><i aria-hidden="true" class="fas fa-th-large"style="color: #fff;"></i>Dashboard</a></li> -->
                <span class="fontSize">APPLICANT</span>
                <li class="ml-2"><a   (click)="navigate('dashboard/admin')" ><i aria-hidden="true" class="fas fa-list" style="color: #fff;"></i>Applicant List</a></li>
                <li class="ml-2 "><a href="javascript:void(0)"><i aria-hidden="true" class="fas fa-plus" style="color: #fff;"></i> Add
                        New Applicant</a></li>
                <!-- <span class="fontSize">ASSESSOR</span>
                <li class="ml-2 "><a  (click)="navigate('dashboard/admin/assessor')"><i aria-hidden="true" class="fas fa-list" style="color: #fff;"></i>Assessor List</a></li>
                <li class="ml-2 "><a (click)="navigate('dashboard/admin/add/assessor')"><i aria-hidden="true" class="fas fa-plus" style="color: #fff;"></i> Add
                        New Assessor</a></li> -->
                <!-- <span class="fontSize">ASSESSMENT</span>
                <li class="ml-2 "><a (click)="navigate('dashboard/admin/assessorQuestionnaire')"><i aria-hidden="true" class="fas fa-eye" style="color: #fff;"></i>View
                        Assessments</a></li> -->
                <!-- <span class="fontSize">SYSTEM CONFIGURATION</span>
                <li class="ml-2"><a (click)="navigate('dashboard/admin/questionnaire')" ><i aria-hidden="true" class="fas fa-file-alt"
                            style="color: #fff;"></i>Questionnaire Setup</a></li>
                <li class="ml-2"><a   (click)="navigate('dashboard/admin/questionnaireList')"><i aria-hidden="true"
                            class="fas fa-file-alt" style="color: #fff;"></i>Questionnaire List</a></li> -->
                <span class="fontSize">LOGOUT</span>
                <li class=""><a (click)="logout()"><i aria-hidden="true" class="fas fa-power-off mr-2"
                            style="color: #fff;"></i>Logout</a></li>
            </ul>
            <ul *ngIf="type==='member'"> 
                <li class=""><a (click)="navigate('dashboard/member')"><i aria-hidden="true" class="fas fa-th-large"style="color: #fff;"></i>Dashboard</a></li>
                <li class="" ><a (click)="navigate('dashboard/member/applyNew')" ><i aria-hidden="true" class="fas fa-th-large"style="color: #fff;"></i>Apply for new category +</a></li>
                <!-- <span class="fontSize" *ngIf="cat1">Category C1</span>
                <li  class="ml-2" *ngIf="cat1"><a (click)="navigateTo('/dashboard/member/view/','cat1')"><i aria-hidden="true" class="fas fa-list" style="color: #fff;"></i> List View</a></li>
                
                <li class="ml-2" *ngIf="!QuesStatusCat1&&Quescat1"><a  (click)="navigateTo('dashboard/member/questionnaire/','cat1')"><i aria-hidden="true" class="fas fa-file-alt" style="color: #fff;"></i>  
                    Apply for award </a></li>
                    <li class="ml-2"  *ngIf="QuesStatusCat1"><a  (click)="navigateTo('dashboard/member/viewQuestionnaire/','cat1')"><i aria-hidden="true" class="fas fa-eye" style="color: #fff;"></i>
                        Award Questionnaire View </a></li>
                        <span class="fontSize" *ngIf="cat2">Category C2</span>
                    <li class="ml-2" *ngIf="cat2"><a (click)="navigateTo('/dashboard/member/view/','cat2')"><i aria-hidden="true" class="fas fa-list" style="color: #fff;"></i> List View</a></li>
                    <li class="ml-2" *ngIf="!QuesStatusCat2&&Quescat2"><a (click)="navigateTo('dashboard/member/questionnaire/','cat2')"><i aria-hidden="true" class="fas fa-file-alt" style="color: #fff;"></i>  
                        Apply for award </a></li>
                        <li class="ml-2" *ngIf="QuesStatusCat2"><a (click)="navigateTo('dashboard/member/viewQuestionnaire/','cat2')"><i aria-hidden="true" class="fas fa-eye" style="color: #fff;"></i>
                            Award Questionnaire View </a></li>
                            <span class="fontSize" *ngIf="cat3">Category C3</span>
                        <li class="ml-2"  *ngIf="cat3"><a (click)="navigateTo('/dashboard/member/view/','cat3')"><i aria-hidden="true" class="fas fa-list" style="color: #fff;"></i> List View</a></li>
                        <li class="ml-2"  *ngIf="!QuesStatusCat3&&Quescat3"><a (click)="navigateTo('dashboard/member/questionnaire/','cat3')"><i aria-hidden="true" class="fas fa-file-alt" style="color: #fff;"></i> 
                            Apply for award </a></li>
                            <li class="ml-2"  *ngIf="QuesStatusCat3"><a (click)="navigateTo('dashboard/member/viewQuestionnaire/','cat3')"><i aria-hidden="true" class="fas fa-eye" style="color: #fff;"></i>
                                Award Questionnaire View </a></li>
                                <span class="fontSize" *ngIf="cat4">Category C4</span>
                            <li class="ml-2"  *ngIf="cat4"><a (click)="navigateTo('/dashboard/member/view/','cat4')"><i aria-hidden="true" class="fas fa-list" style="color: #fff;"></i> List View</a></li>
                            <li class="ml-2"  *ngIf="!QuesStatusCat4&&Quescat4"><a (click)="navigateTo('dashboard/member/questionnaire/','cat4')"><i aria-hidden="true" class="fas fa-file-alt" style="color: #fff;"></i>  
                                Apply for award </a></li>
                                <li class="ml-2"  *ngIf="QuesStatusCat4"><a (click)="navigateTo('dashboard/member/viewQuestionnaire/','cat4')"><i aria-hidden="true" class="fas fa-eye" style="color: #fff;"></i>
                                    Award Questionnaire View </a></li> -->
                   
        
           
                <li><a href=""><i aria-hidden="true" class="fas fa-power-off mr-2"
                            style="color: #fff;"></i>Logout</a></li>
            </ul>
            <ul *ngIf="type==='assessor'">
                <span class="fontSize">NAVIGATION</span>
                <li class=""><a (click)="navigate('dashboard/assessor')"><i aria-hidden="true" class="fas fa-th-large"style="color: #fff;"></i>Dashboard</a></li>
                <span class="fontSize">APPLICANT</span>
                <li class="ml-2"><a   (click)="navigate('dashboard/assessor/applicantList')" ><i aria-hidden="true" class="fas fa-list" style="color: #fff;"></i>Applicant List</a></li>
        
                <span class="fontSize">ASSESSOR</span>
                <li class="ml-2 "><a href="javascript:void(0)"><i aria-hidden="true" class="fas fa-list" style="color: #fff;"></i>Assessor List</a></li>
                <li class="ml-2 "><a href="javascript:void(0)"><i aria-hidden="true" class="fas fa-plus" style="color: #fff;"></i> Add
                        New Assessor</a></li>
                <span class="fontSize">ASSESSMENT</span>
                <li class="ml-2 "><a href="javascript:void(0)"><i aria-hidden="true" class="fas fa-eye" style="color: #fff;"></i>View
                        Assessments</a></li>
               
                <span class="fontSize">LOGOUT</span>
                <li class=""><a (click)="logout()"><i aria-hidden="true" class="fas fa-power-off mr-2"
                            style="color: #fff;"></i>Logout</a></li>
            </ul>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <!-- <div class="profile">
                <div class="btn-group">
                    <img class="profilePic" src="assets/img/New_img/member-n.png" alt="">
                    <button type="button" class="profileBtn dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">

                        Naaz
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button" (click)="logout()">Logout</button>
                        <button class="dropdown-item" type="button">Change Password</button>
                    </div>
                </div>
            </div> -->
            <!-- <span>MyApp</span> -->
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

    <!-- this is the sidenav we are concerned with -->
    <mat-sidenav #panel class="panel" position="end">
        <!-- this is where i want to load different components dynamically -->
        <ng-container #content></ng-container>
    </mat-sidenav>
</mat-sidenav-container>