
<form [formGroup]="questionnaire" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Category</label>
        <select class="form-control" formControlName="category" id="exampleFormControlSelect1">
          <option value="cat1">C1 – Technology /
            Product Innovation to address Defence Capability Gaps </option>
          <option value="cat2">C2 – Import
            Substitution for Mission
            Critical Parts / Sub-Systems / Systems</option>
          <option value="cat3">C3 – Creation of
            Niche, Technological Capability for
            Design, Manufacturing or Testing</option>
          <option value="cat4">C4 – Export
            Performance of Defence & Aerospace
            Products</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Type of applicant</label>
        <select class="form-control" formControlName="typeOfApplicant" (change)="selectChangeHandler()" id="exampleFormControlSelect2">
          <option value="L">L – Large
            (Annual Turnover FY 2020-21 over
            & above Rs 250 Crore) </option>
          <option value="M">M – Medium
            (Annual Turnover FY 2020-21 between
            Rs 75 to 250 Crore)</option>
          <option value="S">S – SME/SSI/START-UP
            (Annual Turnover FY 2020-21 less
            than Rs 75 Crore)</option>
       
        </select>
      </div>
    <div class="form-group">
        <div formArrayName="question">
            <div *ngFor="let employee of questions.controls; let i = index">
              <div
                [formGroupName]="i"
                style="border: 1px solid blue; padding: 10px; width: 600px; margin: 5px;"
              >
              <div>
                Parameter:
                <input type="text" (keypress)="keyPresschar($event)"  formControlName="parameter" />
                <p style="color: red;"
                *ngIf="employee.get('parameter')?.hasError('required')">
                parameter are required
            </p>
              </div>
            
              <div>
                Max Score:
                <input type="text" (keypress)="keyPressNumbers($event)" formControlName="maxWeightage" />
                <p style="color: red;"
                *ngIf="employee.get('parameter')?.hasError('required')">
                Max Score is required
            </p>

              </div>
               
        
                <button *ngIf="i!==0" (click)="removeQuestion(i)">Remove</button>
        
                <div formArrayName="option">
                  <div
                    *ngFor="
                      let option of QuestionOptions(i).controls;
                      let y = index
                    "
                  >
                    <div [formGroupName]="y">
                   <div>
                    Answers :
                    <input type="text" (keypress)="keyPresschar($event)" formControlName="answers" />
                    <p style="color: red;"
                    *ngIf="option.get('answers')?.hasError('required')">
                    Answers is required
                </p>
                   </div>
                    <div>
                      Score:
                      <input type="text" (keypress)="keyPressNumbers($event)" formControlName="score" />
                      <p style="color: red;"
                      *ngIf="option.get('score')?.hasError('required')">
                      score is required
                  </p>
                    </div>
                     
                      <button *ngIf="y!==0" (click)="removeQuestionOption(i, y)">
                        Remove
                      </button>
                    </div>
                  </div>
                  <button type="button" (click)="addQuestionOption(i)">
                    Add Options
                  </button>
                </div>
              </div>
            </div>
          </div>
          <p>
            <button type="button" (click)="addQuestion()">Add Questions</button>
          </p>
    </div>
    <div class=" mt-4">
      <div class="form-group">
          <re-captcha (resolved)="resolved($event)"
              siteKey="6LcZYWYeAAAAAFFzV_pFdZBksDadFNggfpxTZMfS"></re-captcha>
      </div>

  </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


