<div class="topHeader">
  <h2>Dashboard</h2>
</div>

<div class="container">
  <form class="questionnaireForm" [formGroup]="questionnaire" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="questionnaireLabel" for="exampleFormControlSelect1">Category</label>
      <select class="form-control" formControlName="category" id="exampleFormControlSelect1">
        <option>C1 – Technology /
          Product Innovation to address Defence Capability Gaps </option>
        <option>C2 – Import
          Substitution for Mission
          Critical Parts / Sub-Systems / Systems</option>
        <option>C3 – Creation of
          Niche, Technological Capability for
          Design, Manufacturing or Testing</option>
        <option>C4 – Export
          Performance of Defence & Aerospace
          Products</option>
      </select>
      <div class="row">
        <div class="col-lg-9">
          <label class="questionnaireLabel mt-3" for="">Parameter:</label>
          <textarea name="" id="" cols="30" rows="10" formControlName="parameter"></textarea>
          <!-- <input type="text" formControlName="parameter" /> -->
        </div>
        <div class="col-lg-3">
          <label class="questionnaireLabel mt-3" for="">Max Weightage:</label>
          <input type="text" formControlName="maxWeightage" />
        </div>
        <!-- <div class="col-lg-1">
          <button class="save-btn savePosition" type="button"><i aria-hidden="true" class="fas fa-plus"></i></button>
        </div> -->
      </div>
      <div class="form-group">
        <div formArrayName="options">
          <div *ngFor="let employee of options.controls; let i = index">
            <div [formGroupName]="i">
              <h1 class="heading">Answers:</h1>
              <div class="row">
                <div class="col-lg-8">
                  <label class="questionnaireLabel" for="">Option:</label>
                  <textarea name="" id="" cols="30" rows="10" formControlName="answer"></textarea>
                  <!-- <input type="text" formControlName="answer" /> -->
                </div>
                <div class="col-lg-3">
                  <label class="questionnaireLabel" for=""> Score:</label>
                  <input type="text" formControlName="weightage" />
                </div>
                <div class="col-lg-1">
                  <div class="RemoveAddOption">
                    <button class="save-btn savePosition" (click)="removeOption(i)"><i aria-hidden="true"
                        class="fas fa-minus"></i></button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div>
          <button class="save-btn mt-3" (click)="addOptions()" type="button"><i aria-hidden="true"
              class="fas fa-plus"></i> Add Answers</button>
        </div>

      </div>
      <!-- <div class="row">
        <div class="col-lg-8">
          <label class="questionnaireLabel mt-3" for="">Answers:</label>
          <input type="text" />
        </div>
        <div class="col-lg-3">
          <label class="questionnaireLabel mt-3" for="">Score:</label>
          <input type="text" />
        </div>
        <div class="col-lg-1">
          <button class="save-btn savePosition" type="button"><i aria-hidden="true" class="fas fa-plus"></i></button>
        </div>
      </div> -->
    </div>


    <div class="form-group">
      <!-- <label class="questionnaireLabel" for="exampleFormControlSelect2">Type of applicant</label> -->
      <!-- <select class="form-control" formControlName="typeOfApplicant" id="exampleFormControlSelect2">
        <option>L – Large
          (Annual Turnover FY 2020-21 over
          & above Rs 250 Crore) </option>
        <option>M – Medium
          (Annual Turnover FY 2020-21 between
          Rs 75 to 250 Crore)</option>
        <option>S – SME/SSI/START-UP
          (Annual Turnover FY 2020-21 less
          than Rs 75 Crore)</option>

      </select> -->
    </div>
    <!-- <div class="form-group">
      <div formArrayName="question">
        <div *ngFor="let employee of option.controls; let i = index">
          <div [formGroupName]="i" style="border: 1px solid #363A7A; padding: 10px; width: 600px; margin: 5px;">
            <label class="questionnaireLabel mt-2" for="">Parameter:</label>

            <input type="text" formControlName="parameter" />
            <label class="questionnaireLabel mt-3" for="">Max Weightage:</label>

            <input type="text" formControlName="maxWeightage" />

            <div class="RemoveAddOption">
              <button class="NewBtn mt-2 mb-2" (click)="removeOptions(i)">Remove</button>

              <div formArrayName="option">
                <div *ngFor="
                        let option of QuestionOptions(i).controls;
                        let y = index
                      ">
                  <div [formGroupName]="y">
                    <label class="questionnaireLabel mt-3" for="">Answers :</label>

                    <input type="text" formControlName="answers" />
                    <label class="questionnaireLabel mt-3" for=""> Score:</label>

                    <input type="text" formControlName="score" />

                    <button class="NewBtn mt-2 mb-2" (click)="removeQuestionOption(i, y)">
                      Remove
                    </button>
                  </div>
                </div>
                <button class="NewBtn mb-2" type="button" (click)="addQuestionOption(i)">
                  Add Options
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>
        <button class="save-btn" type="button" (click)="addoptions()"><i aria-hidden="true" class="fas fa-plus"></i>Add
          Questions</button>
      </p>
    </div>  -->

    <button type="submit" class="NewBtn ">Submit</button>
  </form>
</div>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->

    <!-- Progress Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
      <td mat-cell *matCellDef="let row"> {{row.category}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="parameter">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Parameter </th>
      <td mat-cell *matCellDef="let row"> {{row.parameter}} </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="maxWeightage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Weightage </th>
      <td mat-cell *matCellDef="let row"> {{row.maxWeightage}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let row"> <div class="dropBtn dropdown">
        <button class="paymentsDropdwn  dropdown-toggle" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-expanded="false">
          <i aria-hidden="true" class="fas fa-cog" style="color:#363a7a"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" ><i aria-hidden="true" class="fas fa-eye" style="color:#363a7a"></i>
            View</a>
        
          <a class="dropdown-item"  ><i
              aria-hidden="true" class="fas fa-edit" style="color:#363a7a"></i> Edit</a>
        </div>
      </div> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>