<div class="topHeader">
    <h2>Dashboard</h2>
</div>


<div class="container">
    <div class="mt-4 mb-4">
        <div class="card">
            <div class="card-header">
                SIDM Bank Details for Remittance
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div> 
                            <span  class="fontWeightBold"> Beneficiary name: </span> 
                            Society of Indian Defence Manufacturers 
                        </div>
                        <div>
                            <div>
                                <span class="fontWeightBold">Account Number: </span>50100223201310
                            </div>
                            <div>
                                <span class="fontWeightBold">Bank: </span>HDFC Bank Ltd
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <span class="fontWeightBold">Address: </span>G 3/ 4, Suryakiran building, 19 KG Marg, <br> New Delhi -10001
                        </div>
                        <div>
                            <span class="fontWeightBold">IFSC Code: </span>HDFC0000003
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mx-4">
    <div class="col-lg-12">
        <div class="profileSection mb-6">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Created Date</th>
                                <th scope="col">Category Name</th>
                                <th scope="col">Company  Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">PAN Number</th>
                                <th scope="col">Action</th>

                            

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of memberData;let i = index" (click)="navigateTo('/dashboard/member/view/',item?._id)">
                                <td>{{i + 1}}</td>
                                <td>{{item?.createAt}}</td>
                                <td>{{item?.category}}</td>
                                <td>{{item?.nameOfCompany}}</td>
                                <td>{{item?.email}}</td>
                          
                                <td>{{item?.panNumber}}</td>

                                    <td><i aria-hidden="true" class="fas fa-eye"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


