<app-formheader></app-formheader>

<section class="registrationForm">
    <div class="maintitle mt-5">
        <div class="container">
            <p class="font-weight-bold">Please read the brochure carefully
                before applying.
                <a href="https://troology.in/demo/sidm/assets/img/New_img/SIDM-brochure-2022.pdf"
                    class="brochure" target="blanck">Click Here</a>
            </p>
            <p class="font-weight-bold">All <span class="mandatory">*</span>
                marked fields are mandatory</p>
            <div class="bb mt-4 mb-4"></div>
        </div>
    </div>

    <div class="formBody">
        <div class="container">
            <button class="NewBtn mb-5" (click)="registerdUser()">
                Registered User
            </button>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="ApplyOnline"
                    role="tabpanel"
                    aria-labelledby="pills-home-tab">
                    <form [formGroup]="registrationForm" class="mb-2">
                        <div class="formPart_1">
                            <div class="row">

                            </div>
                            <h5 class="mb-3 mt-3">Please choose the Category
                                that you wish to Apply for</h5>
                            <div class="">
                                <div class="checkgroup">
                                    <div class="radioBox Apply-control
                                        Apply-radio d-flex align-item-center">
                                        <input formControlName="category"
                                            value="cat1" type="radio"
                                            id="ApplyRadio1" name="category"
                                            class="Apply-control-input mt-2
                                            mr-2">
                                        <label class="Apply-control-label font"
                                            for="ApplyRadio1">C1 – Technology /
                                            Product Innovation to address
                                            Defence Capability Gaps </label>
                                    </div>
                                    <div class="mr-0 radioBox Apply-control
                                        Apply-radio d-flex align-item-center">
                                        <input formControlName="category"
                                            value="cat2" type="radio"
                                            id="ApplyRadio2" name="category"
                                            class="Apply-control-input mt-2
                                            mr-2">
                                        <label class="Apply-control-label font"
                                            for="ApplyRadio2">C2 – Import
                                            Substitution for Mission Critical
                                            Parts / Sub-Systems / Systems</label>
                                    </div>
                                    <div class="radioBox Apply-control
                                        Apply-radio d-flex align-item-center
                                        ml-3">
                                        <input formControlName="category"
                                            value="cat3" type="radio"
                                            id="ApplyRadio3" name="category"
                                            class="Apply-control-input mt-2
                                            mr-2">
                                        <label class="Apply-control-label font"
                                            for="ApplyRadio3">C3 – Creation of
                                            Niche, Technological Capability for
                                            Design, Manufacturing or Testing
                                        </label>
                                    </div>
                                    <div class="radioBox Apply-control
                                        Apply-radio d-flex align-item-center">
                                        <input formControlName="category"
                                            value="cat4" type="radio"
                                            id="ApplyRadio4" name="category"
                                            class="Apply-control-input mt-2
                                            mr-2">
                                        <label class="Apply-control-label font"
                                            for="ApplyRadio4">C4 – Export
                                            Performance of Defence & Aerospace
                                            Products</label>
                                    </div>
                                    <div *ngIf="registrationForm.controls['category'].invalid && (registrationForm.controls['category'].dirty || registrationForm.controls['category'].touched) ">
                                    <div
                                        *ngIf="submitted||registrationForm.controls['category'].invalid
                                        &&
                                        registrationForm.controls['category'].touched">
                                        <span
                                            *ngIf="registrationForm.get('category').hasError('required')"
                                            style="color: red;">
                                            category <strong>required</strong>
                                        </span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <h5 class="mt-5 mb-3">Type of Applicant company</h5>
                            <div class="row">
                                <div class="checkgroup">
                                    <div class="radioBox Apply-control
                                        Apply-radio d-flex align-item-center">
                                        <input formControlName="typeOfApplicant"
                                            value="L" type="radio"
                                            id="ApplyRadio5"
                                            name="typeOfApplicant"
                                            class="Apply-control-input mt-2
                                            mr-2">
                                        <label class="Apply-control-label font"
                                            for="ApplyRadio5">L – Large
                                            <br>(Annual Turnover FY 2020-21 over
                                            & above Rs 250 Crore)</label>
                                    </div>
                                    <div class="mr-0 radioBox Apply-control
                                        Apply-radio d-flex align-item-center">
                                        <input formControlName="typeOfApplicant"
                                            value="M" type="radio"
                                            id="ApplyRadio6"
                                            name="typeOfApplicant"
                                            class="Apply-control-input mt-2
                                            mr-2">
                                        <label class="Apply-control-label font"
                                            for="ApplyRadio6">M – Medium<br>
                                            (Annual Turnover FY 2020-21 between
                                            Rs 75 to 250 Crore)
                                        </label>
                                    </div>
                                    <div class="radioBox Apply-control
                                        Apply-radio d-flex align-item-center
                                        ml-3">
                                        <input formControlName="typeOfApplicant"
                                            value="S" type="radio"
                                            id="ApplyRadio7"
                                            name="typeOfApplicant"
                                            class="Apply-control-input mt-2
                                            mr-2">
                                        <label class="Apply-control-label font"
                                            for="ApplyRadio7">S – Small<br>
                                            (Annual Turnover FY 2020-21 less
                                            than Rs 75 Crore)
                                        </label>
                                    </div>
                                    <div *ngIf="registrationForm.controls['typeOfApplicant'].invalid && (registrationForm.controls['typeOfApplicant'].dirty || registrationForm.controls['typeOfApplicant'].touched) ">
                                    <div *ngIf="submitted||registrationForm.controls['typeOfApplicant'].invalid
                                        &&
                                        registrationForm.controls['typeOfApplicant'].touched">
                                        <span
                                            *ngIf="registrationForm.get('typeOfApplicant').hasError('required')"
                                            style="color: red;">
                                            Type of Applicant company <strong>required</strong>
                                        </span>
                                    </div>
                                </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5 class="mt-4 mb-3">Name of the
                                        Organization</h5>
                                    <input formControlName="nameOfOrganisation"
                                        type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <h3 class="mt-5 mb-3">Address of your
                                        organizations</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h5 class="mt-3 mb-3">Address Line 1 *</h5>
                                    <input formControlName="addressl1"
                                        type="text">
                                        <div *ngIf="registrationForm.controls['addressl1'].invalid && (registrationForm.controls['identifier'].dirty || registrationForm.controls['identifier'].touched) ">
                                    <div *ngIf="submitted||registrationForm.controls['addressl1'].invalid
                                        &&
                                        registrationForm.controls['addressl1'].touched">
                                        <span
                                            *ngIf="registrationForm.get('addressl1').hasError('required')"
                                            style="color: red;">
                                            Address Line 1 <strong>required</strong>
                                        </span>
                                    </div>
                                        </div>
                                </div>
                                <div class="col-lg-6">
                                    <h5 class="mt-3 mb-3">Address Line 2 </h5>
                                    <input formControlName="addressl2"
                                        type="text">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h5 class="mt-3 mb-3">State *</h5>
                                    <select formControlName="state"
                                        class="select">
                                        <option *ngFor="let item of states"
                                            value="{{item.state}}">{{item.state}}</option>
                                    </select>
                                    <!-- <input formControlName="state" type="text"> -->
                                    <div *ngIf="registrationForm.controls['state'].invalid && (registrationForm.controls['state'].dirty || registrationForm.controls['state'].touched) ">
                                    <div
                                        *ngIf="submitted||registrationForm.controls['state'].invalid
                                        &&
                                        registrationForm.controls['state'].touched">
                                        <span
                                            *ngIf="registrationForm.get('state').hasError('required')"
                                            style="color: red;">
                                            State <strong>required</strong>
                                        </span>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <h5 class="mt-3 mb-3">City *</h5>
                                    <input formControlName="city"
                                        (keypress)="keyPresschar($event)"
                                        type="text">
                                    <div *ngIf="submitted||registrationForm.controls['city'].invalid
                                        &&
                                        registrationForm.controls['city'].touched">
                                        <span
                                            *ngIf="registrationForm.get('city').hasError('required')"
                                            style="color: red;">
                                            City <strong>required</strong>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h5 class="mt-3 mb-3">Pincode *</h5>
                                    <input formControlName="pincode"
                                        (keypress)="keyPressNumbers($event)"
                                        type="text">
                                    <div> <div *ngIf="submitted||registrationForm.controls['pincode'].invalid
                                            &&
                                            registrationForm.controls['pincode'].touched">
                                            <span
                                                *ngIf="registrationForm.get('pincode').hasError('required')"
                                                style="color: red;">
                                                Pincode <strong>required</strong>
                                            </span>
                                            <span style="color: red;"
                                                *ngIf="registrationForm.get('pincode').invalid
                                                &&
                                                !registrationForm.get('pincode').hasError('required')">
                                                Please enter a valid pincode
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <h5 class="mt-3 mb-3">Contact Person Name *</h5>
                                    <input formControlName="name" type="text">
                                    <div *ngIf="submitted||registrationForm.controls['name'].invalid
                                        &&
                                        registrationForm.controls['name'].touched">
                                        <span
                                            *ngIf="registrationForm.get('name').hasError('required')"
                                            style="color: red;">
                                            Contact Person Name <strong>required</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <h5 class="mt-3 mb-3">Designation</h5>
                                    <input formControlName="designation"
                                        type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h5 class="mt-3 mb-3">E-Mail Address *</h5>
                                    <input appBlockCopyPaste formControlName="email" type="text"
                                        (focusout)="checkemail($event)"
                                        appCpoyPaste>
                                    <div *ngIf="submitted||
                                        registrationForm.controls['email'].invalid&& (registrationForm.controls['email'].dirty
                                        ||
                                        registrationForm.controls['email'].touched)">
                                        <span
                                            *ngIf="registrationForm.get('email').hasError('required')"
                                            style="color: red;">
                                            E-Mail Address <strong>required</strong>
                                        </span>
                                        <span style="color: red;"
                                            *ngIf="registrationForm.get('email').hasError('email')
                                            &&
                                            !registrationForm.get('email').hasError('required')">
                                            Please enter a valid E-Mail Address
                                        </span>
                                        <span style="color: red;"
                                        *ngIf="registrationForm.get('email').hasError('isExist')
                                        &&
                                        !registrationForm.get('email').hasError('required')&&!registrationForm.get('email').hasError('email')">
                                        E-Mail Address already exists 
                                    </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <h5 class="mt-3 mb-3"> Confirm E-Mail
                                        Address *</h5>
                                    <input appBlockCopyPaste formControlName="confirmEmail"
                                        type="password"
                                        (focusout)="confirmEmail($event)"
                                        appCpoyPaste>
                                    <div
                                        *ngIf="registrationForm.controls['confirmEmail'].invalid
                                        &&
                                        (registrationForm.controls['confirmEmail'].dirty
                                        ||
                                        registrationForm.controls['confirmEmail'].touched)">
                                       
                                            <span
                                                *ngIf="registrationForm.get('confirmEmail').hasError('required')"
                                                style="color: red;">
                                                please re-enter  E-Mail Address 
                                            </span>
                                            <span style="color: red;"
                                                *ngIf="registrationForm.get('confirmEmail').hasError('email')
                                                &&
                                                !registrationForm.get('confirmEmail').hasError('required')">
                                                Please enter a valid E-Mail
                                                Address
                                            </span>
                                            
                                            <span style="color: red;"
                                                *ngIf="registrationForm.get('confirmEmail').hasError('confirmEmail')
                                                &&
                                                !registrationForm.get('confirmEmail').hasError('required')&&
                                                !registrationForm.get('confirmEmail').hasError('email')">
                                                Email
                                                address mismatch 
                                            </span>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h5 class="mt-3 mb-3">Mobile Number *</h5>
                                    <input appBlockCopyPaste (keypress)="keyPressNumbers($event)"
                                    (focusout)="checkMobile($event)"
                                        formControlName="mobileNumber"
                                        type="text" appCpoyPaste>
                                    <div *ngIf="submitted||registrationForm.controls['mobileNumber'].invalid
                                        &&(registrationForm.controls['mobileNumber'].dirty||
                                        registrationForm.controls['mobileNumber'].touched)">
                                        <span
                                            *ngIf="registrationForm.get('mobileNumber').hasError('required')"
                                            style="color: red;">
                                            Mobile Number <strong>required</strong>
                                        </span>
                                        <span style="color: red;"
                                            *ngIf="registrationForm.get('mobileNumber').hasError('cellNumNotValid')
                                            &&
                                            !registrationForm.get('mobileNumber').hasError('required')">
                                            Please enter a valid mobile number
                                        </span>
                                        <span style="color: red;"
                                            *ngIf="registrationForm.get('mobileNumber').invalid
                                            &&(
                                            !registrationForm.get('mobileNumber').hasError('required') && !registrationForm.get('mobileNumber').hasError('cellNumNotValid'))">
                                            Mobile Number should be 10 digit  long
                                        </span>
                                        <span style="color: red;"
                                            *ngIf="registrationForm.get('mobileNumber').hasError('isExist')
                                            &&
                                            !registrationForm.get('mobileNumber').hasError('required')&& !registrationForm.get('mobileNumber').hasError('cellNumNotValid')">
                                            Mobile number already exists 
                                        </span>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <h5 class="mt-3 mb-3"> Confirm Mobile Number
                                        *</h5>
                                    <input appBlockCopyPaste (keypress)="keyPressNumbers($event)"
                                        formControlName="confirmMobileNumber"
                                        (focusout)="confirmmobile($event)"
                                        type="password" appCpoyPaste>
                                    <div
                                        *ngIf="registrationForm.controls['confirmMobileNumber'].invalid
                                        &&
                                        (registrationForm.controls['confirmMobileNumber'].dirty
                                        ||
                                        registrationForm.controls['confirmMobileNumber'].touched)">
                                            <span
                                                *ngIf="registrationForm.get('confirmMobileNumber').hasError('required')"
                                                style="color: red;">
                                                please re-enter  mobile number
                                            </span>
                                            <span style="color: red;"
                                                *ngIf="registrationForm.get('confirmMobileNumber').hasError('cellNumNotValid')
                                                &&
                                                !registrationForm.get('confirmMobileNumber').hasError('required')">
                                                Please enter a valid mobile
                                                number
                                            </span>
                                            <span style="color: red;"
                                                *ngIf="registrationForm.get('confirmMobileNumber').hasError('confirmMobileNumber')
                                                &&
                                                !registrationForm.get('confirmMobileNumber').hasError('required')&&
                                                !registrationForm.get('confirmMobileNumber').hasError('cellNumNotValid')">
                                                Mobile number mismatch 
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h5 class="mt-3 mb-3">PAN of the
                                        Organization *</h5>
                                    <input appBlockCopyPaste
                                        formControlName="panNumberOfOrganization"
                                        (focusout)="checkPan($event)"
                                        type="text" appCpoyPaste>
                                    <div *ngIf="submitted||registrationForm.controls['panNumberOfOrganization'].invalid
                                        &&
                                        registrationForm.controls['panNumberOfOrganization'].touched">
                                        <span
                                            *ngIf="registrationForm.get('panNumberOfOrganization').hasError('required')"
                                            style="color: red;">
                                            PAN of the Organization <strong>required</strong>
                                        </span>
                                        <span style="color: red;"
                                            *ngIf="registrationForm.get('panNumberOfOrganization').hasError('panValidation')
                                            &&
                                            !registrationForm.get('panNumberOfOrganization').hasError('required')">
                                            Please enter a valid Pan number
                                        </span>
                                        <span style="color: red;"
                                            *ngIf="registrationForm.get('panNumberOfOrganization').hasError('isExist')
                                            &&
                                            !registrationForm.get('panNumberOfOrganization').hasError('required') && ! registrationForm.get('panNumberOfOrganization').hasError('panValidation')">
                                            Pan number already exists 
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <h5 class="mt-3 mb-3">Confirm PAN of the
                                        Organization *</h5>
                                    <input appBlockCopyPaste
                                        formControlName="confirmPanNumberOfOrganization"
                                        type="password"
                                        (focusout)="confirmPan($event)"
                                        appCpoyPaste>
                                    <div
                                        *ngIf="registrationForm.controls['confirmPanNumberOfOrganization'].invalid
                                        &&
                                        (registrationForm.controls['confirmPanNumberOfOrganization'].dirty
                                        ||
                                        registrationForm.controls['confirmPanNumberOfOrganization'].touched)">
                                       
                                            <span
                                                *ngIf="registrationForm.get('confirmPanNumberOfOrganization').hasError('required')"
                                                style="color: red;">
                                                please re-enter  your PAN Number
                                            </span>
                                            <span style="color: red;"
                                                *ngIf="registrationForm.get('confirmPanNumberOfOrganization').hasError('panValidation')
                                                &&
                                                !registrationForm.get('confirmPanNumberOfOrganization').hasError('required')">
                                                Please enter a valid Pan number
                                            </span>
                                            <span style="color: red;"
                                                *ngIf="registrationForm.get('confirmPanNumberOfOrganization').hasError('confirmPanNumber')
                                                &&
                                                !registrationForm.get('confirmPanNumberOfOrganization').hasError('required')
                                                &&
                                                !registrationForm.get('confirmPanNumberOfOrganization').hasError('panValidation')">
                                                Pan number mismatch 
                                            </span>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h5 class="mt-3 mb-3">GSTIN of the
                                        Organization</h5>
                                    <input formControlName="gstinOfOrganization"
                                        type="text">
                                        
                                </div>
                                <div class="col-lg-6">
                                    <h5 class="mt-3 mb-3">Upload GST Certificate
                                        Document</h5>
                                    <input
                                        formControlName="documentGstCertificate"
                                        accept="application/pdf" type="file"
                                        (change)="changeListener($event,'documentGstCertificate')">
                                        <br>
                                        <span> only accept .pdf</span>
                                </div>
                                <div class="col-lg-6">
                                    <h5 class="mt-3 mb-3">Date of Incorporation
                                        of the Organization</h5>
                                    <input formControlName="dateOfOrganization"
                                        type="date">
                                </div>
                            </div>

                        </div>


                        <!-- **********************form part 2************************************************************************ -->
                        <div class="formPart_2">
                            <h5 class="mt-3 mb-3">Are you member of SIDM</h5>
                            <div class="container">
                                <ul class="nav nav-pills mb-3" id="pills-tab"
                                    role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link"id="pills-YES-tab"
                                            data-toggle="pill" href="#pills-YES"
                                            role="tab" aria-controls="pills-YES"
                                            aria-selected="true">YES</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-NO-tab"
                                            data-toggle="pill" href="#pills-NO"
                                            role="tab" aria-controls="pills-NO"
                                            aria-selected="false">NO</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade" id="pills-YES"
                                        role="tabpanel"
                                        aria-labelledby="pills-YES-tab">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p class="mt-2 mb-3">Provide the
                                                    membership number</p>
                                                <input
                                                    formControlName="sidmMemberShipNumber"
                                                    type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-NO"
                                        role="tabpanel"
                                        aria-labelledby="pills-NO-tab"></div>
                                </div>
                            </div>
                            <h5 class="mt-5 mb-3">Are you member of any other
                                association</h5>
                            <div class="container">
                                <ul class="nav nav-pills mb-3" id="pills-tab"
                                    role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link"id="pills-true-tab"
                                            data-toggle="pill"
                                            href="#pills-true" role="tab"
                                            aria-controls="pills-true"
                                            aria-selected="true">YES</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-false-tab"
                                            data-toggle="pill"
                                            href="#pills-false" role="tab"
                                            aria-controls="pills-false"
                                            aria-selected="false">NO</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade" id="pills-true"
                                        role="tabpanel"
                                        aria-labelledby="pills-true-tab">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p class="mt-2 mb-3">Enter the
                                                    name(s) of the associations
                                                    separated by comma</p>
                                                <input
                                                    formControlName="otherAssociationMemberShipNumber"
                                                    type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-false"
                                        role="tabpanel"
                                        aria-labelledby="pills-false-tab"></div>
                                </div>
                            </div>
                            <h5 class="mt-5 mb-3">Are you a registered Vendor of
                                any Defence Organisation such as
                                DPSU/DRDO etc</h5>
                            <div class="container">
                                <ul class="nav nav-pills mb-3" id="pills-tab"
                                    role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link"id="pills-vendor-tab"
                                            data-toggle="pill"
                                            href="#pills-vendor" role="tab"
                                            aria-controls="pills-vendor"
                                            aria-selected="vendor">YES</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"
                                            id="pills-nonvendor-tab"
                                            data-toggle="pill"
                                            href="#pills-nonvendor" role="tab"
                                            aria-controls="pills-nonvendor"
                                            aria-selected="nonvendor">NO</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade" id="pills-vendor"
                                        role="tabpanel"
                                        aria-labelledby="pills-vendor-tab">
                                        <div class="form-group">
                                            <div class="row mt-3">
                                                <div class="col-lg-6">
                                                    <h6 class="mb-2">Name of the
                                                        Vendor Organization
                                                        registered with</h6>
                                                    <input
                                                        formControlName="vendorOrganization1"
                                                        type="text">
                                                </div>
                                                <div class="col-lg-6">
                                                    <h6 class="mb-2">Name of the
                                                        Vendor Organization
                                                        registered with</h6>
                                                    <input
                                                        formControlName="vendorOrganization2"
                                                        type="text">
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-lg-6">
                                                    <h6 class="mb-2">Name of the
                                                        Vendor Organization
                                                        registered with</h6>
                                                    <input
                                                        formControlName="vendorOrganization3"
                                                        type="text">
                                                </div>
                                                <div class="col-lg-6">
                                                    <h6 class="mb-2">Name of the
                                                        Vendor Organization
                                                        registered with</h6>
                                                    <input
                                                        formControlName="vendorOrganization4"
                                                        type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade"
                                        id="pills-nonvendor" role="tabpanel"
                                        aria-labelledby="pills-nonvendor-tab"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5 class="mt-5 mb-4">Brief About the
                                        Company <p class="wordFont">( in 200
                                            Words
                                            )</p>
                                    </h5>
                                    <div class="">
                                        <textarea formControlName="briefCompany"
                                            class="form-control mb-3"
                                            aria-label="With textarea"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <p>Please give write up as per the format given
                                    below of not more then 3000 words
                                    about
                                    Company
                                    and the details indicating achievements to
                                    justify as to why Application
                                    deserves to
                                    be
                                    considered for the award apply for:</p>
                            </div>
                            <h5 class="mt-5 mb-4">About the company</h5>
                            <div class="">
                                <textarea formControlName="aboutCompany"
                                    class="form-control mb-3" aria-label="With
                                    textarea"></textarea>
                            </div>
                            <h5 class="mt-5 mb-4">Achievements</h5>
                            <div class="">
                                <textarea
                                    formControlName="achievementsToJustifyApplication"
                                    class="form-control mb-5" aria-label="With
                                    textarea"></textarea>
                            </div>
                            <h5 class="mt-5">Have you received any reports of
                                performance / letters of appreciation
                                from
                                customer
                                organization?</h5>
                            <div class="mb-3 mt-3">
                                <ul class="nav nav-pills mb-3" id="pills-tab"
                                    role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link"id="pills-reports-tab"
                                            data-toggle="pill"
                                            href="#pills-reports" role="tab"
                                            aria-controls="pills-reports"
                                            aria-selected="reports">YES</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"
                                            id="pills-noreports-tab"
                                            data-toggle="pill"
                                            href="#pills-noreports" role="tab"
                                            aria-controls="pills-noawarded"
                                            aria-selected="noreports" (click)="report()">NO</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade"
                                        id="pills-reports" role="tabpanel"
                                        aria-labelledby="pills-reports-tab">
                                        <div class="form-group">
                                            <h5 for="">Upload documents</h5>
                                            <input
                                                formControlName="appreciationDocuments"
                                                type="file"
                                                accept=".gif,.jpg,.jpeg,.png,.doc,.docx,.pdf"
                                                (change)="changeListener($event,'appreciationDocuments')"
                                                class="mt-3" name="" id=""
                                                aria-describedby="helpId"
                                                placeholder="">
                                                <br>
                                        <span> only accept .gif,.jpg,.jpeg,.png,.doc,.docx,.pdf </span>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade"
                                        id="pills-noreports" role="tabpanel"
                                        aria-labelledby="pills-noreports-tab"></div>
                                </div>
                            </div>
                            <h5 class="mt-5 mb-4">How does your achievement
                                compare with the other competing options
                                available to the customer?</h5>
                            <div class="">
                                <textarea formControlName="campareAchivement"
                                    class="form-control mb-5" aria-label="With
                                    textarea"></textarea>
                            </div>
                            <h5 class="mt-5 mb-4">How, in your opinion, dose
                                this award matter to your company?</h5>
                            <div class="">
                                <textarea formControlName="awardMatterToCompany"
                                    class="form-control mb-5" aria-label="With
                                    textarea"></textarea>
                            </div>
                            <h5 class="mt-5 mb-4">Please upload Photograph /
                                videos of the products / innovation /
                                facilities, fielded for the awards</h5>
                            <div class="">
                                <input formControlName="documentsOfProduct"
                                    type="file"
                                    accept=".gif,.jpg,.jpeg,.png,.doc,.docx,.pdf"
                                    (change)="changeListener($event,'documentsOfProduct')"
                                    class="border-light mb-4" name="" id=""
                                    aria-describedby="helpId"
                                    placeholder="">
                                    <br>
                                        <span> only accept .gif,.jpg,.jpeg,.png,.doc,.docx,.pdf </span>
                            </div>
                            <div class="col-md-12 mt-4">
                                <div class="form-group">
                                    <re-captcha
                                    (resolved)="resolved($event)" 
                                        siteKey="6LcZYWYeAAAAAFFzV_pFdZBksDadFNggfpxTZMfS" ></re-captcha>
                                </div>
    
                            </div>
                        </div>

                    </form>
                    <div class="container">
                        
                        <div class="row">
                            <div class="col-lg-12 mt-5 mb-5 text-center">
                                <button type="submit" class="NewBtn mx-2"
                                    (click)="finalSubmit('submit')"><span>Submit</span></button>
                                <button class="save-btn" target="blanck"
                                    (click)="savedraft('Draft')"><span>Save
                                        Draft</span></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<app-formfooter></app-formfooter>