	<!-- =============== PRELOADER =============== -->
	<!-- <div class="page-preloader-cover">
		<div class="cssload-loader">
			<div class="cssload-inner cssload-one"></div>
			<div class="cssload-inner cssload-two"></div>
			<div class="cssload-inner cssload-three"></div>
		</div>
	</div> -->
	<!-- ============== PRELOADER END ============== -->
	<span class="bg-effect" style="background-image: url(assets/img/main-bg.svg);"></span>

	<!-- <div data-toggle="modal" data-target="#trophy-video">
		<img class="trophy-img" src="assets/img/New_img/trophy.gif" alt="">
	</div> -->

	<!-- Modal -->
	<div class="modal fade" id="trophy-video" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="holder">
						<iframe height="500" width="100%" src="https://www.youtube.com/embed/uSURUCpIM10"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
					</div>
				</div>

			</div>
		</div>
	</div>
<!-- ================= HEADER ================= -->
<app-header></app-header>
<!-- =============== HEADER END =============== -->
<!-- ============= SLIDER ============= -->
<section class="s-marathon-slider">
    <div class="marathon-slider">
        <div class="marathon-slide">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="bannerTitle">Annual Session 2021 & SIDM Champion Award</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- <img class="marathon-slider-shape" src="assets/img/slider-home1-shape.svg" alt="shape"> -->
</section>
<!-- =========== SLIDER END =========== -->

<!-- ============= rajnath quote  ============= -->
<section id="register" class="s-marathon-register">
    <img src="assets/img/tringle-gray-little.svg" alt="img" class="register-img-effect-2">
    <div class="container">
        <div class="marathon-register-row">
            <img src="assets/img/New_img/DSC_8859.JPG" data-src="assets/img/New_img/DSC_8859.JPG" alt="img"
                class="register-img rx-lazy">
            <div class="marathon-register">
                <img src="assets/img/our-mission-2.svg" alt="img" class="register-img-effect-1">
                <div class="map-route-cover">
                    <h5>"We have opened up opportunities
                        to build a Mega Defence Programme, including fighter aircraft,
                        helicopters, tanks and submarines
                        through a strategic partnership
                        model that will help our private
                        companies become global giants in
                        the years to come. The recent contract of 56 transport aircraft for
                        Indian Air Force is one such example"</h5>
                    <h4>— Shri Rajnath Singh</h4>
                    <h5>Speaking at the
                        SIDM Awards Ceremony 2020</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============= rajnath quote END ============= -->

<!-- ============== ABOUT SIDM ============== -->
<section id="about" class="s-our-mission">
    <div class="container">
        <img class="mission-effect" src="../../../assets/img/our-mission-5.svg" alt="img">
        <h2 class="title">ABOUT SIDM</h2>
        <div class="row">
            <div class="col-lg-6 our-mission-img">
                <span>
                    <img class="mission-img-effect-1" src="../../../assets/img/our-mission-2.svg" alt="img">
                    <img class="mission-img rx-lazy" src="../../../assets/img/placeholder-all.png"
                        data-src="assets/img/New_img/1.JPG" alt="img">
                    <img class="mission-img-effect-4" src="../../../assets/img/tringle-gray-little.svg" alt="img">
                </span>
            </div>
            <div class="col-lg-6 our-mission-info">
                <p>The Society of Indian Defence Manufacturers (SIDM) is a not-for-profit association formed to be
                    the apex body of the Indian defence industry. (SIDM) plays a proactive role as an advocate,
                    catalyst, and facilitator for the growth and capability building of the defence industry in
                    India.</p>
                <p>SIDM’s vision is to catalyse the Indian defence industry to effectively contribute to India’s
                    national security and become a trustworthy global partner. Its mission is to work closely with
                    the Government towards enabling the growth of the defence industry and collaborate with experts
                    from the Armed forces, Academia and Defence industry to optimize the industry’s development
                    capabilities. SIDM's values are India First; One Voice and Self-Reliant for Security.</p>
                <a href="https://www.sidm.in/" class="NewBtn"><span>Read More</span></a>
            </div>
        </div>
    </div>
</section>
<!-- ============ ABOUT SIDM END ============ -->

<!-- ============== CORE OBJECTIVES ============== -->
<section id="Objective" class="s-event-schedule">
    <div class="container">
        <h2 class="title"><span>CORE OBJECTIVES</span></h2>
        <img class="schedule-effect-white" src="assets/img/tringle-white.svg" alt="img">
        <img class="schedule-effect-yellow" src="assets/img/tringle-yellow-little.svg" alt="img">
        <div class="row">
            <div class="col-xl-6">
                <div class="event-schedule-tabs">
                    <div class="event-schedule-item">
                        <div class="schedule-item-img"><img class="rx-lazy" src="assets/img/New_img/SIDM-c-logo-01.svg"
                                data-src="assets/img/New_img/SIDM-c-logo-01.svg" alt="img"></div>
                        <div class="schedule-item-info">
                            <h4>To encourage Indian industries to invest in technology and product innovations to
                                address capability gaps of defence forces</h4>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="schedule-item-img"><img class="rx-lazy" src="assets/img/New_img/SIDM-c-logo-01.svg"
                                data-src="assets/img/New_img/SIDM-c-logo-01.svg" alt="img"></div>
                        <div class="schedule-item-info">
                            <h4>To spur Indian industries to develop products for import substitution to sustain
                                legacy capabilities of the Defence Forces and save Foreign exchange, and in turn
                                create capabilities to undertake indigenous development of future products</h4>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="schedule-item-img"><img class="rx-lazy" src="assets/img/New_img/SIDM-c-logo-01.svg"
                                data-src="assets/img/New_img/SIDM-c-logo-01.svg" alt="img"></div>
                        <div class="schedule-item-info">
                            <h4>To encourage industries to invest in niche, indigenous technological capabilities in
                                the areas of design, manufacturing and testing through greenfield projects</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="event-schedule-tabs">
                    <div class="event-schedule-item">
                        <div class="schedule-item-img"><img class="rx-lazy" src="assets/img/New_img/SIDM-c-logo-01.svg"
                                data-src="assets/img/New_img/SIDM-c-logo-01.svg" alt="img"></div>
                        <div class="schedule-item-info">
                            <h4>To encourage Indian industries to invest in technology and product innovations to
                                address capability gaps of defence forces</h4>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="schedule-item-img"><img class="rx-lazy" src="assets/img/New_img/SIDM-c-logo-01.svg"
                                data-src="assets/img/New_img/SIDM-c-logo-01.svg" alt="img"></div>
                        <div class="schedule-item-info">
                            <h4>To facilitate sharing of knowledge, best practices and experience with membership
                                (may not be relevant to Industry but to Educational institutions, our senior
                                Advisors)</h4>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="schedule-item-img"><img class="rx-lazy" src="assets/img/New_img/SIDM-c-logo-01.svg"
                                data-src="assets/img/New_img/SIDM-c-logo-01.svg" alt="img"></div>
                        <div class="schedule-item-info">
                            <h4>To inculcate the culture and spirit of innovation to make the sector globally
                                competitive</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============ CORE OBJECTIVES END ============ -->

<!-- ================ AWARD CATEGORIES ================ -->
<!-- ---------------old section---------- -->
<!-- <section id="categories" class="s-choose-us" style="background-image: url(assets/img/bg-1.svg);">
    <div class="container">
        <h2 class="title"><span>AWARD CATEGORIES</span></h2>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 choose-us-item">
                <img class="rx-lazy" src="assets/img/placeholder-all.png"
                    data-src="assets/img/New_img/light-bulb.png" alt="img">
                <p>Technology/product innovation to address defence capability gaps</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 choose-us-item">
                <img class="rx-lazy" src="assets/img/placeholder-all.png" data-src="assets/img/New_img/mission.png"
                    alt="img">
                <p>Import substitution for mission critical parts/systems/sub-systems</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 choose-us-item">
                <img class="rx-lazy" src="assets/img/placeholder-all.png" data-src="assets/img/New_img/factory.png"
                    alt="img">
                <p>
                    Creation of niche technological capability for design, manufacturing or testing</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 choose-us-item">
                <img class="rx-lazy" src="assets/img/placeholder-all.png" data-src="assets/img/New_img/airplane.png"
                    alt="img">
                <p>Export performance of Defence and Aerospace products</p>
            </div>
        </div>
    </div>
</section> -->

<section id="categories" class="s-choose-us" style="background-image: url(assets/img/bg-1.svg);">
    <div class="container">
        <h2 class="title mt-4"><span>AWARD CATEGORIES</span></h2>
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#category-1"
                        role="tab" aria-controls="v-pills-home" aria-selected="true">Technology/ Product
                        Innovation to address
                        Defence Capability
                        gaps</a>

                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#category-2" role="tab"
                        aria-controls="v-pills-profile" aria-selected="false">Import substitution
                        for mission critical
                        parts/systems/subsystem</a>

                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#category-3" role="tab"
                        aria-controls="v-pills-messages" aria-selected="false">Creation of Niche
                        Technological
                        Capability for Design,
                        Manufacturing or
                        Testing</a>

                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#category-4" role="tab"
                        aria-controls="v-pills-settings" aria-selected="false">Export Performance
                        in Aerospace and
                        Defence Sector</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="category-1" role="tabpanel"
                        aria-labelledby="v-pills-home-tab">
                        <p class="mb-5">This category recognizes
                            companies who have
                            developed a defence
                            product in the country
                            through internal research,
                            design development and
                            manufacturing</p>
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="assets/img/New_img/img-2.jpg" alt="" class="award-categories-img">
                                <div class="category-detail">
                                    <h6>Larsen & Toubro
                                        Shipbuilding Ltd - FDN2</h6>
                                    <p>Large</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <img src="assets/img/New_img/img-1.jpg" alt="" class="award-categories-img">
                                <div class="category-detail">
                                    <h6>SMPP Pvt. Ltd</h6>
                                    <p>Medium</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <img src="assets/img/New_img/img-3.jpg" alt="" class="award-categories-img">
                                <div class="category-detail">
                                    <h6>Lekha Wireless
                                        Solutions Pvt. Ltd</h6>
                                    <p>SSI/Start-up
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="category-2" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab">
                        <p class="mb-5">This category recognizes
                            companies who have
                            successfully developed
                            indigenous products that
                            reduce cost, time and
                            save foreign outflow to the
                            exchequer</p>
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="assets/img/New_img/img-4.jpg" alt="" class="award-categories-img">
                                <div class="category-detail">
                                    <h6>High Energy Batteries
                                        (India) Ltd</h6>
                                    <p>SSI/Start-up
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <img src="assets/img/New_img/img-5.jpg" alt="" class="award-categories-img">
                                <div class="category-detail">
                                    <h6>Centum Electronics
                                        Ltd</h6>
                                    <p>Large</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <img src="assets/img/New_img/img-6.jpg" alt="" class="award-categories-img">
                                <div class="category-detail">
                                    <h6>MTAR Technologies Ltd
                                    </h6>
                                    <p>Medium
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="category-3" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab">
                        <p class="mb-5">Recognizes companies
                            that have invested in
                            infrastructure for design
                            and testing of their
                            indigenous products</p>
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="assets/img/New_img/img-7.jpg" alt="" class="award-categories-img">
                                <div class="category-detail">
                                    <h6>Anant Defence
                                        Systems Pvt. Lt</h6>
                                    <p>SSI/Start-up
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <img src="assets/img/New_img/img-8.jpg" alt="" class="award-categories-img">
                                <div class="category-detail">
                                    <h6>Godrej & Boyce Mfg
                                        Co. Ltd</h6>
                                    <p>Large</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane fade" id="category-4" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <p class="mb-5">India has been mostly
                            dependent on imports
                            for its national security;
                            however, India has quickly
                            moved up its ranking in the
                            Global Exports of Defence
                            and Aerospace products
                            becoming a part of the
                            global supply chains</p>
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="assets/img/New_img/img-9.jpg" alt="" class="award-categories-img">
                                <div class="category-detail">
                                    <h6>Goa Shipyard Ltd</h6>
                                    <p>Large</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <img src="assets/img/New_img/img-10.jpg" alt="" class="award-categories-img">
                                <div class="category-detail">
                                    <h6>Kalyani Rafael
                                        Advanced Systems
                                        Pvt. Ltd</h6>
                                    <p>Large</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <img src="assets/img/New_img/img-11.jpg" alt="" class="award-categories-img">
                                <div class="category-detail">
                                    <h6>Mahindra Defence
                                        Systems Limited</h6>
                                    <p>Large
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <img src="assets/img/New_img/img-12.jpg" alt="" class="award-categories-img">
                                <div class="category-detail">
                                    <h6>Micron Instruments
                                        Pvt Ltd</h6>
                                    <p>SSI/Start-up
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- --------------old section end-------- -->

<!-- ============== AWARD CATEGORIES END ============== -->

<!-- ============== Eligibility Criteria  ============== -->
<section class="s-event-schedule">
    <div class="container">
        <h2 class="title"><span>ELIGIBILITY CRITERIA</span></h2>
        <img class="schedule-effect-white" src="assets/img/tringle-white.svg" alt="img">
        <img class="schedule-effect-yellow" src="assets/img/tringle-yellow-little.svg" alt="img">
        <div class="row">
            <div class="col-xl-6">
                <div class="event-schedule-tabs">
                    <div class="event-schedule-item">
                        <div class="schedule-item-img"><img class="rx-lazy" src="assets/img/New_img/number-one.png"
                                data-src="assets/img/New_img/number-one.png" alt="img"></div>
                        <div class="schedule-item-info">
                            <h4>All Indian manufacturing companies are eligible for the SIDM Champion Awards</h4>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="schedule-item-img"><img class="rx-lazy" src="assets/img/New_img/number-2.png"
                                data-src="assets/img/New_img/number-2.png" alt="img"></div>
                        <div class="schedule-item-info">
                            <h4>Companies can apply for more than one category simultaneously</h4>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="schedule-item-img"><img class="rx-lazy" src="assets/img/New_img/number-3.png"
                                data-src="assets/img/New_img/number-3.png" alt="img"></div>
                        <div class="schedule-item-info">
                            <h4>SIDM Champion of a particular category will not be able to apply for the award in
                                the subsequent two editions.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <img src="assets/img/New_img/DSC_8917.JPG" alt="" class="Eligibility-img">
            </div>
        </div>
    </div>
</section>

<!-- ============== Eligibility Criteria END ============== -->

<!-- ============== Application And Participation Fee  ============== -->
<div class="demo">
    <div class="container">
        <h1 class="heading-title text-center">Application And Participation Fee</h1>
        <h6 class="text-center mb-3">Last date of Application 26th December 2020</h6>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header" style="background-color: #5B7842;">
                        <h3 class="heading">Large<br /> (>== <i class="fa fa-rupee" aria-hidden="true"></i>500 Cr)
                        </h3>

                        <h6 class="subHeading">Scale (Based on Turnover of the Co.)</h6>
                        <span class="subtitle">Fee Structure</span>
                    </div>
                    <h4>Member SIDM/CII</h4>
                    <ul class="pricing-content border-bottom">
                        <li>Application Fee : 1000</li>
                        <li>Participation Fee : 9000</li>
                        <li class="fontWeight mb-3">Total Fee : 10000</li>
                    </ul>
                    <h4>Non-Member</h4>
                    <ul class="pricing-content">
                        <li>Application Fee : 1500</li>
                        <li>Participation Fee : 13500</li>
                        <li class="fontWeight">Total Fee : 15000</li>
                    </ul>
                    <a href="registration.html" class="NewBtn">Apply Now</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header" style="background-color: #4C5D34;">
                        <h3 class="heading">Medium<br /> (<i class="fa fa-rupee" aria-hidden="true"></i>100cr-499
                            Cr)</h3>
                        <h6 class="subHeading">Scale (Based on Turnover of the Co.)</h6>
                        <span class="subtitle">Fee Structure</span>
                    </div>
                    <h4>Member SIDM/CII</h4>
                    <ul class="pricing-content border-bottom">
                        <li>Application Fee : 1000</li>
                        <li>Participation Fee : 6000</li>
                        <li class="fontWeight mb-3">Total Fee : 7000</li>
                    </ul>
                    <h4>Non-Member</h4>
                    <ul class="pricing-content">
                        <li>Application Fee : 1500</li>
                        <li>Participation Fee : 8500</li>
                        <li class="fontWeight">Total Fee : 10000</li>
                    </ul>
                    <a href="registration.html" class="NewBtn">Apply Now</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header" style="background-color: #3e4c29;">
                        <h3 class="heading">Small/Start up<br /> (less than <i class="fa fa-rupee"
                                aria-hidden="true"></i>100 Cr)</h3>
                        <h6 class="subHeading">Scale (Based on Turnover of the Co.)</h6>
                        <span class="subtitle">Fee Structure</span>
                    </div>
                    <h4>Member SIDM/CII</h4>
                    <ul class="pricing-content border-bottom">
                        <li>Application Fee : 1000</li>
                        <li>Participation Fee : 1000</li>
                        <li class="fontWeight mb-3">Total Fee : 2000</li>
                    </ul>
                    <h4>Non-Member</h4>
                    <ul class="pricing-content">
                        <li>Application Fee : 1500</li>
                        <li>Participation Fee : 3500</li>
                        <li class="fontWeight">Total Fee : 5000</li>
                    </ul>
                    <a href="registration.html" class="NewBtn">Apply Now</a>
                </div>
            </div>
        </div>
        <p class="pt-4 table-text text-center"> Application
            fee is
            payable when applying for the award category</p>
        <p class="table-text text-center">Participation fee
            is payable once the
            product/technology/innovation is found eligible and
            documentation is complete.</p>
    </div>
</div>
<!-- ============== Application And Participation Fee END ============== -->

<!-- ============== AWARDS COMMITTEE ============== -->
<section id="committee" class="s-our-speaker team-our-speaker">
    <div class="container">
        <h2 class="title"><span>AWARDS COMMITTEE</span></h2>

        <div class="row d-flex justify-content-center mb-4">
            <div class="col-lg-4">
                <h3 class="mb-3">Chairman</h3>
                <div class="our-speaker-item">
                    <img src="assets/img/New_img/pillai.jpg" alt="img">
                    <div class="speaker-item-info">
                        <h3 class="name">Dr A Sivathanu Pillai</h3>
                        <p class="prof">Founder CEO & MD, BrahMos Aerospace, Former Hon’ Distinguished Professor,
                            ISRO and Former Chief Controller (R&D), DRDO</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h3 class="mb-3">Members</h3>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="our-speaker-item">
                            <img src="assets/img/New_img/parlahda.jpg" alt="img">
                            <div class="speaker-item-info">
                                <h3 class="name">Dr Prahlada Ramarao</h3>
                                <p class="prof">Former Distinguished Scientist & CC R&D, DRDO</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="our-speaker-item">
                            <img src="assets/img/New_img/jp_nehra.jpg" alt="img">
                            <div class="speaker-item-info">
                                <h3 class="name">Lt Gen JP Nehra</h3>
                                <p class="prof">PVSM, AVSM and Bar (Retd) Principal Advisor, CII</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="our-speaker-item">
                            <img src="assets/img/New_img/Bajpai.jpg" alt="img">
                            <div class="speaker-item-info">
                                <h3 class="name">Mr SC Bajpai</h3>
                                <p class="prof">Ex DGOF & Chairman, Ordnance Factory Board</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div class="our-speaker-item">
                            <img src="assets/img/New_img/Tyagi.jpg" alt="img">
                            <div class="speaker-item-info">
                                <h3 class="name">Dr RK Tyagi</h3>
                                <p class="prof">Chairman, Board of Governors, MNIT, Jaipur and former CMD Hindustan
                                    Aeronautics Limited and PawanHans Helicopters</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="our-speaker-item">
                            <img src="assets/img/New_img/Pritam.jpg" alt="img">
                            <div class="speaker-item-info">
                                <h3 class="name">Rear Adm. Pritam Lal</h3>
                                <p class="prof">Principal Advisor, Society of Indian Defence Manufacturers and
                                    Chairman,
                                    SIDM Champion Awards Screening Committee</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="our-speaker-item">
                            <img src="assets/img/New_img/DG-PIC.jpg" alt="img">
                            <div class="speaker-item-info">
                                <h3 class="name">Mr Sunil Misra</h3>
                                <p class="prof">Director General SIDM, Member Secretary</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>

        </div>

    </div>
</section>
<!-- ============ AWARDS COMMITTEE END ============ -->

<!--================ SELECTION PROCESS ================-->
<section id="process" class="s-marathon-news">
    <div class="container">
        <h2 class="title"><span>SELECTION PROCESS</span></h2>
        <div class="marathon-news-slider">
            <div class="marathon-news-slide">
                <div class="marathon-news-date"><span>01</span></div>
                <div class="marathon-news-item">
                    <div class="marathon-post-thumbnail">
                        <img src="assets/img/New_img/1.JPG" alt="img" style="width: 100%;">
                    </div>
                    <h5>Applicants to file their application via an online form :
                        www.award.sidm.in</h5>
                </div>
            </div>
            <div class="marathon-news-slide">
                <div class="marathon-news-date"><span>02</span></div>
                <div class="marathon-news-item">
                    <div class="marathon-post-thumbnail">
                        <img src="assets/img/New_img/2.JPG" alt="img" style="width: 100%;">
                    </div>
                    <h5>Screening Committee to filter applications on basis of
                        eligibility, accuracy and completeness.</h5>

                </div>
            </div>
            <div class="marathon-news-slide">
                <div class="marathon-news-date"><span>03</span></div>
                <div class="marathon-news-item">
                    <div class="marathon-post-thumbnail">
                        <img src="assets/img/New_img/3.JPG" alt="img" style="width: 100%;">
                    </div>
                    <h5>Successful applicants to fill a detailed questionnaire,
                        specific to the category they are competing in, and submit the same along with a
                        nomination fee.</h5>

                </div>
            </div>
            <div class="marathon-news-slide">
                <div class="marathon-news-date"><span>04</span></div>
                <div class="marathon-news-item">
                    <div class="marathon-post-thumbnail">
                        <img src="assets/img/New_img/7.JPG" alt="img" style="width: 100%;">
                    </div>
                    <h5>Applicants to be scored based on their response to the
                        questionnaire.</h5>

                </div>
            </div>
            <div class="marathon-news-slide">
                <div class="marathon-news-date"><span>05</span></div>
                <div class="marathon-news-item">

                    <div class="marathon-post-thumbnail">
                        <img src="assets/img/New_img/4.JPG" alt="img" style="width: 100%;">
                    </div>
                    <h5>Shortlisted applicants to be invited for presentations to the Awards Committee</h5>
                </div>
            </div>
            <div class="marathon-news-slide">
                <div class="marathon-news-date"><span>06</span></div>
                <div class="marathon-news-item">
                    <div class="marathon-post-thumbnail">
                        <img src="assets/img/New_img/5.JPG" alt="img" style="width: 100%;">
                    </div>
                    <h5>Awards Committee to select the SIDM Champions in each category,based on their presentation
                    </h5>

                </div>
            </div>
            <div class="marathon-news-slide">
                <div class="marathon-news-date"><span>07</span></div>
                <div class="marathon-news-item">
                    <div class="marathon-post-thumbnail">
                        <img src="assets/img/New_img/6.JPG" alt="img" style="width: 100%;">
                    </div>
                    <h5>SIDM Champions Awards will be presented by the Honble Raksha
                        Mantri ji.</h5>

                </div>
            </div>
        </div>
    </div>
</section>
<!--============== SELECTION PROCESS END ==============-->

<!--================== S-TESTIMONIALS ==================-->
<section id="testimonial" class="s-testimonials">
    <div class="container">
        <h2 class="title"><span>TESTIMONIALS</span></h2>
        <div class="slider-testimonial">
            <div class="slide-testimonial">
                <div class="testimonial-item">
                    <!-- <img src="assets/img/New_img/testimonial-img.jpg" alt="img"> -->
                    <p class="testimon-content">"“India’s defence industry eco- system must be like the Forc- es it
                        seeks to arm – motivated
                        and committed to be the best."</p>
                    <h5 class="name">Late General Bipin Rawat</h5>
                    <div class="prof">former Chief of
                        Defence Staff and Secretary, Department of
                        Military Affairs</div>
                </div>
            </div>
            <div class="slide-testimonial">
                <div class="testimonial-item">
                    <!-- <img src="assets/img/New_img/testimonial-img.jpg" alt="img"> -->
                    <p class="testimon-content">"SIDM Champion Awards is a
                        nod to the need for excellence."</p>
                    <h5 class="name">Dr Ajay Kumar</h5>
                    <div class="prof">Defence Secretary</div>
                </div>
            </div>
            <div class="slide-testimonial">
                <div class="testimonial-item">
                    <!-- <img src="assets/img/New_img/testimonial-img.jpg" alt="img"> -->
                    <p class="testimon-content">"Nothing is more motivating for
                        the military than knowing that
                        a capable defence industry
                        has its back."</p>
                    <h5 class="name">S. P. Shukla</h5>
                    <div class="prof">President, SIDM</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ S-TESTIMONIALS END ================-->

<!-- ============== FAQ ============== -->
<section id="faq" class="s-event-schedule">
    <div class="container">
        <h2 class="title"><span>FAQ</span></h2>
        <img class="schedule-effect-white" src="assets/img/tringle-white.svg" alt="img">
        <img class="schedule-effect-yellow" src="assets/img/tringle-yellow-little.svg" alt="img">
        <div class="row">
            <div class="col-md-12">
                <div class="event-schedule-tabs">
                    <div class="event-schedule-item">
                        <div class="schedule-item-img">
                            <img class="rx-lazy" src="assets/img/placeholder-all.png"
                                data-src="assets/img/New_img/ask.png" alt="img">
                        </div>
                        <div class="schedule-item-info">
                            <h3>Who can participate?</h3>
                            <div class="schedule-info-content" style="display: block;">
                                <p>All companies in the field of Defence manufacturing, technology development, R &
                                    D</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="schedule-item-img"><img class="rx-lazy" src="assets/img/placeholder-all.png"
                                data-src="assets/img/New_img/ask.png" alt="img"></div>
                        <div class="schedule-item-info">
                            <h3>What is the fee?</h3>
                            <div class="schedule-info-content">
                                <p>The fee which is payable in two stages. Partly in application stage and second in
                                    participation stage. (Refer to Fee Grid)</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="schedule-item-img"><img class="rx-lazy" src="assets/img/placeholder-all.png"
                                data-src="assets/img/New_img/ask.png" alt="img"></div>
                        <div class="schedule-item-info">
                            <h3>Can a company participate in more than one category?</h3>
                            <div class="schedule-info-content">
                                <p>company can participate in more than one category. Separate fee is payable for
                                    each category</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="schedule-item-img"><img class="rx-lazy" src="assets/img/placeholder-all.png"
                                data-src="assets/img/New_img/ask.png" alt="img"></div>
                        <div class="schedule-item-info">
                            <h3>Is the fee refundable if I don’t clear the application and not get award?</h3>
                            <div class="schedule-info-content">
                                <p>Fee is non-refundable.</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="schedule-item-img"><img class="rx-lazy" src="assets/img/placeholder-all.png"
                                data-src="assets/img/New_img/ask.png" alt="img"></div>
                        <div class="schedule-item-info">
                            <h3>Will my application data made Public?</h3>
                            <div class="schedule-info-content">
                                <p>SIDM intends to publish a compendium of the Awards. Only the Data permitted by
                                    the Company will be made public</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="schedule-item-img"><img class="rx-lazy" src="assets/img/placeholder-all.png"
                                data-src="assets/img/New_img/ask.png" alt="img"></div>
                        <div class="schedule-item-info">
                            <h3>Do I need to Submit Technical details also in the application?</h3>
                            <div class="schedule-info-content">
                                <p>Companies are not required to submit technical details of their
                                    Innovation/Products to maintain confidentiality</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="schedule-item-img"><img class="rx-lazy" src="assets/img/placeholder-all.png"
                                data-src="assets/img/New_img/ask.png" alt="img"></div>
                        <div class="schedule-item-info">
                            <h3>What is the last date to apply ?</h3>
                            <div class="schedule-info-content">
                                <p>21 December 2020. In case Industry demands , we will extend.</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-schedule-item">
                        <div class="schedule-item-img"><img class="rx-lazy" src="assets/img/placeholder-all.png"
                                data-src="assets/img/New_img/ask.png" alt="img"></div>
                        <div class="schedule-item-info">
                            <h3>What if the Innovation/product qualifies for more than 1 category</h3>
                            <div class="schedule-info-content">
                                <p>Fill separate application for each category. If found eligible , we will ask you
                                    to participate in all categories.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============ FAQ END ============ -->

<!-- *******************video start********************* -->
<section id="video">
    <div class="container">
        <div class="videoInner">
            <h2 class="title"><span>VIDEOS</span></h2>
            <div class="row">
                <div class="col-lg-7">
                    <div class="video_slogan">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                            sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                            voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                            amet,
                            consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore
                            et
                            dolore magnam aliquam quaerat voluptatem.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quam dolorem
                            repudiandae
                            laudantium ratione nisi consequatur quo vero explicabo. Temporibus soluta, nesciunt
                            libero
                            vel ratione eaque.</p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="single-item">
                        <div class="holder">
                            <iframe height="300" src="https://www.youtube.com/embed/uSURUCpIM10"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <div class="holder">
                            <iframe height="300" src="https://www.youtube.com/embed/4jbZtFp4X_Y"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <div class="holder">
                            <iframe height="300" src="https://www.youtube.com/embed/MCt-30k_bF8"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- ********************************video end************************* -->

<!--================ GALLERY ================-->
<section class="gallery">
    <div class="container">
        <div class="img-container">
            
            <img src="assets/img/New_img/1.JPG" alt="Image 1" />
            <img src="assets/img/New_img/2.JPG" alt="Image 2" />
            <img src="assets/img/New_img/3.JPG" alt="Image 3" />
            <img src="assets/img/New_img/6.JPG" alt="Image 4" />
            <img src="assets/img/New_img/7.JPG" alt="Image 5" />
            <img src="assets/img/New_img/8.JPG" alt="Image 6" />
            <img src="assets/img/New_img/DSC_8781.JPG" alt="Image 7" />
            <img src="assets/img/New_img/DSC_8800.JPG" alt="Image 8" />
            <img src="assets/img/New_img/DSC_8844.JPG" alt="Image 9" />
            <img src="assets/img/New_img/DSC_8858.JPG" alt="Image 10" />
            <img src="assets/img/New_img/11.JPG" alt="Image 11" />
            <img src="assets/img/New_img/9.JPG" alt="Image 12" />
        </div>
    </div>
</section>


<!--==================== FOOTER ====================-->
<app-footer></app-footer>
<!--================== FOOTER END ==================-->

<!--=================== TO TOP ===================-->

