

<!--=================== PAGE-TITLE ===================-->
<div class="page-title" style="background: #175AA5;">
    <div class="container">
     
        <h1 class="title">Registration</h1>
    </div>
</div>
<!--================= PAGE-TITLE END =================-->

<!-- <section class="thanku">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="assets/img/New_img/thanku.jpg" alt="" style="width: 100%;">
            </div>
            <div class="col-lg-7">
                <div class="RegistrationContent">
                    <h5>Welcome Shahista Naaz</h5>
                    <h2>REGISTRATION SUCCESSFULL</h2>
                    <h6>Thank you for submitting your application with CII - SIDM.</h6>
                    <p>Please click on the conformation link in the message to complete the mail authentication</p>
                    <button><a href="javascript:void(0)">Discover startup Now</a></button>
                </div>
            </div>
        </div>
    </div>
</section> -->


<div class="thanku">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="card text-center">
                    <div class="card-body RegistrationContent">
                        <img src="assets/img/New_img/logo.png" alt="" class="mb-3">
                        <!-- <h5 class="NewBtn">Welcome Shahista Naaz</h5> -->
                        <h2>REGISTRATION SUCCESS!</h2>
                        <h6>Thank you for submitting your application with CII - SIDM.</h6>
                        <a class="NewBtn" (click)="registerdUser()">Login Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--==================== FOOTER ====================-->
<footer id="footer">
 
</footer>