<!-- ================= HEADER ================= -->
<header class="marathon-header-fixed header-fixed">
    <a href="javascript:void(0)" class="nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <div class="top-panel">
        <div class="container">
            <a href="javascript:void(0)" class="logo2">
                <img class="headerLogo1" src="assets/img/New_img/SIDM-c-logo-01.svg" alt="logo"
                >
            </a>
        <a href="javascript:void(0)" class="logo1">
            <img class="headerLogo2" src="assets/img/New_img/logo.png" alt="logo"
                >
            </a>

        <a href="javascript:void(0)" class="logo3">
            <img class="headerLogo3"
                src="assets/img/New_img/azadi-ka-amrit-mahotsav.png" alt="logo"
                >
            </a>
        </div>
    </div>
    <!-- <div class="header-nav">
        <div class="container">
            <div class="header-nav-cover">
                <nav class="nav-menu menu">
                    <ul class="nav-list">
                        <li class="active-page">
                            <a href="index.html">home</a>
                        </li>
                        <li><a href="#about">about sidm</a></li>
                        <li><a href="#Objective">OBJECTIVE</a></li>
                        <li><a href="#categories">categories</a></li>
                        <li><a href="#committee">AWARDS COMMITTEE</a></li>
                        <li><a href="#process">process</a></li>
                        <li><a href="#testimonial">testimonials</a></li>
                        <li><a href="#faq">faqs</a></li>
                        <li><a href="#award2020">AWARDS 2020</a></li>
                        <li><a href="#footer">Contact Us</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div> -->
</header>
<!-- =============== HEADER END =============== -->

<!--=================== PAGE-TITLE ===================-->
<!-- <div class="page-title" style="background: #175AA5;">
    <div class="container">
     
        <h1 class="title">Thank You</h1>
    </div>
</div> -->
<!--================= PAGE-TITLE END =================-->

<!-- <section class="thanku">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="assets/img/New_img/thanku.jpg" alt="" style="width: 100%;">
            </div>
            <div class="col-lg-7">
                <div class="RegistrationContent">
                    <h5>Welcome Shahista Naaz</h5>
                    <h2>REGISTRATION SUCCESSFULL</h2>
                    <h6>Thank you for submitting your application - SIDM.</h6>
                    <p>Please click on the conformation link in the message to complete the mail authentication</p>
                    <button><a href="javascript:void(0)">Discover startup Now</a></button>
                </div>
            </div>
        </div>
    </div>
</section> -->


<div class="thanku" *ngIf="type==='dsfffdsdfds'" >
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="card text-center">
                    <div class="card-body RegistrationContent">
                        <!-- <img src="assets/img/New_img/logo.png" alt="" class="mb-3"> -->
                        <!-- <h5 class="NewBtn">Welcome Shahista Naaz</h5> -->
                        <h2>Registration Successful!</h2>
                        <h6>Thank you for registering SIDM.</h6>
                        <h6 *ngIf="type==='dsfffdsdfds'">You may make multiple applications from the Same ID to avoid filling details multiple times.</h6>
                        <a class="NewBtn" (click)="registerdUser()">Login Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="thanku" *ngIf=" type==='dsffsdfds'" >
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="card text-center">
                    <div class="card-body RegistrationContent">
                        <!-- <img src="assets/img/New_img/logo.png" alt="" class="mb-3"> -->
                        <!-- <h5 class="NewBtn">Welcome Shahista Naaz</h5> -->
                        <h2>Registration Successful!</h2>
                        <h6>Thank you for registering SIDM.</h6>
                        <h6 *ngIf="type==='dsffsdfds'">You may make multiple applications from the Same ID to avoid filling details multiple times.</h6>
                        <a class="NewBtn" (click)="registerdUser()">Login Now</a>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="thanku" *ngIf="type==='dsfffdsdfdfffffds'">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="card text-center">
                    <div class="card-body RegistrationContent">
                        <!-- <img src="assets/img/New_img/logo.png" alt="" class="mb-3"> -->
                        <!-- <h5 class="NewBtn">Welcome Shahista Naaz</h5> -->
                        <h2>Thank you!</h2>
                        <h6>Your application has been <span *ngIf="type==='dsfffdsdfdfffffds'">submitted Successful!</span> </h6>
                        <a class="NewBtn" (click)="goBack()">Go  Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="thanku" *ngIf=" type==='dsfewfvbvb'">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="card text-center">
                    <div class="card-body RegistrationContent">
                        <!-- <img src="assets/img/New_img/logo.png" alt="" class="mb-3"> -->
                        <!-- <h5 class="NewBtn">Welcome Shahista Naaz</h5> -->
                        <h2>Thank you!</h2>
                        <h6>Your application has been  <span *ngIf="type==='dsfewfvbvb'">saved Successful!</span>.</h6>
                        <a class="NewBtn" (click)="goBack()">Go  Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================== FOOTER ====================-->
<!-- <footer id="footer">
 
</footer> -->