<!-- ================= HEADER ================= -->
<header class="marathon-header-fixed header-fixed">
    <a href="javascript:void(0)" class="nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <div class="top-panel">
        <div class="container">
            <a href="javascript:void(0)" class="logo2">
                <img class="headerLogo1" src="assets/img/New_img/SIDM-c-logo-01.png" alt="logo"
                >
            </a>
        <a href="javascript:void(0)" class="logo1">
            <img class="headerLogo2" src="assets/img/New_img/logo.png" alt="logo"
                >
            </a>

        <a href="javascript:void(0)" class="logo3">
            <img class="headerLogo3"
                src="assets/img/New_img/azadi-ka-amrit-mahotsav.png" alt="logo"
                >
            </a>
        </div>
    </div>
    
</header>

<div class="container">
    <a href="javascript:void(0)" class="RegistrationBtn" target="blanck">
        <i aria-hidden="true" class="fas fa-power-off mr-2" style="color: #fff;"></i>Logout</a>
</div>

<section class="container">
    <div class="main-sec">
        <h2>Category 1 : Technology / Product Innovation to address Defence Capability gaps</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop">
                        <h3>{{cat1.LargeType.total}}</h3>
                        <p>Large Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="/assessor/applicantList" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat1.LargeType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat1.LargeType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat1.LargeType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop2">
                        <h3>{{cat1.mediumType.total}}</h3>
                        <p>Medium Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="/assessor/applicantList" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat1.mediumType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat1.mediumType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat1.mediumType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop3">
                        <h3>{{cat1.startUpType.total}}</h3>
                        <p>MSE/Startup</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="/assessor/applicantList" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat1.startUpType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat1.startUpType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat1.startUpType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="main-sec mt-4">
        <h2>Category 2 : Import Substitution for Mission Critical Parts / sub-systems / systems</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop">
                        <h3>{{cat2.LargeType.total}}</h3>
                        <p>Large Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="/assessor/applicantList" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat2.LargeType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat2.LargeType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat2.LargeType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop2">
                     <h3>{{cat2.mediumType.total}}</h3>
                        <p>Medium Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="/assessor/applicantList" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat2.mediumType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat2.mediumType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat2.mediumType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop3">
                        <h3>{{cat2.startUpType.total}}</h3>
                        <p>MSE/Startup</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="/assessor/applicantList" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat2.startUpType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat2.startUpType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat2.startUpType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="main-sec mt-4">
        <h2>Category 3 : Creation of Niche Technological capability for Design, Manufacturing or Testing</h2>
         <div class="row">
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop">
                        <h3>{{cat3.LargeType.total}}</h3>
                        <p>Large Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="/assessor/applicantList" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat3.LargeType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat3.LargeType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat3.LargeType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop2">
                        <h3>{{cat3.mediumType.total}}</h3>
                        <p>Medium Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="/assessor/applicantList" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat3.mediumType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat3.mediumType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat3.mediumType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop3">
                        <h3>{{cat3.startUpType.total}}</h3>
                        <p>MSE/Startup</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="/assessor/applicantList" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat3.startUpType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat3.startUpType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat3.startUpType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="main-sec mt-4 mb-5">
        <h2>Category 4 : Export performance in Aerospace and Defence Sector</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop">
                        <h3>{{cat4.LargeType.total}}</h3>
                        <p>Large Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="/assessor/applicantList" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat4.LargeType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat4.LargeType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat4.LargeType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop2">
                        <h3>{{cat4.mediumType.total}}</h3>
                        <p>Medium Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="/assessor/applicantList" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat4.mediumType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat4.mediumType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat4.mediumType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop3">
                        <h3>{{cat4.startUpType.total}}</h3>
                        <p>MSE/Startup</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat4','S','Pending')"  class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat4.startUpType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat4.startUpType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat4.startUpType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--==================== FOOTER ====================-->
<footer id="footer">
 
</footer>