<div *ngIf="data.type==='offlinePayment'"  class="paymentPopup">


    <div mat-dialog-title>
        <h2 class="modal-title" id="exampleModalLabel">Offline Payment Details</h2>
    </div>
    <div mat-dialog-content>
        <form [formGroup]="OfflinePayment">
            <div class="">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="mt-3 mb-2">Name of Bank *</h5>
                            <input formControlName="nameOfBank" type="text">
                            <p *ngIf="OfflinePayment.get('nameOfBank')?.hasError('required') && (  OfflinePayment.controls['nameOfBank'].touched || submited )"
                                style="color: red;">
                                Name of Bank <strong>required</strong>
                            </p>

                        </div>
                        <div class="col-lg-6">
                            <h5 class="mt-3 mb-2"> Mode of Payment</h5>
                            <select formControlName="modeOfPayment" class="select">
                                <option *ngFor="let item of modeofPayment" value="{{item}}">{{item}}</option>
                            </select>
                            <p *ngIf="OfflinePayment.get('modeOfPayment')?.hasError('required') && (  OfflinePayment.controls['modeOfPayment'].touched || submited )"
                                style="color: red;">
                                Mode of Payment <strong>required</strong>
                            </p>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="mt-3 mb-2"> Amount *</h5>
                            <input formControlName="amount" type="text" (keypress)="keyPressNumbers($event)">
                            <p *ngIf="OfflinePayment.get('amount')?.hasError('required') && (  OfflinePayment.controls['amount'].touched || submited )"
                                style="color: red;">
                                Amount <strong>required</strong>
                            </p>


                        </div>
                        <div class="col-lg-6">
                            <h5 class="mt-3 mb-2"> Date of Payment</h5>
                            <input formControlName="dateOfPayment" type="date" value="yyyy-mm-dd"
                                class="input-medium search-query" (keypress)="pickclender()" maxlength="16">
                            <p *ngIf="OfflinePayment.get('dateOfPayment')?.hasError('required') && (  OfflinePayment.controls['dateOfPayment'].touched || submited )"
                                style="color: red;">
                                Date of Payment <strong>required</strong>
                            </p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="mt-3 mb-2">Transaction details *</h5>
                            <input formControlName="transactionDetails" type="text">
                            <p *ngIf="OfflinePayment.get('transactionDetails')?.hasError('required') && (  OfflinePayment.controls['transactionDetails'].touched || submited )"
                                style="color: red;">
                                Transaction details <strong>required</strong>
                            </p>

                        </div>
                    </div>
                </div> -
            </div>




        </form>

    </div>
    <div mat-dialog-actions>
        <button type="button" class="NewBtn" (click)="onNoClick()">Close</button>
        <button type="button" class="NewBtn ml-2" (click)="submitOfflinePaymentDetails()">Submit</button>
    </div>

</div>

<div *ngIf="data.type==='requestInfo'" class="requestInfoPopup">
    <h5 class="modal-title" id="exampleModalLabel">Request Info</h5>
    <div mat-dialog-content>
        <form [formGroup]="requestInfo">
            <div class="">
                <div class="form-group   m-4">
                    <input type="textbox" class="form-control user-bg" id="uername" placeholder="remark"
                        formControlName="remark" />
                </div>
            </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <button type="button" class="NewBtn" (click)="onNoClick()">Close</button>
        <button type="button" class="NewBtn ml-2" (click)="remark()">Submit</button>
    </div>

</div>



<div *ngIf="data.type==='approve'" class="requestInfoPopup">
    <h5 class="modal-title" id="exampleModalLabel">Approval</h5>
    <div mat-dialog-content>
        Are you sure you want to approve?
    </div>
    <div mat-dialog-actions>
        <button type="button" class="NewBtn mt-3" (click)="onNoClick()" data-dismiss="modal">Close</button>
        <button type="button" (click)="approve()" class="NewBtn ml-2 mt-3">OK</button>
    </div>
    <p class="Note">Note: After approval member application form will be locked</p>
</div>








<div *ngIf="data.type==='submitAndPay'" class="requestInfoPopup">
    <h5 class="modal-title" id="exampleModalLabel">Final Submit and pay</h5>
    <div mat-dialog-content>
        Are you sure you want to submit the application
    </div>
    <div mat-dialog-actions>
        <button type="button" class="NewBtn mt-3"  (click)="noClick('no')" data-dismiss="modal">Close</button>
        <button type="button"(click)="noClick('ok')" class="NewBtn ml-2 mt-3">OK</button>
    </div>
    <p class="Note">Note: Your application sent for admin approval. <br> Membership fees(Rs)= 5000/-</p>
</div>

<div *ngIf="data.type==='ViewQuestionnaire'" class="requestInfoPopup">
    <h1 mat-dialog-title>Description</h1>
    <div mat-dialog-content>{{data.data}}</div>
    <div mat-dialog-actions>
      <button type="button" class="NewBtn mt-3"  (click)="noClick('no')" data-dismiss="modal">Close</button>
    </div>
</div>
