<section class="container-fluid">
    <div class="main-sec">
        <h2>Category 1 : Technology / Product Innovation to address Defence Capability gaps</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop">
                        <h3>8</h3>
                        <p>Large Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>0</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">0</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">8</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop2">
                        <h3>8</h3>
                        <p>Medium Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>0</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">0</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">8</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop3">
                        <h3>8</h3>
                        <p>MSE/Startup</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>0</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">0</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">8</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="main-sec mt-4">
        <h2>Category 2 : Import Substitution for Mission Critical Parts / sub-systems / systems</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop">
                        <h3>8</h3>
                        <p>Large Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>0</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">0</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">8</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop2">
                        <h3>8</h3>
                        <p>Medium Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>0</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">0</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">8</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop3">
                        <h3>8</h3>
                        <p>MSE/Startup</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>0</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">0</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">8</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="main-sec mt-4">
        <h2>Category 3 : Creation of Niche Technological capability for Design, Manufacturing or Testing</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop">
                        <h3>8</h3>
                        <p>Large Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>0</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">0</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">8</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop2">
                        <h3>8</h3>
                        <p>Medium Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>0</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">0</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">8</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop3">
                        <h3>8</h3>
                        <p>MSE/Startup</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>0</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">0</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">8</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="main-sec mt-4 mb-5">
        <h2>Category 4 : Export performance in Aerospace and Defence Sector</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop">
                        <h3>8</h3>
                        <p>Large Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>0</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">0</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">8</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop2">
                        <h3>8</h3>
                        <p>Medium Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>0</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">0</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">8</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop3">
                        <h3>8</h3>
                        <p>MSE/Startup</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>0</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">0</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="javascript:void(0)" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">8</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>