<div class="topHeader">
  <h2>Add New Questionnaire </h2>
</div>
<div class="container">
  <form class="questionnaireForm" [formGroup]="questionnaire" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <div class="col-lg-6">
        <div class="form-group">
          <label class="questionnaireLabel" for="exampleFormControlSelect1">Category*</label>
          <select class="form-control" formControlName="category" id="exampleFormControlSelect1">
            <option value="cat1">C1 – Technology /
              Product Innovation to address Defence Capability Gaps </option>
            <option value="cat2">C2 – Import
              Substitution for Mission
              Critical Parts / Sub-Systems / Systems</option>
            <option value="cat3">C3 – Creation of
              Niche, Technological Capability for
              Design, Manufacturing or Testing</option>
            <option value="cat4">C4 – Export
              Performance of Defence & Aerospace
              Products</option>
          </select>
          <p *ngIf="questionnaire.get('category')?.hasError('required') &&(submited) " style="color: red;">
            Category <strong>required</strong>
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label class="questionnaireLabel" for="exampleFormControlSelect1">Type Of Applicant*</label>
          <select class="form-control" formControlName="typeOfApplicant" id="exampleFormControlSelect1">
            <option value="A">For All Type Of Applicant</option>
            <option value="L"> <label class="Apply-control-label font" for="ApplyRadio5">
                <h6 class="catBold">L – Large</h6>
                (Annual Turnover FY 2020-21 over
                & above Rs 250 Crore)
              </label> </option>
            <option value="M"><label class="Apply-control-label font" for="ApplyRadio6">
                <h6 class="catBold">M – Medium</h6>
                (Annual Turnover FY 2020-21 between
                Rs 75 to 250 Crore)
              </label></option>
            <option value="S"> <label class="Apply-control-label font" for="ApplyRadio7">
                <h6 class="catBold">S – SME/SSI/START-UP</h6>
                (Annual Turnover FY 2020-21 less
                than Rs 75 Crore)
              </label></option>

          </select>
          <p *ngIf="questionnaire.get('category')?.hasError('required') &&(submited) " style="color: red;">
            Category <strong>required</strong>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 mt-2">
        <mat-form-field appearance="fill">
          <mat-label>Select Answer</mat-label>
          <mat-select formControlName="inputType">
            <mat-option value="singleSelect" (click)="optionType('singleSelect')">Single Select </mat-option>
            <mat-option value="multiSelect" (click)="optionType('multiSelect')">Multi Select </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-3 mt-4">
        <div class="checkFeild">
          <div class="form-check">
            <input class="form-check-input" formControlName="upload" type="checkbox" value="Upload" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Enable document upload
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="textBox" value="TextBox" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Allow description box
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10">
        <label class="questionnaireLabel" for="">Parameter/Question*:</label>
        <textarea name="" id="" cols="30" rows="10" formControlName="parameter"></textarea>
        <p *ngIf="questionnaire.get('parameter')?.hasError('required') &&(submited)" style="color: red;">
          Parameter/Question <strong>required</strong>
        </p>
        <!-- <input type="text" formControlName="parameter" /> -->
      </div>
      <div class="col-lg-2">
        <label class="questionnaireLabel" for="">Max score*:</label>
        <input type="text" formControlName="maxScore" (keypress)="keyPressNumbers($event)" />
        <p *ngIf="questionnaire.get('maxScore')?.hasError('required') &&(submited)" style="color: red;">
          Max score <strong>required</strong>
        </p>
      </div>
      
      
    </div>

   
    <div class="row">
      <div class="col-lg-10">
        <label class="questionnaireLabel" for=""> Parameter Description:</label>
        <textarea name="" id="" cols="30" rows="10" formControlName="parameterDescription"></textarea>
       
        <!-- <input type="text" formControlName="parameter" /> -->
      </div>
      
      <!-- <div class="col-lg-1">
          <button class="save-btn savePosition" type="button"><i aria-hidden="true" class="fas fa-plus"></i></button>
        </div> -->
    </div>
    <div class="form-group">
      <div *ngIf="singleSelect||multiSelect" formArrayName="options">
        <div *ngFor="let opt of options.controls; let i = index">
          <!-- <h1 class="heading">Answers:</h1> -->
          <div [formGroupName]="i">
            <div class="row">
              <div class="col-lg-8">
                <label class="questionnaireLabel mt-2" for="">Option {{i+1}}*:</label>
                <textarea class="mb-2" name="" id="" cols="30" rows="10" formControlName="answer"></textarea>
                <p class="mb-2" style="color: red;" *ngIf="opt.get('answer')?.hasError('required') &&(submited)">
                  Option {{i+1}} required
                </p>
                <!-- <input type="text" formControlName="answer" /> -->
              </div>
              <div class="col-lg-3">
                <label class="questionnaireLabel mt-2" for=""> Score*:</label>
                <input class="mb-2" type="text" formControlName="score" (keypress)="keyPressNumbers($event)" />
                <p class="mb-2" style="color: red;" *ngIf="opt.get('score')?.hasError('required') &&(submited)">
                  Score {{i+1}} required
                </p>
              </div>
              <div class="col-lg-1">
                <div class="RemoveAddOption mb-2">
                  <button class="save-btn savePosition" *ngIf="i!==0" (click)="removeOption(i)"><i aria-hidden="true"
                      class="fas fa-minus"></i></button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div *ngIf="singleSelect||multiSelect">
        <button class="save-btn mt-3 mb-3" (click)="addOptions()" type="button"><i aria-hidden="true"
            class="fas fa-plus"></i> Add Option</button>
      </div>

    </div>


    <button type="submit" class="NewBtn mt-2">Submit</button>
  </form>
</div>