<div class="topHeader">
    <h2>Category Applied In</h2>
</div>
<!--================= PAGE-TITLE END =================-->

<div class="row" *ngIf="remark">
    <div class="col-lg-12">
        <div class="container">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Remark ! : </strong>{{remark}}
                <button type="button" class="close"  (click)="closeRemark()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <!-- <div class="alert alert-danger alert-warning alert-dismissible fade show" role="alert">
                <div class="alertContent">
                    <h6>Remark!</h6>
                    <p>{{remark}}</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div> -->
        </div>
    </div>
</div>

<!--===================== DASHBOARD =====================-->


<section class="">
    <div class="container">
        <div *ngIf="paymentDetails" class="row">
            <div class="col-lg-12">
                <div class="profileSection mb-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="m-2">Registration  Payment Details</h5>
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Mobile Number</th>
                                        <th scope="col">Pan Number</th>
                                        <th scope="col">Order Id</th>
                                        <th scope="col">Payment Id</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">{{paymentDetails?.createAt}}</th>
                                        <th scope="row">{{paymentDetails?.amount}}</th>
                                        <th scope="row">{{paymentDetails?.email}}</th>
                                        <th scope="row">{{paymentDetails?.mobileNumber}}</th>
                                        <th scope="row">{{paymentDetails?.panNumber}}</th>
                                        <th scope="row">{{paymentDetails?.razorpay_order_id}}</th>
                                        <th scope="row">{{paymentDetails?.razorpay_payment_id}}</th>
                                        <td>
                                            <a class="viewBtn" (click)="receiptClose('paymentDetails')"> Close</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="OfflinepaymentDetails" class="row">     
            <div class="col-lg-12">
              
                <div class="profileSection mb-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="m-2">Membership Payment Details</h5>
                         
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Date Of Payment</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Transaction Details</th>
                                        <th scope="col">Mode Of Payment</th>
                                        <th scope="col">Name Of Bank</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">{{OfflinepaymentDetails?.dateOfPayment}}</th>
                                        <th scope="row">{{OfflinepaymentDetails?.amount}}</th>
                                        <th scope="row">{{OfflinepaymentDetails?.transactionDetails}}</th>
                                        <th scope="row">{{OfflinepaymentDetails?.modeOfPayment}}</th>
                                        <th scope="row">{{OfflinepaymentDetails?.nameOfBank}}</th>
                                        <td>
                                            <a class="viewBtn" (click)="receiptClose('OfflinepaymentDetails')"> Close</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-lg-12">
                <div class="profileSection mb-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Category Name</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Membership Fees</th>
                                        <th scope="col">Remark</th>

                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>{{memberData?.category}}</td>
                                        <td>
                                            <span *ngIf="memberData?.status==='Pending'" style="color: #cc1d2c;">{{memberData?.status}} </span>
                                            <span *ngIf="memberData?.status==='Approved'" style="color: green;">{{memberData?.status}} </span>
                                            <span *ngIf="memberData?.status!=='Approved'&&memberData?.status!=='Pending'">{{memberData?.status}} </span>

                                        </td>
                                        <td>
                                            <span *ngIf="memberData.paymentStatus==='Pending'"  (click)="viewForm(memberData)" style="color: red;">Pending</span>
                                            <span *ngIf="memberData.paymentStatus==='Paid'" style="color: green;">Paid</span>
                                        </td>
                
                                        <td  ><a *ngIf="memberData?.remark"  (click)="viewRemark(memberData?.remark)" class="badge badge-light"><i aria-hidden="true" class="fas fa-info-circle mr-0" style="color: #cc1d2c;"></i></a></td>
                                        <td class="text-center">
                                            <div class="dropBtn dropdown">
                                                <button class="paymentsDropdwn  dropdown-toggle" type="button"
                                                    id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                                    <i aria-hidden="true" class="fas fa-cog"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" *ngIf="memberData?.status==='Approved'" (click)="viewForm(memberData)"><i aria-hidden="true"
                                                            class="fas fa-eye"></i> View</a>
                                                            <a class="dropdown-item" *ngIf="memberData?.status!=='Approved'"  (click)="viewForm(memberData)"><i aria-hidden="true"
                                                                class="fas fa-edit"></i> Edit</a>
                                                    <a class="dropdown-item" *ngIf="!memberData?.offlinePaymentDetails && memberData?.paymentStatus==='Paid'" (click)="openDialog(memberData?._id)">
                                                    <i aria-hidden="true" class="fas fa-file-alt"></i>
                                                    Offline Payment Details</a>
                                                    <a class="dropdown-item" *ngIf="memberData?.paymentStatus==='Paid'" (click)="recipt(memberData?.paymentId,memberData?.offlinePaymentDetails)"><i aria-hidden="true"
                                                            class="fas fa-edit"></i> View Payment </a>
                                                </div>
                                            </div>
                                        </td>
        

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
        <!--view Form-->
        <div *ngIf="!EditForm">
            <form [formGroup]="editForm" class="mb-2">
                <div class="formPart_1">
                    <div class="row">

                    </div>
                    <h3 class="heading">Category applied for</h3>
                    <h5 class="mb-2 mt-3">{{editData.category}}</h5>

                    <h5 class="mt-3 mb-2">Type of applicant company*</h5>
                    <div class="row">
                        <div class="checkgroup">
                            <div class="radioBox Apply-control
                        Apply-radio d-flex align-item-center">
                                <input formControlName="typeOfApplicant" value="L" type="radio" id="ApplyRadio5"
                                    name="typeOfApplicant" class="Apply-control-input mt-2
                            mr-2">
                                <label class="Apply-control-label font" for="ApplyRadio5">
                                    <h6 class="catBold">L – Large</h6>(Annual Turnover FY 2020-21 over
                                    & above Rs 250 Crore)
                                </label>
                            </div>
                            <div class="mr-0 radioBox Apply-control
                        Apply-radio d-flex align-item-center">
                                <input formControlName="typeOfApplicant" value="M" type="radio" id="ApplyRadio6"
                                    name="typeOfApplicant" class="Apply-control-input mt-2
                            mr-2">
                                <label class="Apply-control-label font" for="ApplyRadio6">
                                    <h6 class="catBold">M – Medium</h6>
                                    (Annual Turnover FY 2020-21 between
                                    Rs 75 to 250 Crore)
                                </label>
                            </div>
                            <div class="radioBox Apply-control
                        Apply-radio d-flex align-item-center
                        ml-3">
                                <input formControlName="typeOfApplicant" value="S" type="radio" id="ApplyRadio7"
                                    name="typeOfApplicant" class="Apply-control-input mt-2
                            mr-2">
                                <label class="Apply-control-label font" for="ApplyRadio7">
                                    <h6 class="catBold">S – SME/SSI/START-UP</h6>
                                    (Annual Turnover FY 2020-21 less
                                    than Rs 75 Crore)
                                </label>
                            </div>
                            <p *ngIf="editForm.get('typeOfApplicant')?.hasError('required')" style="color: red;">
                                Type Of Applicant <strong>required</strong>
                            </p>



                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="mt-2 mb-2">Please upload the required documents as sub category selected*
                            </h5>

                            <ul class="mx-3" style="    list-style: disc;">
                                <li class="categoryList">Company Identification Number (CIN) - <span
                                        class="catBold">Large</span></li>
                                <li class="categoryList">Udhyog Aadhaar Number/Aadhaar Number /MSME/Udhyog- <span
                                        class="catBold">Medium / SSI</span>
                                </li>
                                <li class="categoryList mb-2">DPIIT Certificate - <span
                                        class="catBold">SME/START-UP</span></li>
                            </ul>
                            <input *ngIf="!editData.subCategoryDoccument" type="file" accept=".gif,.jpg,.jpeg,.png,.pdf"
                                formControlName='subCategoryDoccument'
                                (change)="changeListener($event,'subCategoryDoccument')">
                            <p *ngIf="!editData.subCategoryDoccument" class="fileSizetext">File should be in pdf, jpg,
                                jpeg & png format. Image size should be less than 2MB</p>

                            <a *ngIf="editData.subCategoryDoccument" href="{{editData?.subCategoryDoccument}}"
                                target="_blank" ><i class="fas fa-eye"></i></a>
                            <a *ngIf="editData.subCategoryDoccument" (click)="delete('subCategoryDoccument')"><i
                                    class="fa fa-trash"></i></a>
                            <p *ngIf="editForm.get('subCategoryDoccument')?.hasError('required')" style="color: red;">
                                Sub category <strong>required</strong>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="mt-2 mb-2">Upload last financial balance sheet for the year 2020-21* </h5>
                            <input type="file" *ngIf="!editData.financialDoccument" accept="application/pdf"
                                formControlName='financialDoccument' (change)="gstpdfOnly($event,'financialDoccument')">
                            <p *ngIf="!editData.financialDoccument" class="fileSizetext">File should be in pdf. Pdf size
                                should be less than 2MB</p>
                            <a *ngIf="editData.financialDoccument" href="{{editData?.financialDoccument}}"
                                target="_blank"><i class="fas fa-eye"></i></a>
                            <a *ngIf="editData.financialDoccument" (click)="delete('financialDoccument')"><i
                                    class="fa fa-trash"></i></a>

                            <br>

                            <p *ngIf="editForm.get('financialDoccument')?.hasError('required')" style="color: red;">
                                financial Documents <strong>required</strong>
                            </p>



                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="mt-4 mb-2">Name of the Company*</h5>
                            <input formControlName="nameOfCompany" type="text">

                            <p *ngIf="editForm.get('nameOfCompany')?.hasError('required')" style="color: red;">

                                Company Name <strong>required</strong>
                            </p>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="mt-3 mb-2 heading"> Company Address </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="mt-3 mb-2">Address Line 1 *</h5>
                            <input formControlName="addressl1" type="text">


                            <p *ngIf="editForm.get('addressl1')?.hasError('required')" style="color: red;">
                                Address Line 1 <strong>required</strong>
                            </p>

                        </div>
                        <div class="col-lg-6">
                            <h5 class="mt-3 mb-2">Address Line 2 </h5>
                            <input formControlName="addressl2" type="text">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="mt-3 mb-2">State *</h5>
                            <select formControlName="state" class="select">
                                <option *ngFor="let item of states" value="{{item.state}}">{{item.state}}</option>
                            </select>

                            <p *ngIf="editForm.get('state')?.hasError('required')" style="color: red;">
                                State <strong>required</strong>
                            </p>

                        </div>
                        <div class="col-lg-6">
                            <h5 class="mt-3 mb-2">City *</h5>
                            <input formControlName="city" (keypress)="keyPresschar($event)" type="text">
                            <p *ngIf="editForm.get('city')?.hasError('required')" style="color: red;">
                                City <strong>required</strong>
                            </p>

                        </div>
                    </div>
                    <div class="row border_b">
                        <div class="col-lg-6">
                            <h5 class="mt-3 mb-2">Pincode *</h5>
                            <input formControlName="pincode" (keypress)="keyPressNumbers($event)" type="text"
                                maxlength="6">
                            <div>
                                <p *ngIf="editForm.get('pincode')?.hasError('required')" style="color: red;">
                                    Pincode <strong>required</strong>
                                </p>
                                <p style="color: red;" *ngIf="editForm.get('pincode')?.invalid
                                &&
                                !editForm.get('pincode')?.hasError('required')">
                                    Please enter a valid pincode
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <h5 class="mt-3 mb-2">Contact Person Name *</h5>
                            <input formControlName="name" type="text">

                            <p *ngIf="editForm.get('name')?.hasError('required')" style="color: red;">
                                Contact Person Name <strong>required</strong>
                            </p>

                        </div>
                        <div class="col-lg-6">
                            <h5 class="mt-3 mb-2">Designation*</h5>
                            <input (keypress)="keyPresschar($event)" formControlName="designation" type="text">
                            <p *ngIf="editForm.get('designation')?.hasError('required')" style="color: red;">
                                Designation <strong>required</strong>
                            </p>
                        </div>
                    </div>
                    <div class="row border_b">
                        <div class="col-lg-6">
                            <h5 class="mt-3 mb-2">Primary E-Mail Address *</h5>
                            <input formControlName="email" type="text" readonly>

                        </div>
                        <div class="col-lg-6">
                            <h5 class="mt-3 mb-2">Mobile Number *</h5>
                            <input formControlName="mobileNumber" type="text" readonly>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="mt-3 mb-2 heading">Please give details for additional contact
                                point for ease of reaching out:</h3>
                        </div>
                    </div>
                    <div class="row border_b">
                        <div class="col-lg-6">
                            <h5 class="mt-3 mb-2">Alternative Mobile number</h5>
                            <input type="text" formControlName='alterMobileNumber' appBlockCopyPaste
                                (keypress)="keyPressNumbers($event)" appCpoyPaste maxlength="10">
                            <p *ngIf="editForm.get('alterMobileNumber')?.invalid&& (submited || editForm.controls['alterMobileNumber'].touched)"
                                style="color: red;">
                                Please enter valid Mobile Number
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <h5 class="mt-3 mb-2">Alternative Email</h5>
                            <input type="text" formControlName='alterEmail' appLowercase appBlockCopyPaste appCpoyPaste>
                            <p *ngIf="editForm.get('alterEmail')?.hasError('email')&& (submited || editForm.controls['alterEmail'].touched)"
                                style="color: red;">
                                Please enter valid Email
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="mt-3 mb-2">Company PAN *</h5>
                            <input formControlName="panNumber" type="text" readonly>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="mt-3 mb-2">GSTIN of the
                                Company*</h5>
                            <input appUpperCase formControlName="gstinOfCompany" type="text" maxlength="16">

                            <p *ngIf="editForm.get('gstinOfCompany')?.hasError('required')" style="color: red;">
                                GST <strong>required</strong>
                            </p>
                            <p style="color: red;" *ngIf="editForm.get('gstinOfCompany')?.invalid
                            &&
                            !editForm.get('gstinOfCompany')?.hasError('required')">
                                Please enter a valid GST
                            </p>

                        </div>
                        <div class="col-lg-6">
                            <h5 class="mt-3 mb-2">Upload GSTIN Certificate*
                            </h5>
                            <input *ngIf="!editData.documentGstCertificate" formControlName="documentGstCertificate"
                                type="file" accept=".gif,.jpg,.jpeg,.png,.pdf"
                                (change)="changeListener($event,'documentGstCertificate')">
                            <p *ngIf="!editData.documentGstCertificate" class="fileSizetext">File should be in pdf, jpg,
                                jpeg & png format. Image size should be less than 2MB</p>
                            <a *ngIf="editData.documentGstCertificate" href="{{editData?.documentGstCertificate}}"
                                target="_blank"><i class="fas fa-eye"></i></a>
                            <a *ngIf="editData.documentGstCertificate" (click)="delete('documentGstCertificate')"><i
                                    class="fa fa-trash"></i></a>


                            <p *ngIf="editForm.get('documentGstCertificate')?.hasError('required')" style="color: red;">
                                GSTIN Certificate Documents <strong>required</strong>
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <h5 class="mt-3 mb-2">Date of Incorporation
                                of the Company*</h5>
                            <!-- <input formControlName="dateOfOrganization"
                        type="date"> -->
                            <input type="date" formControlName="dateOfCompany" value="yyyy-mm-dd"
                                class="input-medium search-query" (keypress)="pickclender()">
                            <p *ngIf="editForm.get('dateOfCompany')?.hasError('required')" style="color: red;">
                                Date of Incorporation <strong>required</strong>
                            </p>

                        </div>
                    </div>

                </div>


                <!-- **********************form part 2************************************************************************ -->
                <div class="formPart_2">
                    <h5 class="mt-3 mb-2">Are you member of SIDM ?*</h5>
                    <div class="container">
                        <!-- <ul class="nav nav-pills mb-2" id="pills-tab"
                    role="tablist"> -->

                        <input type="radio" formControlName="sidmMember" name="sidmMember" value="Yes"
                            (click)="changetoggel('sidmMember','Yes')" id="YES">
                        <label class="mx-2" for="YES">Yes</label>


                        <input type="radio" formControlName="sidmMember" name="sidmMember"
                            (click)="changetoggel('sidmMember','No')" value="No" id="No">
                        <label class="mx-2" for="No">No</label>

                        <p style="color: red;" *ngIf="editForm.get('sidmMember')?.hasError('required')">
                            Please select Yes or No
                        </p>

                        <!-- </ul>
                    <li class="nav-item">
                        <a class="nav-link"id="pills-YES-tab"
                            data-toggle="pill" href="#pills-YES"
                            role="tab" aria-controls="pills-YES"
                            aria-selected="true">YES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-NO-tab"
                            data-toggle="pill" href="#pills-NO"
                            role="tab" aria-controls="pills-NO"
                            aria-selected="false">NO</a>
                    </li>
                </ul> -->
                        <div class="tab-content" id="pills-tabContent">
                            <div *ngIf="sidmMember">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <p class="mt-2 mb-2">Provide the
                                            membership number* </p>
                                        <input formControlName="sidmMemberShipNumber" type="text">
                                        <div *ngIf="editForm.controls['sidmMemberShipNumber'].invalid
                                    &&
                                    (submited  ||editForm.controls['sidmMemberShipNumber'].touched)">
                                            <p style="color: red;"
                                                *ngIf="editForm.get('sidmMemberShipNumber')?.hasError('required')">
                                                membership number required
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-NO" role="tabpanel" aria-labelledby="pills-NO-tab">
                            </div>
                        </div>

                    </div>
                    <h5 class="mt-3 mb-2">Are you Member of any other Association ?*</h5>
                    <div class="container">
                        <input type="radio" formControlName="association" name="association" value="Yes"
                            (click)="changetoggel('association','Yes')" id="YES">
                        <label class="mx-2" for="YES">Yes</label>


                        <input type="radio" formControlName="association" name="association"
                            (click)="changetoggel('association','No')" value="No" id="No">
                        <label class="mx-2" for="No">No</label>
                        <p style="color: red;" *ngIf="editForm.get('association')?.hasError('required')">
                            Please select Yes or No
                        </p>
                        <div class="tab-content" id="pills-tabContent">
                            <div *ngIf="association">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <p class="mt-2 mb-2">Enter the
                                            name(s) of the associations
                                            separated by comma*</p>
                                        <input formControlName="associationName" type="text">
                                        <div *ngIf="editForm.controls['associationName'].invalid
                                    &&
                                    (submited ||editForm.controls['associationName'].touched)">
                                            <p style="color: red;"
                                                *ngIf="editForm.get('associationName')?.hasError('required')">
                                                Associations Name required
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-false" role="tabpanel"
                                aria-labelledby="pills-false-tab"></div>
                        </div>
                    </div>
                    <h5 class="mt-3 mb-2">Are you registered with any Defence Organization (such as DPSU/DRDO etc.)? *
                    </h5>
                    <div class="container">
                        <input type="radio" formControlName="registeredOrganization" value="Yes"
                            (click)="changetoggel('registeredOrganization','Yes')" id="YES">
                        <label class="mx-2" for="YES">Yes</label>


                        <input type="radio" formControlName="registeredOrganization"
                            (click)="changetoggel('registeredOrganization','No')" value="No" id="No">
                        <label class="mx-2" for="No">No</label>
                        <p style="color: red;" *ngIf="editForm.get('registeredOrganization')?.hasError('required')">
                            Please select Yes or No
                        </p>


                        <div class="tab-content" id="pills-tabContent">
                            <div *ngIf="registeredOrganization">

                                <div class="col-lg-6" formArrayName="nameRegisteredOrganization">
                                    <h6 class="mb-2">Name of the Organization registered with*</h6>
                                    <div class="full-width" cellspacing="0">
                                        <div *ngFor=" let controlName of nameRegisteredOrganization.controls; let i = index"
                                            [formGroupName]="i">


                                            <input type="text" class="mt-4 mb-2 addInputBox" formControlName="name">
                                            <a class="addBtn" *ngIf='i!==0' (click)="removeRegisteredOrganization(i)"><i
                                                    class="fa fa-trash"></i> </a>
                                            <div *ngIf="editForm.controls['nameRegisteredOrganization'].invalid
                                              &&
                                              (submited
                                              ||
                                              editForm.controls['nameRegisteredOrganization'].touched)">
                                                <p class="mb-2" style="color: red;"
                                                    *ngIf="controlName.get('name')?.hasError('required')">
                                                    Registered Organization Name is required
                                                </p>
                                            </div>

                                            <!-- <button *ngIf='i!==0' (click)="removeRegisteredOrganization(i)">Remove Registered  Organization</button>
                                           -->
                                        </div>
                                    </div>
                                    <a class="addBtn" (click)="addRegisteredOrganization()"><i class="fa fa-plus"></i>
                                        Add</a>
                                    <!-- <button (click)="addRegisteredOrganization()">Add new Registered  Organization</button>
                                        -->
                                </div>
                            </div>

                        </div>

                    </div>
                    <h5 class="mt-3 mb-4">About the company*</h5>
                    <div class="">
                        <textarea formControlName="aboutCompany" class="form-control mb-1" aria-label="With
                        textarea" maxlength="1000"></textarea>
                        <p class="fileSizetext"> Please write about your company in not more than 150 words</p>
                        <p *ngIf="editForm.get('aboutCompany')?.hasError('required')" style="color: red;">
                            About the company<strong>required</strong>
                        </p>
                    </div>

                    <h5 class="mt-3 mb-4">
                        Specific Achievement being registered for the Champion Award * (Name of the product / Technology/Facility)*
                    </h5>
                    <div class="">
                        <textarea formControlName="sidmChampionAwards" class="form-control mb-2" aria-label="With
                        textarea" maxlength="800"></textarea>
                        <p class="fileSizetext">Write in 100 Words about the above Achievement being registered for the Champion Award.
                        </p>
                        <p *ngIf="editForm.get('sidmChampionAwards')?.hasError('required')" style="color: red;">
                            SIDM Champion Awards<strong>required</strong>
                        </p>
                    </div>
                    <h5 class="mt-3">Have you received any reports of
                        performance / letters of appreciation
                        from
                        customer
                        organization?*</h5>
                    <div class="mb-2 mt-3">
                        <input type="radio" formControlName="isappreciation" value="Yes"
                            (click)="changetoggel('isappreciation','Yes')" id="YES">
                        <label class="mx-2" for="YES">Yes</label>


                        <input type="radio" formControlName="isappreciation"
                            (click)="changetoggel('isappreciation','No')" value="No" id="No">
                        <label class="mx-2" for="No">No</label>
                        <p style="color: red;" *ngIf="editForm.get('isappreciation')?.hasError('required')">
                            Please select Yes or No
                        </p>
                        <div class="tab-content" id="pills-tabContent">
                            <div *ngIf="isappreciation">
                                <div class="form-group">
                                    <h5 for="">Upload documents *</h5>
                                    <input *ngIf="!editData.appreciationDocuments"
                                        formControlName="appreciationDocuments" type="file"
                                        accept=".gif,.jpg,.jpeg,.png,.pdf"
                                        (change)="changeListener($event,'appreciationDocuments')" class="mt-3" name=""
                                        id="" aria-describedby="helpId" placeholder="">
                                    <p *ngIf="!editData.appreciationDocuments" class="fileSizetext">File should be in
                                        pdf, jpg, jpeg & png format. Image size should be less than 2MB</p>
                                    <a *ngIf="editData.appreciationDocuments" href="{{editData?.appreciationDocuments}}"
                                        target="_blank"><i class="fas fa-eye"></i></a>
                                    <a *ngIf="editData.appreciationDocuments"
                                        (click)="delete('appreciationDocuments')"><i class="fa fa-trash"></i></a>


                                    <div *ngIf="editForm.controls['appreciationDocuments'].invalid
                                        &&
                                        (submited ||editForm.controls['appreciationDocuments'].touched)">
                                        <p style="color: red;"
                                            *ngIf="editForm.get('appreciationDocuments')?.hasError('required')">
                                            documents required
                                        </p>
                                    </div>

                                    <br>

                                </div>
                            </div>

                        </div>
                    </div>
                    <h5 class="mt-3 mb-4">How does your achievement
                        compare with the other competing options
                        available to the customer?*</h5>
                    <div class="">
                        <textarea formControlName="campareAchivement" class="form-control mb-1" aria-label="With
                        textarea" maxlength="1000"></textarea>
                        <p class="fileSizetext">Write not more than 150 words

                        </p>
                        <p *ngIf="editForm.get('campareAchivement')?.hasError('required')" style="color: red;">
                            your achievement
                            compare <strong>Required</strong>
                        </p>
                    </div>


                    <h5 class="mt-3 mb-4">What was the motivation to undertake the development of the
                        Product/Technology/Infrastructure/Exports?*</h5>
                    <div class="">
                        <textarea formControlName="mudp" class="form-control mb-1" aria-label="With
                    textarea" maxlength="1000"></textarea>
                        <p *ngIf="editForm.get('mudp')?.hasError('required')" style="color: red;">
                            Please fill the input field
                        </p>

                    </div>
                    <h3 class="mt-3 mb-4 heading">Please upload Photograph /
                        Videos of the products / Innovation /
                        Facilities fielded for the awards*</h3>
                    <div class="">
                        <h5 class="mb-2">Exhibit 1* </h5>
                        <input *ngIf="!editData.exhibit1" formControlName="exhibit1" type="file"
                            accept=".gif,.jpg,.jpeg,.png,.pdf" (change)="changeListener($event,'exhibit1')"
                            class="border-light mb-1" name="" id="" aria-describedby="helpId" placeholder="">
                        <p *ngIf="!editData.exhibit1" class="fileSizetext">File should be in pdf, jpg, jpeg & png
                            format. Image size should be less than 2MB</p>
                        <p *ngIf="editForm.get('exhibit1')?.hasError('required')" style="color: red;">
                            Exhibit 1<strong>required</strong>
                        </p>
                        <a *ngIf="editData.exhibit1" target="_blank" href="{{editData?.exhibit1}}" targe t="_blank"
                         ><i class="fas fa-eye"></i></a>
                        <a *ngIf="editData.exhibit1" (click)="delete('exhibit1')"><i class="fa fa-trash"></i></a>

                        <br>
                        <h5 class="mb-2">Exhibit 2*</h5>
                        <input *ngIf="!editData.exhibit2"  formControlName="exhibit2" type="file"
                            accept=".gif,.jpg,.jpeg,.png,.pdf" (change)="changeListener($event,'exhibit2')"
                            class="border-light mb-1" name="" id="" aria-describedby="helpId" placeholder="">
                        <p *ngIf="!editData.exhibit2" class="fileSizetext">File should be in pdf, jpg, jpeg & png
                            format. Image size should be less than 2MB</p>
                        <p *ngIf="editForm.get('exhibit2')?.hasError('required')" style="color: red;">
                            Exhibit 2<strong>required</strong>
                        </p>
                        <a *ngIf="editData.exhibit2" href="{{editData?.exhibit2}}" target="_blank"
                           ><i class="fas fa-eye"></i></a>
                        <a *ngIf="editData.exhibit2" (click)="delete('exhibit2')"><i class="fa fa-trash"></i></a>

                        <br>
                        <h5 class="mb-2">Product video link (Optional)</h5>
                        <input type="text" formControlName="productLink">

                    </div>
                    <div class=" mt-4">
                        <div class="form-group">
                            <re-captcha (resolved)="resolved($event)"
                                siteKey="6LcZYWYeAAAAAFFzV_pFdZBksDadFNggfpxTZMfS"></re-captcha>
                        </div>

                    </div>
                </div>

            </form>

            <div class="container">

                <div class="row">
                    <div class="col-lg-12 mt-5 mb-5 text-center">
                        <button *ngIf="editData.paymentStatus==='Paid'" type="submit"  class="save-btn mx-2" (click)="finalSubmit('Pending Approval','changeStatus')">
                            <p> Submit for  approval
                            </p>
                        </button>
                        <button class="save-btn mx-2" target="blanck" *ngIf="editData.paymentStatus!=='Paid'" (click)="openModel('submitAndPay')" [disabled]="action">Final Submit and pay
                        </button>
                        <button class="save-btn" target="blanck" (click)="savedraft('Pending')" [disabled]="action">
                            <p>Save</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Offline Payment Details</h5>
         
        </div>
        <div class="modal-body">
            <form [formGroup]="OfflinePayment">
                <div class="">
                   <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="mt-3 mb-2">Name of Bank *</h5>
                                <input formControlName="nameOfBank" type="text" >
                                <p *ngIf="OfflinePayment.get('nameOfBank')?.hasError('required') && (  OfflinePayment.controls['nameOfBank'].touched || submited )" style="color: red;">
                                    Name of Bank <strong>required</strong>
                                </p>
    
                            </div>
                            <div class="col-lg-6">
                                <h5 class="mt-3 mb-2"> Mode of Payment</h5>
                                <select formControlName="modeOfPayment" class="select">
                                    <option *ngFor="let item of modeofPayment" value="{{item}}">{{item}}</option>
                                </select>
                                <p *ngIf="OfflinePayment.get('modeOfPayment')?.hasError('required') && (  OfflinePayment.controls['modeOfPayment'].touched || submited )" style="color: red;">
                                    Mode of Payment <strong>required</strong>
                                </p>
                                
                            </div>
    
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="mt-3 mb-2"> Amount *</h5>
                                <input formControlName="amount" type="text" (keypress)="keyPressNumbers($event)">
                                <p *ngIf="OfflinePayment.get('amount')?.hasError('required') && (  OfflinePayment.controls['amount'].touched || submited )" style="color: red;">
                                    Amount <strong>required</strong>
                                </p>
                                
    
                            </div>
                            <div class="col-lg-6">
                                <h5 class="mt-3 mb-2"> Date of Payment</h5>
                                <input formControlName="dateOfPayment" type="date"  value="yyyy-mm-dd"
                                class="input-medium search-query" (keypress)="pickclender()" maxlength="16">
                                <p *ngIf="OfflinePayment.get('dateOfPayment')?.hasError('required') && (  OfflinePayment.controls['dateOfPayment'].touched || submited )" style="color: red;">
                                    Date of Payment <strong>required</strong>
                                </p>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5 class="mt-3 mb-2">Transaction details *</h5>
                                <input formControlName="transactionDetails" type="text" >
                                <p *ngIf="OfflinePayment.get('transactionDetails')?.hasError('required') && (  OfflinePayment.controls['transactionDetails'].touched || submited )"style="color: red;">
                                    Transaction details  <strong>required</strong>
                                </p>
                                
                            </div>
                        </div>
                    </div> -
                </div>
              
             
              
                
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="NewBtn" data-dismiss="modal">Close</button>
          <button type="button" class="NewBtn" (click)="submitOfflinePaymentDetails()" >Submit</button>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner type="ball-scale-multiple"></ngx-spinner>