<!-- ================= HEADER ================= -->
<header class="marathon-header-fixed header-fixed">
  <a href="javascript:void(0)" class="nav-btn">
    <span></span>
    <span></span>
    <span></span>
  </a>
  <div class="top-panel">
    <div class="container">
      <a href="javascript:void(0)" class="logo2">
        <img class="headerLogo1" src="assets/img/New_img/SIDM-c-logo-01.svg" alt="logo" />
      </a>
      <a href="javascript:void(0)" class="logo1">
        <img class="headerLogo2" src="assets/img/New_img/logo.png" alt="logo" />
      </a>

      <a href="javascript:void(0)" class="logo3">
        <img class="headerLogo3" src="assets/img/New_img/azadi-ka-amrit-mahotsav.png" alt="logo" />
      </a>
    </div>
  </div>
  <!-- <div class="header-nav">
        <div class="container">
            <div class="header-nav-cover">
                <nav class="nav-menu menu">
                    <ul class="nav-list">
                        <li class="active-page">
                            <a href="index.html">home</a>
                        </li>
                        <li><a href="#about">about sidm</a></li>
                        <li><a href="#Objective">OBJECTIVE</a></li>
                        <li><a href="#categories">categories</a></li>
                        <li><a href="#committee">AWARDS COMMITTEE</a></li>
                        <li><a href="#process">process</a></li>
                        <li><a href="#testimonial">testimonials</a></li>
                        <li><a href="#faq">faqs</a></li>
                        <li><a href="#award2020">AWARDS 2020</a></li>
                        <li><a href="#footer">Contact Us</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div> -->
</header>
<!-- =============== HEADER END =============== -->
<!--=================== PAGE-TITLE ===================-->
<div class="page-title">
  <div class="container">
    <h1 class="title">Dashboard</h1>
    <div class="breadcrumbs">
      <ul>
        <li>
          <a (click)="logout()"><i aria-hidden="true" class="fa fa-sign-out"></i> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--================= PAGE-TITLE END =================-->
<!--===================== DASHBOARD =====================-->
<!-- <section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="profileSection pd">
                    <div class="row">
                        <div class="col-lg-3">
                            <img class="profile_Img"
                                src="assets/img/New_img/building.png" alt="">
                        </div>
                        <div class="col-lg-9">
                            <h1 class="profile-title">Admin</h1>
                            <button class="NewBtn mt-2" (click)="logout()">
                                <i aria-hidden="true" class="fa fa-sign-out "></i>
                                Logout
                            </button>
                            <p class="mt-4">Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Perferendis,
                                quam quas illum repudiandae dolor deserunt aut
                                iure debitis laborum minus soluta,
                                repellendus ipsa sequi, quos consectetur
                                voluptate. Facilis, deserunt corporis.
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Perferendis, quam quas
                                illum repudiandae dolor deserunt aut iure
                                debitis laborum minus soluta, repellendus
                                ipsa sequi, quos consectetur voluptate. Facilis,
                                deserunt corporis laborum minus
                                soluta, repellendus ipsa sequi, quos consectetur
                                voluptate. Facilis, deserunt
                                corporis</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="table">
        <mat-form-field class="mb-4" appearance="standard">
          <input class="top-filter" matInput (keyup)="applyFilter($event)" placeholder="Filter" #input />
        </mat-form-field>
        <button mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Talha'}})">Excel</button>
  <button mat-raised-button (click)="exporter.exportTable('csv')">Csv</button>
  <button mat-raised-button (click)="exporter.exportTable('json')">Json</button>
  <button mat-raised-button (click)="exporter.exportTable('txt')">Txt</button>

        <div class="mat-elevation-z8">
          <mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" matSort>
            <!-- ID Column -->
            <ng-container class="m-2" matColumnDef="createAt">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Created Date
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.createAt }} </mat-cell>
            </ng-container>

            <ng-container class="m-2" matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Name
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Email
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.email }} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="mobileNumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Mobile Number
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.mobileNumber }} </mat-cell>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="panNumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Pan Number
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.panNumber }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="category">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Category
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.category }} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="typeOfApplicant">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Type Of Applicant
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.typeOfApplicant }} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nameOfCompany">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Company Name
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.nameOfCompany }} </mat-cell>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="sidmMember">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                sidm Member
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.sidmMember ? row.sidmMember : "No" }}
              </mat-cell>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="paymentStatus">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Registration fees
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <span *ngIf="row.paymentStatus==='Paid'" style="color: green;">Paid</span>
                <span *ngIf="row.paymentStatus==='Pending'" style="color: red;">Pending</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="offlinePaymentDetails">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Membership fees
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span *ngIf="row.offlinePaymentDetails" style="color: green;">Paid</span>
                <span *ngIf="!row.offlinePaymentDetails" style="color: red;">Pending</span>
              </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header>status
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <span *ngIf="row.status==='Approved'" style="color: green;">{{ row.status }}</span>
                <span *ngIf="row.status==='Pending'" style="color: red;">{{ row.status }}</span> 
                <span *ngIf="row.status==='Pending Approval'||row.status==='Request Info'" style="color: rgb(167, 162, 162);">{{ row.status }}</span> 
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef class="mat-sort-header-content">Actions </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <a (click)="viewDetails(row._id)"><i aria-hidden="true"  class="fas fa-eye"></i>
                  View</a>
                      <a 
                  *ngIf="row.paymentStatus==='Paid' && (row.status==='Pending Approval' || row.status==='Request Info')"
                  (click)="approve(row._id)"><i aria-hidden="true"class="fas fa-check"></i>
                  Approve</a>
                      <a data-toggle="modal"
                  *ngIf="row.paymentStatus==='Paid' &&( row.status==='Pending Approval'||row.status==='Request Info')"
                  (click)="modalOpen(row._id)"       data-target="#exampleModal"><i aria-hidden="true"      
                        class="fas fa-info-circle"></i> Request Info</a>
                      <a  *ngIf="row.status==='Approved'" (click)="editForm(row._id)"><i aria-hidden="true"  class="fas fa-edit"></i> Edit</a>


              </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                No data matching the filter "{{ input.value }}"
              </td>
            </tr>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<footer id="footer"></footer>
<!-- *ngIf="allFormsData?.hasPreviousPage" -->
<!-- *ngIf="allFormsData?.hasNextPage" -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request Info</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="requestInfo">
          <div class="">
            <div class="form-group">
              <input type="textbox" class="form-control user-bg" id="uername" placeholder="remark"
                formControlName="remark" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="NewBtn" data-dismiss="modal">Close</button>
        <button type="button" class="NewBtn" (click)="remark()">Submit</button>
      </div>
    </div>
  </div>
</div>