<!-- ================= HEADER ================= -->
<header class="marathon-header-fixed header-fixed">
    <a href="javascript:void(0)" class="nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <div class="top-panel">
        <div class="container">
            <a href="javascript:void(0)" class="logo2">
                <img class="headerLogo1" src="assets/img/New_img/SIDM-c-logo-01.svg" alt="logo"
                    >
                </a>
            <a href="javascript:void(0)" class="logo1">
                <img class="headerLogo2" src="assets/img/New_img/logo.png" alt="logo"
                   >
                </a>

            <a href="javascript:void(0)" class="logo3">
                <img class="headerLogo3" src="assets/img/New_img/azadi-ka-amrit-mahotsav.png"
                    alt="logo">
                </a>
        </div>
    </div>
    <!-- <div class="header-nav">
        <div class="container">
            <div class="header-nav-cover">
                <nav class="nav-menu menu">
                    <ul class="nav-list">
                        <li class="active-page">
                            <a href="index.html">home</a>
                        </li>
                        <li><a href="#about">about sidm</a></li>
                        <li><a href="#Objective">OBJECTIVE</a></li>
                        <li><a href="#categories">categories</a></li>
                        <li><a href="#committee">AWARDS COMMITTEE</a></li>
                        <li><a href="#process">process</a></li>
                        <li><a href="#testimonial">testimonials</a></li>
                        <li><a href="#faq">faqs</a></li>
                        <li><a href="#award2020">AWARDS 2020</a></li>
                        <li><a href="#footer">Contact Us</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div> -->
</header>
<!-- =============== HEADER END =============== -->
<!--=================== PAGE-TITLE ===================-->
<div class="page-title">
    <div class="container">
        <h1 class="title">Dashboard</h1>
        <div class="breadcrumbs">
            <ul>
                <li><a (click)="logout()"><i aria-hidden="true" class="fa fa-sign-out "></i> Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<!--================= PAGE-TITLE END =================-->
<!--===================== DASHBOARD =====================-->
<!-- <section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="profileSection pd">
                    <div class="row">
                        <div class="col-lg-3">
                            <img class="profile_Img"
                                src="assets/img/New_img/building.png" alt="">
                        </div>
                        <div class="col-lg-9">
                            <h1 class="profile-title">Admin</h1>
                            <button class="NewBtn mt-2" (click)="logout()">
                                <i aria-hidden="true" class="fa fa-sign-out "></i>
                                Logout
                            </button>
                            <p class="mt-4">Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Perferendis,
                                quam quas illum repudiandae dolor deserunt aut
                                iure debitis laborum minus soluta,
                                repellendus ipsa sequi, quos consectetur
                                voluptate. Facilis, deserunt corporis.
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Perferendis, quam quas
                                illum repudiandae dolor deserunt aut iure
                                debitis laborum minus soluta, repellendus
                                ipsa sequi, quos consectetur voluptate. Facilis,
                                deserunt corporis laborum minus
                                soluta, repellendus ipsa sequi, quos consectetur
                                voluptate. Facilis, deserunt
                                corporis</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="profileSection mb-6">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Personal Information</th>
                                <th scope="col">Address</th>
                                <th scope="col">Category</th>
                                <th scope="col">Type Of Applicant</th>
                                <th scope="col">Organisation</th>
                                <th scope="col">Membership Number</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of allFormsData?.forms; let i=
                                index">
                                <td class="table_content"><span class="font-bold text-theme">{{i+1+index}}</span></td>
                                <th scope="row">
                                    <ul class="list-unstyled text-xs">
                                        <li class="table_content"><span class="font-bold
                                                text-theme">Name:</span>{{item.name}}</li>
                                        <li class="table_content"><span class="font-bold
                                                text-theme">Mobile
                                                Number:</span>{{item.mobileNumber}}</li>
                                        <li class="table_content"><span class="font-bold
                                                text-theme">Email:</span>{{item.email}}</li>
                                        <li class="table_content"><span class="font-bold
                                                text-theme">Designation:</span>{{item.designation}}</li>
                                    </ul>
                                </th>
                                <td>
                                    <ul class="list-unstyled text-xs">
                                        <li class="table_content"><span class="font-bold
                                                text-theme">Address:</span>
                                            {{item.addressl1}}
                                            {{item.addressl2}}</li>
                                        <li class="table_content"><span class="font-bold
                                                text-theme">City:</span>{{item.city}}</li>
                                        <li class="table_content"><span class="font-bold
                                                text-theme">State:</span>{{item.state}}</li>
                                        <li class="table_content"><span class="font-bold
                                                text-theme">PinCode:</span>{{item.pincode}}</li>
                                    </ul>
                                </td>
                                <td class="table_content" scope="row">{{item.category}}</td>
                                <th class="table_content" scope="row">{{item.typeOfApplicant}}</th>
                                <td scope="row">
                                    <ul class="list-unstyled text-xs">
                                        <li class="table_content"><span class="font-bold
                                                text-theme">Name:</span>{{item.nameOfCompany}}</li>
                                        <li class="table_content"><span class="font-bold
                                                text-theme">Date:</span>{{item.dateOfCompany}}</li>
                                        <li class="table_content"><span class="font-bold
                                                text-theme">Pan Number:</span>{{item.panNumber}}</li>
                                        <li class="table_content"><span class="font-bold
                                                text-theme">Gst Number:</span>{{item.gstinOfCompany}}</li>
                                    </ul>
                                </td>
                                <td scope="row">
                                    <ul class="list-unstyled text-xs">
                                        <li class="table_content"><span class="font-bold
                                                text-theme">SIDM
                                                Membership Number:</span>{{item.sidmMemberShipNumber}}</li>
                                        <li class="table_content"><span class="font-bold
                                                text-theme"> Other Association
                                                Organisation :</span>{{item.associationName}}</li>
                                    </ul>
                                </td>

                                <!-- <td class="text-center">
                                    <div class="btn-group dropdown">
                                      <button class="btn btn-default w-xxs btn-sm r-2x" data-toggle="dropdown"
                                        aria-expanded="false"><i class="fa fa-cog g-px-5  text-info text-sm"></i> <span class=""><i
                                            class="fa fa-caret-down"></i></span></button>
                                      <ul class="dropdown-menu">
                                        <li><a (click)="viewDetails(item._id)"><i class="fa fa-edit"></i>  View</a></li>
                                        <li><a href="#"><i class="fa fa-trash-o"></i> Delete </a></li>
                                        <li><a href="#"><i class="fa fa-lock"></i> Lock </a> </li>
                                      </ul>
                                    </div>
                                  </td> -->

                                <td><button class="viewBtn" (click)="viewDetails(item._id)">
                                        View
                                    </button>
                                    <button class="viewBtn" (click)="approve(item._id)">
                                        Approve
                                    </button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>




    </div>
</section>

<section class="pagination" style="justify-content: flex-end;">
    <nav aria-label="Page navigation example " style="margin: 1rem;">
        <ul class="pagination justify-content-center">
            <li class="page-item " *ngIf="allFormsData?.hasPreviousPage">
                <a class="page-link" (click)="perviousPage()" tabindex="-1">Previous Page</a>
            </li>
            <li class="page-item" *ngIf="allFormsData?.hasPreviousPage || allFormsData?.hasNextPage "><a
                    class="page-link ">Current Page</a></li>
            <li class="page-item " *ngIf="allFormsData?.hasNextPage">
                <a class="page-link" (click)="nextpage()">Next Page</a>
            </li>
        </ul>
    </nav>
    <!-- <nav aria-label="Page navigation example ">
        <ul class="pagination">
          <li class="page-item" *ngIf="allFormsData?.hasPreviousPage">
            <a class="page-link" (click)="perviousPage()"  aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="active" >Current</a></li>
          <li class="page-item"  *ngIf="allFormsData?.hasNextPage">
            <a class="page-link"(click)="nextpage()" *ngIf="allFormsData?.hasNextPage" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav> -->
    <!-- <button (click)="perviousPage()" *ngIf="allFormsData?.hasPreviousPage" >Pervious Page</button>
<button class="active">Current Page</button>
<button  (click)="nextpage()" *ngIf="allFormsData?.hasNextPage">Next Page</button> -->
</section>



<footer id="footer">

</footer>
<!-- *ngIf="allFormsData?.hasPreviousPage" -->
<!-- *ngIf="allFormsData?.hasNextPage" -->