<div class="topHeader">
    <h2>Category Applied In</h2>
</div>
<div class="questionnaireForm">
    <!-- <div>
          <span class="save-btn">Total Score :{{aissmentdata[0]?.totalScore}}</span>
        </div> -->
 
  
  
    <table class="table">
      <thead class="thead-dark">
        <tr>
         
          <th scope="col">Assessor Name</th>
          <th scope="col">Assessor Status</th>
          <th scope="col">Upload Document</th>
      
     
        
   
        </tr>
      </thead>
      <tbody>
        <tr >
            <td>  <span>Dr A Sivathanu Pillai</span></td>
             
          <td >
          
            <span >
              <span class="text-danger" *ngIf="applicantData?.prahlada?.status==='Pending'"> </span>
              <a class=" callR" *ngIf="applicantData?.prahlada?.status==='Call Review'" (click)="openModel(applicantData?.prahlada.remark)"> Call Review (click to view)</a>

              <span class="bg" *ngIf="applicantData?.prahlada?.status==='Completed'"> Completed</span> <br />
              
            </span>
          </td>
          <td>              <a class=" callR" *ngIf="applicantData?.prahlada?.status==='Call Review'"
             (click)="uploadDocument(applicantData?.prahlada.remark,applicantData?.prahlada)">Click to upload</a>
            </td>
          </tr>
          <tr >
            <td>Dr Parlahda</td>
          <td >
            
            <span >
              <span class="text-danger" *ngIf="applicantData?.aspillai?.status==='Pending'"> </span>
              <a class=" callR" *ngIf="applicantData?.aspillai?.status==='Call Review'" (click)="openModel(applicantData?.aspillai.remark)"> Call Review (click to view)</a>
              <span class="bg" *ngIf="applicantData?.aspillai?.status==='Completed'"> Completed</span> <br />
              
            </span>
          </td>
          <td>              <a class=" callR" *ngIf="applicantData?.aspillai?.status==='Call Review'"
            (click)="uploadDocument(applicantData?.aspillai.remark,applicantData?.aspillai)"> Click to upload</a>
           </td>
        </tr>
        <tr >
            <td>Lt Gen JP Nehra</td>
        
            <td >
            <span >
              <span class="text-danger" *ngIf="applicantData?.jp?.status==='Pending'"> </span>
              <a class=" callR" *ngIf="applicantData?.jp?.status==='Call Review'"  (click)="openModel(applicantData?.jp.remark)"> Call Review (click to view)</a>
              <span class="bg" *ngIf="applicantData?.jp?.status==='Completed'"> Completed</span>
            </span>
          </td>
          <td>              <a class=" callR" *ngIf="applicantData?.jp?.status==='Call Review'"
            (click)="uploadDocument(applicantData?.jp.remark,applicantData?.jp)"> Click to upload</a>
           </td>
        </tr>
        <tr >
            <td>Mr SC Bajpai</td>
          <td >
            <span >
              <span class="text-danger" *ngIf="applicantData?.scbajpai1?.status==='Pending'"> </span>
              <a class=" callR" *ngIf="applicantData?.scbajpai1?.status==='Call Review'" (click)="openModel(applicantData?.scbajpai1.remark)"> Call Review (click to view)</a>
              <span class="bg" *ngIf="applicantData?.scbajpai1?.status==='Completed'"> Completed</span> <br />
              
            </span>
          </td>
          <td>              <a class=" callR" *ngIf="applicantData?.scbajpai1?.status==='Call Review'"
            (click)="uploadDocument(applicantData?.scbajpai1.remark,applicantData?.scbajpai1)"> Click to upload</a>
           </td>
        </tr>
        <tr >
            <td>Dr RK Tyagi</td>
          <td >
            <span >
              <span class="text-danger" *ngIf="applicantData?.rktyagi?.status==='Pending'"> </span>
              <a class=" callR" *ngIf="applicantData?.rktyagi?.status==='Call Review'"  (click)="openModel(applicantData?.rktyagi.remark)"> Call Review (click to view)</a>
              <span class="bg" *ngIf="applicantData?.rktyagi?.status==='Completed'"> Completed</span> <br />
        
            </span>
          </td>
          <td>              <a class=" callR" *ngIf="applicantData?.rktyagi?.status==='Call Review'"
            (click)="uploadDocument(applicantData?.rktyagi.remark,applicantData?.rktyagi)"> Click to upload</a>
           </td>
        </tr>
        <tr >
            <td>Rear Admiral Pritam Lal</td>
          <td >
            <span >
              <span class="text-danger" *ngIf="applicantData?.pritam?.status==='Pending'"> </span>
              <a class=" callR" *ngIf="applicantData?.pritam?.status==='Call Review'" (click)="openModel(applicantData?.pritam.remark)"> Call Review (click to view)</a>
              <span class="bg" *ngIf="applicantData?.pritam?.status==='Completed'"> Completed</span> <br />

            </span>
          </td>
          <td>              <a class=" callR" *ngIf="applicantData?.pritam?.status==='Call Review'"
            (click)="uploadDocument(applicantData?.pritam.remark,applicantData?.pritam)"> Click to upload</a>
           </td>
        </tr>
        <tr >
            <td>Mr Sunil Misra</td>
          <td >
            <span >
              <span class="text-danger" *ngIf="applicantData?.dg?.status==='Pending'"> </span>
              <a class=" callR" *ngIf="applicantData?.dg?.status==='Call Review'" (click)="openModel(applicantData?.dg.remark)"> Call Review (click to view)</a>
              <span class="bg" *ngIf="applicantData?.dg?.status==='Completed'"> Completed</span>
            </span>
          </td>
          <td>              <a class=" callR" *ngIf="applicantData?.dg?.status==='Call Review'"
            (click)="uploadDocument(applicantData?.dg.remark,applicantData?.dg)"> Click to upload</a>
           </td>
        </tr>
        <tr >
            <td>Final Jury</td>
          <td  >
            <span >
              <span class="text-danger" *ngIf="applicantData?.finaljury?.status==='Pending'"> </span>
              <a class=" callR" *ngIf="applicantData?.finaljury?.status==='Call Review'" (click)="openModel(applicantData?.finaljury.remark)"> Call Review (click to view)</a>
              <span class="bg" *ngIf="applicantData?.finaljury?.status==='Completed'"> Completed</span> <br />

            </span>
          </td>
          <td>              <a class=" callR" *ngIf="applicantData?.finaljury?.status==='Call Review'"
            (click)="uploadDocument(applicantData?.finaljury.remark,applicantData?.finaljury)"> Click to upload</a>
           </td>

        </tr>
      </tbody>
    </table>
  </div>