
    <!--=================== PAGE-TITLE ===================-->
    <div class="page-title">
        <div class="container">
            <h1 class="title">Dashboard</h1>
            <ul class=" d-flex mt-3 pb-2 ">
                <li class="footer-phone">
                    <i aria-hidden="true" class="fas fa-phone-alt"></i>
                    <a href="tel:+91 11 45771000" class="phoneNo"></a>
                    <span> / </span>
                   
                </li>
                <li class="footer-email ml-3">
                    <i aria-hidden="true" class="fas fa-envelope"></i>
                    <a href="mailto:membership@sidm.in" class="phoneNo mt-2"></a>
                </li>
            </ul>

        </div>
    </div>
    <!--================= PAGE-TITLE END =================-->

    <!--===================== DASHBOARD =====================-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="">
                        <div class="row">
                            <!-- <div class="col-lg-3">
                                <img class="profile_Img" src="assets/img/New_img/building.png" alt="">
                            </div> -->
                            <!-- <div class="col-lg-12" *ngFor="let item of memberData;let i=
                            index">
                                <h1 class="profile-title">{{item.nameOfOrganisation}}</h1>
                                <ul class="footer-contacts d-flex mt-3 pb-2 profile-info">
                                    <li class="footer-phone">
                                        <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                        <a href="tel:+91 11 45771000" class="phoneNo">+91 11 45771000</a>
                                        <span> / </span>
                                        <a href="tel:24629994"  class="phoneNo">24629994 – 7</a>
                                    </li>
                                    <li class="footer-email ml-3">
                                        <i aria-hidden="true" class="fas fa-envelope"></i>
                                        <a href="mailto:membership@sidm.in" class="phoneNo mt-2">membership@sidm.in</a>
                                    </li>
                                </ul>
                                <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                                    quam quas illum repudiandae dolor deserunt aut iure debitis laborum minus soluta,
                                    repellendus ipsa sequi, quos consectetur voluptate. Facilis, deserunt corporis.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, quam quas
                                    illum repudiandae dolor deserunt aut iure debitis laborum minus soluta, repellendus
                                    ipsa sequi, quos consectetur voluptate. Facilis, deserunt corporis laborum minus
                                    soluta, repellendus ipsa sequi, quos consectetur voluptate. Facilis, deserunt
                                    corporis</p>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="profileSection mb-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Category Name</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of memberData;let i=
                                            index">
                                            <th scope="row">{{i+1}}</th>
                                            <td>{{item.category}}</td>
                                            <td><a 
                                                    class="viewBtn" (click)="viewForm(item)">View</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="apply text-center" *ngIf="(cat1||cat2||cat3||cat4)&&EditForm">
                <button class="viewBtn paymentBtn" (click)="applyNew()" >Apply for new category +</button> 
                <!-- <button type="submit" class="NewBtn"><span>Apply Now</span></button> -->
            </div>
<!-- <div  *ngIf="newCategory">
    <form  [formGroup]="newCategoryForm" class="mb-2">
        <div class="formPart_1">
            <div class="row">

            </div>
            <h5 class="mb-3 mt-3">Please choose the Category that you wish to Apply for</h5>
            <div class="">
                <div class="checkgroup">
                    <div class="radioBox Apply-control Apply-radio d-flex align-item-center"  *ngIf="cat1">
                        <input  formControlName="category"  value="cat1" type="radio" id="ApplyRadio1" name="category"
                                    class="Apply-control-input mt-2 mr-2">
                        <label class="Apply-control-label font" for="ApplyRadio1">C1 – Technology /
                            Product Innovation to address Defence Capability Gaps </label>
                    </div>
                    <div class="mr-0 radioBox Apply-control Apply-radio d-flex align-item-center" *ngIf="cat2" >
                        <input formControlName="category" value="cat2" type="radio" id="ApplyRadio2" name="category"
                        class="Apply-control-input mt-2 mr-2">
                        <label class="Apply-control-label font" for="ApplyRadio2">C2 – Import
                            Substitution for Mission Critical Parts / Sub-Systems / Systems</label>
                    </div>
                    <div class="radioBox Apply-control Apply-radio d-flex align-item-center ml-3" *ngIf="cat3">
                        <input formControlName="category" value="cat3" type="radio" id="ApplyRadio3" name="category"
                                    class="Apply-control-input mt-2 mr-2">
                        <label class="Apply-control-label font" for="ApplyRadio3">C3 – Creation of
                            Niche, Technological Capability for Design, Manufacturing or Testing
                        </label>
                    </div>
                    <div class="radioBox Apply-control Apply-radio d-flex align-item-center" *ngIf="cat4">
                        <input formControlName="category" value="cat4" type="radio" id="ApplyRadio4" name="category"
                        class="Apply-control-input mt-2 mr-2">
                        <label class="Apply-control-label font" for="ApplyRadio4">C4 – Export
                            Performance of Defence & Aerospace Products</label>
                    </div>
                </div>
                <div *ngIf="submitted||newCategoryForm.controls['category'].invalid &&  newCategoryForm.controls['category'].touched">         
                    <span *ngIf="newCategoryForm.get('category').hasError('required')" style="color: red;">
                        category <strong>required</strong>
                    </span>                        
            </div>
            </div>
            <h5 class="mt-5 mb-3">Type of Applicant company</h5>
            <div class="row">
                <div class="checkgroup">
                    <div class="radioBox Apply-control
                        Apply-radio d-flex align-item-center">
                        <input formControlName="typeOfApplicant"
                            value="L" type="radio"
                            id="ApplyRadio5"
                            name="typeOfApplicant"
                            class="Apply-control-input mt-2
                            mr-2">
                        <label class="Apply-control-label font"
                            for="ApplyRadio5">L – Large
                            <br>(Annual Turnover FY 2020-21 over
                            & above Rs 250 Crore)</label>
                    </div>
                    <div class="mr-0 radioBox Apply-control
                        Apply-radio d-flex align-item-center">
                        <input formControlName="typeOfApplicant"
                            value="M" type="radio"
                            id="ApplyRadio6"
                            name="typeOfApplicant"
                            class="Apply-control-input mt-2
                            mr-2">
                        <label class="Apply-control-label font"
                            for="ApplyRadio6">M – Medium<br>
                            (Annual Turnover FY 2020-21 between
                            Rs 75 to 250 Crore)
                        </label>
                    </div>
                    <div class="radioBox Apply-control
                        Apply-radio d-flex align-item-center
                        ml-3">
                        <input formControlName="typeOfApplicant"
                            value="S" type="radio"
                            id="ApplyRadio7"
                            name="typeOfApplicant"
                            class="Apply-control-input mt-2
                            mr-2">
                        <label class="Apply-control-label font"
                            for="ApplyRadio7">S – Small<br>
                            (Annual Turnover FY 2020-21 less
                            than Rs 75 Crore)
                        </label>
                    </div>
                    <div *ngIf="newCategoryForm.controls['typeOfApplicant'].invalid &&  newCategoryForm.controls['typeOfApplicant'].touched ">
                    <div *ngIf="submitted||newCategoryForm.controls['typeOfApplicant'].invalid
                        &&
                        newCategoryForm.controls['typeOfApplicant'].touched">
                        <span
                            *ngIf="newCategoryForm.get('typeOfApplicant').hasError('required')"
                            style="color: red;">
                            Type of Applicant company <strong>required</strong>
                        </span>
                    </div>
                </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h5 class="mt-4 mb-3">Name of the
                        Organization</h5>
                    <input formControlName="nameOfOrganisation"
                        type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="mt-5 mb-3">Address of your
                        organizations</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">Address Line 1 *</h5>
                    <input formControlName="addressl1"
                        type="text">
                        <div *ngIf="newCategoryForm.controls['addressl1'].invalid &&  newCategoryForm.controls['identifier'].touched ">
                    <div *ngIf="submitted||newCategoryForm.controls['addressl1'].invalid
                        &&
                        newCategoryForm.controls['addressl1'].touched">
                        <span
                            *ngIf="newCategoryForm.get('addressl1').hasError('required')"
                            style="color: red;">
                            Address Line 1 <strong>required</strong>
                        </span>
                    </div>
                        </div>
                </div>
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">Address Line 2 </h5>
                    <input formControlName="addressl2"
                        type="text">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">State *</h5>
                    <select formControlName="state"
                        class="select">
                        <option *ngFor="let item of states"
                            value="{{item.state}}">{{item.state}}</option>
                    </select>
                     <input formControlName="state" type="text"> 
                    <div *ngIf="newCategoryForm.controls['state'].invalid &&   newCategoryForm.controls['state'].touched ">
                    <div
                        *ngIf="submitted||newCategoryForm.controls['state'].invalid
                        &&
                        newCategoryForm.controls['state'].touched">
                        <span
                            *ngIf="newCategoryForm.get('state').hasError('required')"
                            style="color: red;">
                            State <strong>required</strong>
                        </span>
                    </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">City *</h5>
                    <input formControlName="city"
                        (keypress)="keyPresschar($event)"
                        type="text">
                    <div *ngIf="submitted||newCategoryForm.controls['city'].invalid
                        &&
                        newCategoryForm.controls['city'].touched">
                        <span
                            *ngIf="newCategoryForm.get('city').hasError('required')"
                            style="color: red;">
                            City <strong>required</strong>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">Pincode *</h5>
                    <input formControlName="pincode"
                        (keypress)="keyPressNumbers($event)"
                        type="text">
                    <div> <div *ngIf="submitted||newCategoryForm.controls['pincode'].invalid
                            &&
                            newCategoryForm.controls['pincode'].touched">
                            <span
                                *ngIf="newCategoryForm.get('pincode').hasError('required')"
                                style="color: red;">
                                Pincode <strong>required</strong>
                            </span>
                            <span style="color: red;"
                                *ngIf="newCategoryForm.get('pincode').invalid
                                &&
                                !newCategoryForm.get('pincode').hasError('required')">
                                Please enter a valid pincode
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">Contact Person Name *</h5>
                    <input formControlName="name" type="text">
                    <div *ngIf="submitted||newCategoryForm.controls['name'].invalid
                        &&
                        newCategoryForm.controls['name'].touched">
                        <span
                            *ngIf="newCategoryForm.get('name').hasError('required')"
                            style="color: red;">
                            Contact Person Name <strong>required</strong>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">Designation</h5>
                    <input ormControlName="designation"
                        type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">E-Mail Address *</h5>
                    <input  formControlName="email" type="text"
                       readonly
                        >
                   
                </div>
               
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">Mobile Number *</h5>
                    <input  
                        formControlName="mobileNumber"
                        type="text"  readonly>
                  
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">PAN of the
                        Organization *</h5>
                    <input 
                        formControlName="panNumberOfOrganization"
                        readonly
                        type="text" >
                    
                </div>
              
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">GSTIN of the
                        Organization</h5>
                    <input formControlName="gstinOfOrganization"
                        type="text">
                </div>
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">Upload GST Certificate
                        Document</h5>
                    <input
                        formControlName="documentGstCertificate"
                        accept="application/pdf" type="file"
                        (change)="changeListener($event,'documentGstCertificate')">
                </div>
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">Date of Incorporation
                        of the Organization</h5>
                    <input formControlName="dateOfOrganization"
                        type="date">
                </div>
            </div>

        </div>

        <div class="formPart_2">
            <h5 class="mt-3 mb-3">Are you member of SIDM</h5>
            <div class="container">
                <ul class="nav nav-pills mb-3" id="pills-tab"
                    role="tablist">
                    <li class="nav-item">
                        <a class="nav-link"id="pills-YES-tab"
                            data-toggle="pill" href="#pills-YES"
                            role="tab" aria-controls="pills-YES"
                            aria-selected="true">YES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-NO-tab"
                            data-toggle="pill" href="#pills-NO"
                            role="tab" aria-controls="pills-NO"
                            aria-selected="false">NO</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade" id="pills-YES"
                        role="tabpanel"
                        aria-labelledby="pills-YES-tab">
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="mt-2 mb-3">Provide the
                                    membership number</p>
                                <input
                                    formControlName="sidmMemberShipNumber"
                                    type="text">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-NO"
                        role="tabpanel"
                        aria-labelledby="pills-NO-tab"></div>
                </div>
            </div>
            <h5 class="mt-5 mb-3">Are you member of any other
                association</h5>
            <div class="container">
                <ul class="nav nav-pills mb-3" id="pills-tab"
                    role="tablist">
                    <li class="nav-item">
                        <a class="nav-link"id="pills-true-tab"
                            data-toggle="pill"
                            href="#pills-true" role="tab"
                            aria-controls="pills-true"
                            aria-selected="true">YES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-false-tab"
                            data-toggle="pill"
                            href="#pills-false" role="tab"
                            aria-controls="pills-false"
                            aria-selected="false">NO</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade" id="pills-true"
                        role="tabpanel"
                        aria-labelledby="pills-true-tab">
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="mt-2 mb-3">Enter the
                                    name(s) of the associations
                                    separated by comma</p>
                                <input
                                    formControlName="otherAssociationMemberShipNumber"
                                    type="text">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-false"
                        role="tabpanel"
                        aria-labelledby="pills-false-tab"></div>
                </div>
            </div>
            <h5 class="mt-5 mb-3">Are you a registered Vendor of
                any Defence Organisation such as
                DPSU/DRDO etc</h5>
            <div class="container">
                <ul class="nav nav-pills mb-3" id="pills-tab"
                    role="tablist">
                    <li class="nav-item">
                        <a class="nav-link"id="pills-vendor-tab"
                            data-toggle="pill"
                            href="#pills-vendor" role="tab"
                            aria-controls="pills-vendor"
                            aria-selected="vendor">YES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            id="pills-nonvendor-tab"
                            data-toggle="pill"
                            href="#pills-nonvendor" role="tab"
                            aria-controls="pills-nonvendor"
                            aria-selected="nonvendor">NO</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade" id="pills-vendor"
                        role="tabpanel"
                        aria-labelledby="pills-vendor-tab">
                        <div class="form-group">
                            <div class="row mt-3">
                                <div class="col-lg-6">
                                    <h6 class="mb-2">Name of the
                                        Vendor Organization
                                        registered with</h6>
                                    <input
                                        formControlName="vendorOrganization1"
                                        type="text">
                                </div>
                                <div class="col-lg-6">
                                    <h6 class="mb-2">Name of the
                                        Vendor Organization
                                        registered with</h6>
                                    <input
                                        formControlName="vendorOrganization2"
                                        type="text">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-6">
                                    <h6 class="mb-2">Name of the
                                        Vendor Organization
                                        registered with</h6>
                                    <input
                                        formControlName="vendorOrganization3"
                                        type="text">
                                </div>
                                <div class="col-lg-6">
                                    <h6 class="mb-2">Name of the
                                        Vendor Organization
                                        registered with</h6>
                                    <input
                                        formControlName="vendorOrganization4"
                                        type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                        id="pills-nonvendor" role="tabpanel"
                        aria-labelledby="pills-nonvendor-tab"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h5 class="mt-5 mb-4">Brief About the
                        Company <p class="wordFont">( in 200
                            Words
                            )</p>
                    </h5>
                    <div class="">
                        <textarea formControlName="briefCompany"
                            class="form-control mb-3"
                            aria-label="With textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="container">
                <p>Please give write up as per the format given
                    below of not more then 3000 words
                    about
                    Company
                    and the details indicating achievements to
                    justify as to why Application
                    deserves to
                    be
                    considered for the award apply for:</p>
            </div>
            <h5 class="mt-5 mb-4">About the company</h5>
            <div class="">
                <textarea formControlName="aboutCompany"
                    class="form-control mb-3" aria-label="With
                    textarea"></textarea>
            </div>
            <h5 class="mt-5 mb-4">Achievements</h5>
            <div class="">
                <textarea
                    formControlName="achievementsToJustifyApplication"
                    class="form-control mb-5" aria-label="With
                    textarea"></textarea>
            </div>
            <h5 class="mt-5">Have you received any reports of
                performance / letters of appreciation
                from
                customer
                organization?</h5>
            <div class="mb-3 mt-3">
                <ul class="nav nav-pills mb-3" id="pills-tab"
                    role="tablist">
                    <li class="nav-item">
                        <a class="nav-link"id="pills-reports-tab"
                            data-toggle="pill"
                            href="#pills-reports" role="tab"
                            aria-controls="pills-reports"
                            aria-selected="reports">YES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            id="pills-noreports-tab"
                            data-toggle="pill"
                            href="#pills-noreports" role="tab"
                            aria-controls="pills-noawarded"
                            aria-selected="noreports" (click)="report()">NO</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade"
                        id="pills-reports" role="tabpanel"
                        aria-labelledby="pills-reports-tab">
                        <div class="form-group">
                            <h5 for="">Upload documents</h5>
                            <input
                                formControlName="appreciationDocuments"
                                type="file"
                                accept=".gif,.jpg,.jpeg,.png,.doc,.docx,.pdf"
                                (change)="changeListener($event,'appreciationDocuments')"
                                class="mt-3" name="" id=""
                                aria-describedby="helpId"
                                placeholder="">
                        </div>
                    </div>
                    <div class="tab-pane fade"
                        id="pills-noreports" role="tabpanel"
                        aria-labelledby="pills-noreports-tab"></div>
                </div>
            </div>
            <h5 class="mt-5 mb-4">How does your achievement
                compare with the other competing options
                available to the customer?</h5>
            <div class="">
                <textarea formControlName="campareAchivement"
                    class="form-control mb-5" aria-label="With
                    textarea"></textarea>
            </div>
            <h5 class="mt-5 mb-4">How, in your opinion, dose
                this award matter to your company?</h5>
            <div class="">
                <textarea formControlName="awardMatterToCompany"
                    class="form-control mb-5" aria-label="With
                    textarea"></textarea>
            </div>
            <h5 class="mt-5 mb-4">Please upload Photograph /
                videos of the products / innovation /
                facilities, fielded for the awards</h5>
            <div class="">
                <input formControlName="documentsOfProduct"
                    type="file"
                    accept=".gif,.jpg,.jpeg,.png,.doc,.docx,.pdf"
                    (change)="changeListener($event,'documentsOfProduct')"
                    class="border-light mb-4" name="" id=""
                    aria-describedby="helpId"
                    placeholder="">
            </div>
            <div class="col-md-12 mt-4">
                <div class="form-group">
                    <re-captcha
                    (resolved)="resolved($event)" 
                        siteKey="6LcZYWYeAAAAAFFzV_pFdZBksDadFNggfpxTZMfS" ></re-captcha>
                </div>

            </div>
        </div>

    </form>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mt-5 mb-5 text-center">
                        <button type="submit" class="NewBtn" (click)="onSubmit()" ><span>Submit form</span></button>
                        <button class="save-btn" target="blanck"  (click)="onSubmit()"><span>Save draft</span></button>
                    </div>
                </div>
            </div>
</div> -->


<!--Edit Form-->
<div  *ngIf="!EditForm">
    <form  [formGroup]="editForm" class="mb-2">
        <div class="formPart_1">
            <div class="row">

            </div>
            <h5 class="mb-3 mt-3">{{catagery}}</h5>
           
            <h5 class="mt-5 mb-3">Type of Applicant company</h5>
            <div class="row">
                <div class="checkgroup">
                    <div class="radioBox Apply-control
                        Apply-radio d-flex align-item-center">
                        <input formControlName="typeOfApplicant"
                            value="L" type="radio"
                            id="ApplyRadio5"
                            name="typeOfApplicant"
                            class="Apply-control-input mt-2
                            mr-2">
                        <label class="Apply-control-label font"
                            for="ApplyRadio5">L – Large
                            <br>(Annual Turnover FY 2020-21 over
                            & above Rs 250 Crore)</label>
                    </div>
                    <div class="mr-0 radioBox Apply-control
                        Apply-radio d-flex align-item-center">
                        <input formControlName="typeOfApplicant"
                            value="M" type="radio"
                            id="ApplyRadio6"
                            name="typeOfApplicant"
                            class="Apply-control-input mt-2
                            mr-2">
                        <label class="Apply-control-label font"
                            for="ApplyRadio6">M – Medium<br>
                            (Annual Turnover FY 2020-21 between
                            Rs 75 to 250 Crore)
                        </label>
                    </div>
                    <div class="radioBox Apply-control
                        Apply-radio d-flex align-item-center
                        ml-3">
                        <input formControlName="typeOfApplicant"
                            value="S" type="radio"
                            id="ApplyRadio7"
                            name="typeOfApplicant"
                            class="Apply-control-input mt-2
                            mr-2">
                        <label class="Apply-control-label font"
                            for="ApplyRadio7">S – Small<br>
                            (Annual Turnover FY 2020-21 less
                            than Rs 75 Crore)
                        </label>
                    </div>
                   
                        <span
                            *ngIf="editForm.get('typeOfApplicant').invalid"
                            style="color: red;">
                            Type of Applicant company <strong>required</strong>
                        </span>
                  

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h5 class="mt-4 mb-3">Name of the
                        Organization</h5>
                    <input formControlName="nameOfOrganisation"
                        type="text">
                        <span
                        *ngIf="editForm.get('nameOfOrganisation').invalid"
                        style="color: red;">
                        Name of the
                        Organizationy <strong>required</strong>
                    </span>
              

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="mt-5 mb-3">Address of your
                        organizations</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">Address Line 1 *</h5>
                    <input formControlName="addressl1"
                        type="text">
                        <!-- <div *ngIf="editForm.controls['addressl1'].invalid &&  editForm.controls['identifier'].touched ">
                    <div *ngIf="submitted||editForm.controls['addressl1'].invalid
                        &&
                        editForm.controls['addressl1'].touched"> -->
                        <span
                            *ngIf="editForm.get('addressl1').invalid"
                            style="color: red;">
                            Address Line 1 <strong>required</strong>
                        </span>
                    <!-- </div>
                        </div> -->
                </div>
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">Address Line 2 </h5>
                    <input formControlName="addressl2"
                        type="text">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">State *</h5>
                    <select formControlName="state"
                        class="select">
                        <option *ngFor="let item of states"
                            value="{{item.state}}">{{item.state}}</option>
                    </select>
                    <!-- <input formControlName="state" type="text"> -->
                    <!-- <div *ngIf="editForm.controls['state'].invalid && editForm.controls['state'].touched ">
                    <div
                        *ngIf="submitted||editForm.controls['state'].invalid
                        &&
                        editForm.controls['state'].touched"> -->
                        <span
                            *ngIf="editForm.get('state').invalid"
                            style="color: red;">
                            State <strong>required</strong>
                        </span>
                    <!-- </div>
                    </div> -->
                </div>
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">City *</h5>
                    <input formControlName="city"
                        (keypress)="keyPresschar($event)"
                        type="text">
                    <!-- <div *ngIf="submitted||editForm.controls['city'].invalid
                        &&
                        editForm.controls['city'].touched"> -->
                        <span
                            *ngIf="editForm.get('city').invalid"
                            style="color: red;">
                            City <strong>required</strong>
                        </span>
                    <!-- </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">Pincode *</h5>
                    <input formControlName="pincode"
                        (keypress)="keyPressNumbers($event)"
                        type="text">
                    <div> <div *ngIf="submitted||editForm.controls['pincode'].invalid
                            &&
                            editForm.controls['pincode'].touched">
                            <span
                                *ngIf="editForm.get('pincode').hasError('required')"
                                style="color: red;">
                                Pincode <strong>required</strong>
                            </span>
                            <span style="color: red;"
                                *ngIf="editForm.get('pincode').invalid
                                &&
                                !editForm.get('pincode').hasError('required')">
                                Please enter a valid pincode
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">Contact Person Name *</h5>
                    <input formControlName="name" type="text">
                    <!-- <div *ngIf="submitted||editForm.controls['name'].invalid
                        &&
                        editForm.controls['name'].touched"> -->
                        <span
                            *ngIf="editForm.get('name').hasError('required')"
                            style="color: red;">
                            Contact Person Name <strong>required</strong>
                        </span>
                <!-- </div> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">Designation</h5>
                    <input formControlName="designation"
                        type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">E-Mail Address *</h5>
                    <input appBlockCopyPaste formControlName="email" type="text"
                       readonly >    
                </div>
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">Mobile Number *</h5>
                    <input appBlockCopyPaste 
                        formControlName="mobileNumber"
                        type="text"  readonly>
                  
                </div>
               
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">PAN of the
                        Organization *</h5>
                    <input appBlockCopyPaste
                        formControlName="panNumberOfOrganization"
                        readonly
                        type="text" >
                    
                </div>
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">GSTIN of the
                        Organization</h5>
                    <input formControlName="gstinOfOrganization"
                    appUpperCase
                        type="text">
                        <span style="color: red;"
                                        *ngIf="editForm.get('gstinOfOrganization').hasError('pattern')">
                                       Invalid GST
                                    </span>
                </div>
              
            </div>
            <div class="row">
                
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">Upload GST Certificate
                        Document</h5>
                    <input
                        formControlName="documentGstCertificate"
                        accept="application/pdf" type="file"
                        (change)="changeListener($event,'documentGstCertificate')">
                </div>
                <div class="col-lg-6">
                    <h5 class="mt-3 mb-3">Date of Incorporation
                        of the Organization</h5>
                    <input formControlName="dateOfOrganization"
                        type="date">
                </div>
            </div>

        </div>


        <!-- **********************form part 2************************************************************************ -->
        <div class="formPart_2">
            <h5 class="mt-3 mb-3">Are you member of SIDM</h5>
            <div class="container">
                <!-- <ul class="nav nav-pills mb-3" id="pills-tab"
                    role="tablist"> -->
                    
                        <input type="radio" formControlName="sidmMember" value="Yes" (click)="changetoggel('sidmMember','Yes')" id="YES">
                        <label  class="mx-2" for="YES">Yes</label>
            
                      
                        <input type="radio"  formControlName="sidmMember" (click)="changetoggel('sidmMember','No')" value="No" 
                         id="No">
                        <label class="mx-2" for="No">No</label>
                      
                <!-- </ul>
                    <li class="nav-item">
                        <a class="nav-link"id="pills-YES-tab"
                            data-toggle="pill" href="#pills-YES"
                            role="tab" aria-controls="pills-YES"
                            aria-selected="true">YES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-NO-tab"
                            data-toggle="pill" href="#pills-NO"
                            role="tab" aria-controls="pills-NO"
                            aria-selected="false">NO</a>
                    </li>
                </ul> -->
                <div class="tab-content" id="pills-tabContent">
                    <div *ngIf="sidmMember">
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="mt-2 mb-3">Provide the
                                    membership number</p>
                                <input
                                    formControlName="sidmMemberShipNumber"
                                    type="text">
                                    <span  style="color: red;" *ngIf="editForm.get('sidmMemberShipNumber').hasError('required')&&editForm.controls['sidmMemberShipNumber'].touched" >
                                        membership number required
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-NO"
                        role="tabpanel"
                        aria-labelledby="pills-NO-tab"></div>
                </div>
            
                        </div>
            <h5 class="mt-5 mb-3">Are you member of any other
                association</h5>
            <div class="container">
                <input type="radio" formControlName="otherMember" value="Yes" (click)="changetoggel('otherMember','Yes')" id="YES">
                <label  class="mx-2" for="YES">Yes</label>
    
              
                <input type="radio"  formControlName="otherMember" (click)="changetoggel('otherMember','No')" value="No" 
                 id="No">
                <label class="mx-2" for="No">No</label>
                <div class="tab-content" id="pills-tabContent">
                    <div *ngIf="otherMember">
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="mt-2 mb-3">Enter the
                                    name(s) of the associations
                                    separated by comma</p>
                                <input
                                    formControlName="otherAssociationMemberShipNumber"
                                    type="text">
                                    <span  style="color: red;" *ngIf="editForm.get('otherAssociationMemberShipNumber').hasError('required')&&editForm.controls['otherAssociationMemberShipNumber'].touched" >
                                        membership number required
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-false"
                        role="tabpanel"
                        aria-labelledby="pills-false-tab"></div>
                </div>
            </div>
            <h5 class="mt-5 mb-3">Are you a registered Vendor of
                any Defence Organisation such as
                DPSU/DRDO etc</h5>
            <div class="container">
                <input type="radio" formControlName="vendorOrganization" value="Yes" (click)="changetoggel('vendorOrganization','Yes')" id="YES">
                <label  class="mx-2" for="YES">Yes</label>
    
              
                <input type="radio"  formControlName="vendorOrganization" (click)="changetoggel('vendorOrganization','No')" value="No" 
                 id="No">
                <label class="mx-2" for="No">No</label>

                <div class="tab-content" id="pills-tabContent">
                    <div *ngIf="vendorOrganization">
                        <div class="form-group">
                            <div class="row mt-3">
                                <div class="col-lg-6">
                                    <h6 class="mb-2">Name of the
                                        Vendor Organization
                                        registered with</h6>
                                    <input
                                        formControlName="vendorOrganization1"
                                        type="text">
                                        <span  style="color: red;" *ngIf="editForm.get('vendorOrganization1').hasError('required')&&(editForm.controls['vendorOrganization1'].touched||editForm.controls['vendorOrganization2'].touched||editForm.controls['vendorOrganization3'].touched||editForm.controls['vendorOrganization4'].touched)" >
                                            Vendor Organization  required
                                        </span>
                                </div>
                                <div class="col-lg-6">
                                    <h6 class="mb-2">Name of the
                                        Vendor Organization
                                        registered with</h6>
                                    <input
                                        formControlName="vendorOrganization2"
                                        type="text">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-6">
                                    <h6 class="mb-2">Name of the
                                        Vendor Organization
                                        registered with</h6>
                                    <input
                                        formControlName="vendorOrganization3"
                                        type="text">
                                       
                                </div>
                                <div class="col-lg-6">
                                    <h6 class="mb-2">Name of the
                                        Vendor Organization
                                        registered with</h6>
                                    <input
                                        formControlName="vendorOrganization4"
                                        type="text">
                                       
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                        id="pills-nonvendor" role="tabpanel"
                        aria-labelledby="pills-nonvendor-tab"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h5 class="mt-5 mb-4">Brief About the
                        Company <p class="wordFont">( in 200
                            Words
                            )</p>
                    </h5>
                    <div class="">
                        <textarea formControlName="briefCompany"
                            class="form-control mb-3"
                            aria-label="With textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="container">
                <p>Please give write up as per the format given
                    below of not more then 3000 words
                    about
                    Company
                    and the details indicating achievements to
                    justify as to why Application
                    deserves to
                    be
                    considered for the award apply for:</p>
            </div>
            <h5 class="mt-5 mb-4">About the company</h5>
            <div class="">
                <textarea formControlName="aboutCompany"
                    class="form-control mb-3" aria-label="With
                    textarea"></textarea>
            </div>
            <h5 class="mt-5 mb-4">Achievements</h5>
            <div class="">
                <textarea
                    formControlName="achievementsToJustifyApplication"
                    class="form-control mb-5" aria-label="With
                    textarea"></textarea>
            </div>
            <h5 class="mt-5">Have you received any reports of
                performance / letters of appreciation
                from
                customer
                organization?</h5>
            <div class="mb-3 mt-3">
                <input type="radio" formControlName="isappreciation" value="Yes" (click)="changetoggel('isappreciation','Yes')" id="YES">
                <label  class="mx-2" for="YES">Yes</label>
    
              
                <input type="radio"  formControlName="isappreciation" (click)="changetoggel('isappreciation','No')" value="No" 
                 id="No">
                <label class="mx-2" for="No">No</label>
                <div class="tab-content" id="pills-tabContent">
                    <div *ngIf="isappreciation">
                        <div class="form-group">
                            <h5 for="">Upload documents</h5>
                            <input
                                formControlName="appreciationDocuments"
                                type="file"
                                accept=".gif,.jpg,.jpeg,.png,.doc,.docx,.pdf"
                                (change)="changeListener($event,'appreciationDocuments')"
                                class="mt-3" name="" id=""
                                aria-describedby="helpId"
                                placeholder="">
                                <span  style="color: red;" *ngIf="editForm.get('appreciationDocuments').hasError('required')&&editForm.controls['appreciationDocuments'].touched" >
                                    documents  required
                                </span>
                                
                                <br>
                        <span> only accept .gif,.jpg,.jpeg,.png,.doc,.docx,.pdf </span>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                        id="pills-noreports" role="tabpanel"
                        aria-labelledby="pills-noreports-tab"></div>
                </div>
            </div>
            <h5 class="mt-5 mb-4">How does your achievement
                compare with the other competing options
                available to the customer?</h5>
            <div class="">
                <textarea formControlName="campareAchivement"
                    class="form-control mb-5" aria-label="With
                    textarea"></textarea>
            </div>
            <h5 class="mt-5 mb-4">How, in your opinion, dose
                this award matter to your company?</h5>
            <div class="">
                <textarea formControlName="awardMatterToCompany"
                    class="form-control mb-5" aria-label="With
                    textarea"></textarea>
            </div>
            <h5 class="mt-5 mb-4">Please upload Photograph /
                videos of the products / innovation /
                facilities, fielded for the awards</h5>
            <div class="">
                <input formControlName="documentsOfProduct"
                    type="file"
                    accept=".gif,.jpg,.jpeg,.png,.doc,.docx,.pdf"
                    (change)="changeListener($event,'documentsOfProduct')"
                    class="border-light mb-4" name="" id=""
                    aria-describedby="helpId"
                    placeholder="">
            </div>
            <div class="col-md-12 mt-4">
                <div class="form-group">
                    <re-captcha
                    (resolved)="resolved($event)" 
                        siteKey="6LcZYWYeAAAAAFFzV_pFdZBksDadFNggfpxTZMfS" ></re-captcha>
                </div>

            </div>
        </div>

    </form>
           <div class="container">
                        
                        <div class="row">
                            <div class="col-lg-12 mt-5 mb-5 text-center">
                                <button type="submit" class="NewBtn mx-2"
                                    (click)="finalSubmit('submit')"><span>Submit</span></button>
                                <button class="save-btn" target="blanck"
                                    (click)="savedraft('Draft')"><span>Save
                                        Draft</span></button>
                            </div>
                        </div>
                    </div>
</div>
        </div>
    </section>



    <footer id="footer">
	
	</footer>
