select {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 30px;
    font-size: 18px;
    font-family: "Red Hat Display", sans-serif;
    color: #8b8b8b;
    border: 1px solid #d9d9d9;
    background-color: white;
    -webkit-transition: .35s ease;
    transition: .35s ease;

}
.documentBtn {
    background: #5b7842;;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 7px 12px;
    text-decoration: none;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  


  }
  .tooltip{
      opacity: 2;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 2;
  }
  