<!-- ================= HEADER ================= -->
<header class="marathon-header-fixed header-fixed">
    <a (click)="navigateTo('cat4','S','Pending')" class="nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <div class="top-panel">
        <div class="container">
            <a (click)="navigateTo('cat4','S','Pending')" class="logo2">
                <img class="headerLogo1" src="assets/img/New_img/SIDM-c-logo-01.png" alt="logo"
                >
            </a>
        <a (click)="navigateTo('cat4','S','Pending')" class="logo1">
            <img class="headerLogo2" src="assets/img/New_img/logo.png" alt="logo"
                >
            </a>

        <a (click)="navigateTo('cat4','S','Pending')" class="logo3">
            <img class="headerLogo3"
                src="assets/img/New_img/azadi-ka-amrit-mahotsav.png" alt="logo"
                >
            </a>
        </div>
    </div>
    
</header>
<div class="container">

    <a href="" class="RegistrationBtn" >
        <i aria-hidden="true" class="fas fa-power-off mr-2" style="color: #fff;"></i>Logout</a>
        <a  class="RegistrationBtn mx-4" style="color: #fff;" (click)="navigate('/finalJury/assessorQuestionnaire')"><i aria-hidden="true" class="fas fa-eye" style="color: #fff;" style="color: #fff;"></i>View
            Assessments</a>
</div>

<!-- <div class="container">

    <a href="" class="RegistrationBtn" >
        <i aria-hidden="true" class="fas fa-power-off mr-2" style="color: #fff;"></i>Logout</a>
</div> -->

<section class="container">
    <div class="main-sec">
        <h2>C1 – Technology /
            Product Innovation to address Defence Capability Gaps</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop">
                        <h3>{{cat1.LargeType.total}}</h3>
                        <p>Large Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a  (click)="navigateTo('cat1','L','Pending')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat1.LargeType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat1','L','Call Review')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat1.LargeType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat1','L','Completed')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat1.LargeType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop2">
                        <h3>{{cat1.mediumType.total}}</h3>
                        <p>Medium Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat1','M','Pending')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat1.mediumType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat1','M','Call Review')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat1.mediumType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat1','M','Completed')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat1.mediumType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop3">
                        <h3>{{cat1.startUpType.total}}</h3>
                        <p>SME/SSI/START-UP</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat1','S','Pending')"  class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat1.startUpType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a  (click)="navigateTo('cat1','S','Call Review')"  class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat1.startUpType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat1','S','Completed')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat1.startUpType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="main-sec mt-4">
        <h2>C2 – Import
            Substitution for Mission
            Critical Parts / Sub-Systems / Systems</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop">
                        <h3>{{cat2.LargeType.total}}</h3>
                        <p>Large Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat2','L','Pending')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat2.LargeType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat2','L','Call Review')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat2.LargeType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat2','L','Completed')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat2.LargeType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop2">
                     <h3>{{cat2.mediumType.total}}</h3>
                        <p>Medium Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat2','M','Pending')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat2.mediumType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat2','M','Call Review')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat2.mediumType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat2','M','Completed')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat2.mediumType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop3">
                        <h3>{{cat2.startUpType.total}}</h3>
                        <p>SME/SSI/START-UP</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat2','S','Pending')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat2.startUpType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat2','S','Call Review')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat2.startUpType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat2','S','Completed')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat2.startUpType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="main-sec mt-4">
        <h2>C3 – Creation of
            Niche, Technological Capability for
            Design, Manufacturing or Testing</h2>
         <div class="row">
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop">
                        <h3>{{cat3.LargeType.total}}</h3>
                        <p>Large Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat3','L','Pending')"  class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat3.LargeType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat3','L','Call Review')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat3.LargeType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat3','L','Completed')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat3.LargeType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop2">
                        <h3>{{cat3.mediumType.total}}</h3>
                        <p>Medium Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat3','M','Pending')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat3.mediumType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat3','M','Call Review')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat3.mediumType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat3','M','Completed')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat3.mediumType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop3">
                        <h3>{{cat3.startUpType.total}}</h3>
                        <p>SME/SSI/START-UP</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat3','S','Pending')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat3.startUpType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat3','S','Call Review')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat3.startUpType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat3','S','Completed')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat3.startUpType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="main-sec mt-4 mb-5">
        <h2>C4 – Export
            Performance of Defence & Aerospace
            Products</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop">
                        <h3>{{cat4.LargeType.total}}</h3>
                        <p>Large Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat4','L','Pending')"  class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat4.LargeType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat4','L','Call Review')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat4.LargeType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat4','L','Completed')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat4.LargeType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop2">
                        <h3>{{cat4.mediumType.total}}</h3>
                        <p>Medium Scale</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a  (click)="navigateTo('cat4','M','Pending')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat4.mediumType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat4','M','Call Review')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat4.mediumType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat4','M','Completed')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat4.mediumType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="CategoryBox">
                    <div class="CategoryBoxTop CategoryBoxTop3">
                        <h3>{{cat4.startUpType.total}}</h3>
                        <p>SME/SSI/START-UP</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat4','S','Pending')"  class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3>{{cat4.startUpType.pending}}</h3>
                                    <p>Pending</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat4','S','Call Review')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="yellow">{{cat4.startUpType.callReview}}</h3>
                                    <p>Call review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a (click)="navigateTo('cat4','S','Completed')" class="CategoryBoxbottom">
                                <div class="CategoryBoxbottomContect">
                                    <h3 class="green">{{cat4.startUpType.completed}}</h3>
                                    <p>Completed</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--==================== FOOTER ====================-->
<footer id="footer">
 
</footer>