<!-- ================= HEADER ================= -->
<header class="marathon-header-fixed header-fixed">
  <a class="nav-btn">
    <span></span>
    <span></span>
    <span></span>
  </a>
  <div class="top-panel">
    <div class="container">
      <a class="logo2">
        <img class="headerLogo1" src="assets/img/New_img/SIDM-c-logo-01.png" alt="logo">
      </a>
      <a class="logo1">
        <img class="headerLogo2" src="assets/img/New_img/logo.png" alt="logo">
      </a>

      <a class="logo3">
        <img class="headerLogo3" src="assets/img/New_img/azadi-ka-amrit-mahotsav.png" alt="logo">
      </a>
    </div>
  </div>
</header>

<button class="BackBtn" (click)="goBack()">Back</button>
<div class="clearfix"></div>

<div class="questionnaireForm">
  <!-- <div>
        <span class="save-btn">Total Score :{{aissmentdata?.totalScore}}</span>
      </div> -->
  <div class="mainDiv">
    <div class="row">
      <div class="col-lg-6">
        <div class="ComName">COMPANY NAME: <span>{{userData?.nameOfCompany}}</span> </div>
        <div class="ComName">CATEGORY : <span>{{userData?.category}}</span> </div>
      </div>
      <div class="col-lg-6">
        <div class="ComName">Type of applicant company: <span>{{userData?.typeOfApplicant}}</span> </div>

        <div class="ComName">Nomenclature of items: <span>{{userData?.nomenclaturOfItems}}</span> </div>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="ComName">COMPANY WRITEUP: <br>
          <p>{{userData?.aboutCompany}}</p>
        </div>
      </div>
    </div>

  </div>
  <button class="RegistrationBtn CallBtn" mat-button (click)="submit('Call Review')">Call Review</button>
  <form [formGroup]="assessor">
    <mat-stepper #stepper>

      <div formArrayName="aissment">

        <div *ngFor=" let controlName of nameAissment.controls; let i = index" [formGroupName]="i">

          <mat-step [stepControl]="nameAissment?.get([i])!">
            <div class="d-flex justify-content-end">
              <div class="d-flex align-items-center">
                <label class="mr-2 MaxScore">Max Score</label>
                <p class="score">{{aissmentdata.questionAns[i].maxScore}}</p>
              </div>
              <div class="d-flex align-items-center ml-3">
                <label class="mr-2 MaxScore">Score</label>
                <p class="score">{{aissmentdata.questionAns[i].score}}</p>
              </div>
            </div>
            <h2>{{i+1}}.{{aissmentdata.questionAns[i].question}}</h2>
            <div class="checkFeild" *ngFor="let item of aissmentdata.questionAns[i]?.option;let j =index">
              <div class="form-check mb-2">
                <input class="form-check-input" disabled type="checkbox" value="{{item?.answer}}" id="{{j}}">
                <label class="form-check-label fontSize" for="{{j}}">
                  {{item?.answer}}
                </label>
              </div>
            </div>

            <!-- <div>
                <h2 *ngIf="aissmentdata.questionAns[i].score">Max score :{{aissmentdata.questionAns[i].maxScore}}</h2>
                <h2 *ngIf="aissmentdata.questionAns[i].score">Score :{{aissmentdata.questionAns[i].score}}</h2>
              </div> -->


            <h2 class="mt-3" *ngIf="aissmentdata.questionAns[i].answer">Selected option: <span class="secondText">{{aissmentdata.questionAns[i].answer}}</span></h2>

            <div *ngIf="aissmentdata.questionAns[i].description">
              <h2>Write up: <br><span class="secondText">  </span></h2><div [innerHTML]="aissmentdata.questionAns[i].description"></div>
              <label class="text" for=`assessorScore${{i+1}}`>Assessor score: </label>
              <input class="mb-4 AssessorInput" type="text" formControlName="assessorScore" (keypress)="keyPressNumbers($event)"
                id=`assessorScore${{i+1}}`>
              <p *ngIf="controlName.get('assessorScore')?.invalid" style="color: red;">
                Assessor
                score not greater than<strong>{{aissmentdata.questionAns[i].maxScore}}</strong>
              </p>

            </div>

            <a class="AttachementBtn ml-2" *ngIf='aissmentdata.questionAns[i].uploadDocuments' target="blank"
              href="{{aissmentdata.questionAns[i].uploadDocuments}}">View Attachement</a>
            <br>


            <div>

              <button *ngIf="i!==lastIndex ||aissmentdata.category==='cat4' " mat-button matStepperNext class="RegistrationBtn">Next</button>
              <button class="RegistrationBtn" *ngIf="i===lastIndex && aissmentdata.category!=='cat4'" mat-button (click)="submit('Completed')">Submit</button>
              <button *ngIf="i!==0" mat-button matStepperPrevious class="RegistrationBtn">Back</button>

            </div>
            <div class="clearfix"></div>

          </mat-step>
        </div>
      </div>
      <mat-step #stepper *ngIf="aissmentdata?.category==='cat4'">
          <div class="d-flex justify-content-end">
            <div class="d-flex align-items-center">
              <label class="mr-2 MaxScore">Max Score</label>
              <p class="score">10</p>
            </div>
            <div class="d-flex align-items-center ml-3">
              <label class="mr-2 MaxScore">Score</label>
              <p class="score">{{aissmentdata.staticScore}}</p>
            </div>
          </div>
          <h2>{{lastIndex+2}}.Number of types of products exported
            Give a list of products in an excel with their
            picture/small explanation</h2>
            <div class="checkFeild" >
              <div class="form-check mb-2">
                <input class="form-check-input mb-3" disabled type="checkbox" value="More than 05 type" id="1">
                <label class="form-check-label fontSize mb-3" for="1">More than 05 type </label><br>
                  <input class="form-check-input mb-3" disabled type="checkbox" value="03-04 types" id="2">
                <label class="form-check-label fontSize mb-3" for="2">03-04 types </label>
                <br>
                  <input class="form-check-input mb-3" disabled type="checkbox" value="02 types of products" id="3">
                <label class="form-check-label fontSize mb-3" for="3">02 types of products </label>
                <br>
                  <input class="form-check-input" disabled type="checkbox" value="Single product" id="4">
                <label class="form-check-label fontSize" for="4">
                  Single product
                </label>
              </div>
            </div>
            <h2 class="mt-3" *ngIf="aissmentdata.staticAnswer">Selected option: <span class="secondText">{{aissmentdata.staticAnswer}}</span></h2>
            <table class="table" formArrayName="staticTable" >
              <thead class="thead-dark">
                <tr>
                  <th scope="col">S.No</th>
                  <th scope="col">Product</th>
                  <th scope="col">Explain(25 words)</th>
                  <th scope="col">Upload Pic</th>
                  <th scope="col">IC Content %</th>
              </thead>
              <tbody>
                <tr *ngFor=" let item of aissmentdata.staticTable; let i = index" >
                 <td>{{i+1}} 
              </td>
                 <td>{{item.product}}</td>
                 <td>{{item.description}}</td>
                 <td>
                  <a class="AttachementBtn ml-2" *ngIf='item.uploadDocuments' target="blank"
                    href="{{item.uploadDocuments}}">View Attachment</a></td>
                 <td>{{item.IcContent}}</td>
                </tr>
              </tbody>
            </table>
            <input class="mb-4 AssessorInput" type="text" formControlName="assessorScore" (keypress)="keyPressNumbers($event)">
            <div>

              <button class="RegistrationBtn"  mat-button  (click)="staticSubmit('Completed')">Submit</button>
              <button mat-button matStepperPrevious class="RegistrationBtn">Back</button>

            </div>
  
        
  
       
      </mat-step>
     
    </mat-stepper>



  </form>

</div>