<!-- ================= HEADER ================= -->
<header class="marathon-header-fixed header-fixed">
    <a href="javascript:void(0)" class="nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <div class="top-panel">
        <div class="container">
            <a href="javascript:void(0)" class="logo2">
                <img class="headerLogo1" src="assets/img/New_img/SIDM-c-logo-01.svg" alt="logo"
                >
            </a>
        <a href="javascript:void(0)" class="logo1">
            <img class="headerLogo2" src="assets/img/New_img/logo.png" alt="logo"
                >
            </a>

        <a href="javascript:void(0)" class="logo3">
            <img class="headerLogo3"
                src="assets/img/New_img/azadi-ka-amrit-mahotsav.png" alt="logo"
                >
            </a>
        </div>
    </div>
    <!-- <div class="header-nav">
        <div class="container">
            <div class="header-nav-cover">
                <nav class="nav-menu menu">
                    <ul class="nav-list">
                        <li class="active-page">
                            <a href="index.html">home</a>
                        </li>
                        <li><a href="#about">about sidm</a></li>
                        <li><a href="#Objective">OBJECTIVE</a></li>
                        <li><a href="#categories">categories</a></li>
                        <li><a href="#committee">AWARDS COMMITTEE</a></li>
                        <li><a href="#process">process</a></li>
                        <li><a href="#testimonial">testimonials</a></li>
                        <li><a href="#faq">faqs</a></li>
                        <li><a href="#award2020">AWARDS 2020</a></li>
                        <li><a href="#footer">Contact Us</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div> -->
</header>
<!-- =============== HEADER END =============== -->
