
<!-- ================= HEADER ================= -->
<header class="marathon-header-fixed header-fixed">
  <a href="javascript:void(0)" class="nav-btn">
      <span></span>
      <span></span>
      <span></span>
  </a>
  <div class="top-panel">
      <div class="container">
          <a href="javascript:void(0)" class="logo2">
              <img class="headerLogo1" src="assets/img/New_img/SIDM-c-logo-01.png" alt="logo"
              >
          </a>
      <a href="javascript:void(0)" class="logo1">
          <img class="headerLogo2" src="assets/img/New_img/logo.png" alt="logo"
              >
          </a>

      <a href="javascript:void(0)" class="logo3">
          <img class="headerLogo3"
              src="assets/img/New_img/azadi-ka-amrit-mahotsav.png" alt="logo"
              >
          </a>
      </div>
  </div>
  
</header>

<!-- <div class="container">
  <a href="javascript:void(0)" class="RegistrationBtn" target="blanck">
      <i aria-hidden="true" class="fas fa-power-off mr-2" style="color: #fff;"></i>Logout</a>
</div> -->

<div class="container">
    <div class="row">
      <div class="col-lg-12">
  
        <div class="d-flex justify-content-between align-items-center mb-1 margin">
          <div>
            <button class="BackBtn" (click)="goBack()" >Back</button>
            <input type="sarch" (keyup)="applyFilter($event)"  placeholder="Search" class="table-btn">
          </div>

          <a href="" class="RegistrationBtn"><i aria-hidden="true" class="fas fa-power-off mr-2" style="color: #fff;"></i> Logout</a>
        </div>
  
  
  
        <div class="table-responsive ResponsiveTable">
          <table mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" matSort style="overflow-x: auto;">
            <!-- ID Column -->
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: max-content"> S No. </th>
              <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
              <td mat-cell *matCellDef="let row"><a style="color:rgb(44, 106, 220);" (click)="viewQuestionnaire(row._id)">Click to view</a>
               
              </td>
            </ng-container>
            <ng-container id="date" matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>  Name </th>
              <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
              <td mat-cell *matCellDef="let row">{{row.category}}</td>
            </ng-container>
  
            
            <!-- Name Column -->
            <ng-container matColumnDef="typeOfApplicant">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Type Of Applicant </th>
              <td mat-cell *matCellDef="let row">{{row.typeOfApplicant}}</td>
            </ng-container>
            <!-- Progress Column -->
            <ng-container matColumnDef="nameOfCompany">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>  Company Name </th>
              <td mat-cell *matCellDef="let row">{{row.nameOfCompany}}</td>
            </ng-container>
            <ng-container matColumnDef="assessorStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Assessor Status </th>
              <td mat-cell *matCellDef="let row"><span class="text-danger" *ngIf="row.assessorStatus==='Pending'"> Pending</span> <span class="text-warning callR" *ngIf="row.assessorStatus==='Call Review'"> Call Review</span> <span class="bg" *ngIf="row.assessorStatus==='Completed'"> Completed</span></td>
            </ng-container>
  
  
            <!-- Fruit Column -->
         
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
          </table>
        </div>
  
        <mat-paginator [pageSizeOptions]="[15, 45, 100]" aria-label="Select page of users"></mat-paginator>

  
      </div>
    </div>
</div>

<!--==================== FOOTER ====================-->
<footer id="footer">
 
</footer>
  
  