<div class="topHeader">
  <h2>Category {{category}}  Questionnaire </h2>
</div>

<div class="container mt-4">
  <button class="viewBtn" (click)="goBack()"><i class="fa fa-long-armemberData-left"></i>Back</button>
  <button mat-button (click)="openModel(static)" class="RegistrationBtn">Call For Review</button>
  <button mat-button *ngIf="!static" (click)="submitQuestionnaire('approved')" class="RegistrationBtn">Approve</button>
  <button mat-button *ngIf="static" (click)="submitStaticQuestionnaire('approved')" class="RegistrationBtn">Approve</button>
  <!-- <button class="viewBtn mx-2" *ngIf="memberData?.status==='Approved'" (click)="editForm(memberData._id)"> Edit</button>
  <button  class="viewBtn mx-2" *ngIf="memberData?.questionnaireStatus==='Submitted'||memberData?.questionnaireStatus==='requestInfo'||memberData?.questionnaireStatus==='approved
'"   (click)="viewQuestionnaire(memberData._id)"><i
      aria-hidden="true" class="fas fa-edit" style="color:#363a7a"></i> View Questionnaire</button> -->
</div>

<div class="clearfix"></div>
<div class="container">
  <form [formGroup]="questionnaireForm">
    <mat-stepper #stepper>

      <div formArrayName="aissment">
        <div *ngFor=" let controlName of nameAissment.controls; let i = index" [formGroupName]="i">
          <mat-step label="Q {{i}}"  [stepControl]="nameAissment?.get([i])!" >
            <div class="d-flex justify-content-end">
              <div class="d-flex align-items-center" *ngIf="questionnaireData.questionAns[i].assessorScore">
                <label class="mr-2 MaxScore">Assessor Score</label>
                <p class="score">{{questionnaireData.questionAns[i].assessorScore}}</p>
              </div>
              <div class="d-flex align-items-center">
                <label class="mr-2 MaxScore">Max Score</label>
                <p class="score">{{questionnaireData.questionAns[i].maxScore}}</p>
              </div>
              <div class="d-flex align-items-center ml-3">
                <label class="mr-2 MaxScore">Score</label>
                <p class="score">{{questionnaireData.questionAns[i].score}}</p>
              </div>
            </div>
            <h2 style="font-size: 26px;" class="matlable m-0">Q{{i+1}} - {{questionnaireData.questionAns[i].question}}</h2>
            <p style="color:rgb(150 67 67);font-size: 18px; font-weight: 500;">{{questionnaireData.questionAns[i].parameterDescription}}</p>
            <div class="auto-width">
              <mat-form-field *ngIf="questionnaireData.questionAns[i].inputType==='singleSelect'" appearance="fill">
                <mat-label style="font-size: 18px;">Select Answer</mat-label>
                <mat-select formControlName="answer">
                  <mat-option *ngFor="let option of questionnaireData.questionAns[i].option" value="{{option.answer}}">
                    {{option.answer}} </mat-option>
                </mat-select>
              </mat-form-field></div>

              <div class="auto-width">
              <mat-form-field *ngIf="questionnaireData.questionAns[i].inputType==='multiSelect'" appearance="fill">
                <mat-label style="font-size: 18px;">Select Answer</mat-label>
                <mat-select formControlName="answer" multiple>
                  <mat-option *ngFor="let option of questionnaireData.questionAns[i].option" value="{{option.answer}}">
                    {{option.answer}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <p style="font-size: 20px;color: #333;
            font-weight: 600;" *ngIf="questionnaireData.questionAns[i].applicantAnswer">Applicant Response: 
              <span style="font-size: 18px;
              font-weight: 500;">{{questionnaireData.questionAns[i].applicantAnswer}}</span></p>
            <p style="font-size: 20px;color: #333;
            font-weight: 600;"  *ngIf="questionnaireData.questionAns[i].adminAnswer">Admin Response: <span style="font-size: 18px;
              font-weight: 500;">{{questionnaireData.questionAns[i].adminAnswer}}</span></p>
              <p style="color: red;" *ngIf="controlName.get('answer')?.hasError('required')&&(controlName.get('answer')?.touched||controlName.get('answer')?.dirty ||submited)">
                please select at least one option
              </p>
         
 
            <br>
            <div *ngIf="questionnaireData.questionAns[i].description" >
              <div class="mb-2">
                <label style="font-size: 18px; font-weight: 500;color: #333333;"
                class="questionnaireLabel">Enter Description:</label>
                <ckeditor formControlName="description" data="<p>Hello, world!</p>"></ckeditor>

               
              </div>
            </div>
            <p style="color: red;" *ngIf="controlName.get('description')?.hasError('required')&&(controlName.get('description')?.touched||controlName.get('description')?.dirty||submited)">
              Answer description required
            </p>
            <div style="margin:20px 0;" *ngIf="questionnaireData.questionAns[i].uploadDocuments" appearance="fill">
              <a  class="AttachementBtn ml-2" *ngIf='questionnaireData.questionAns[i].uploadDocuments' target="blank"
              href="{{questionnaireData.questionAns[i].uploadDocuments}}">View Attachement</a>
           
            </div>
            <div class="mb-2">
              <div *ngIf="category === 'C4'&&i===2">
                <button  class="RegistrationBtn" (click)="addStatic(i)">ADD </button>
                <table class="table" formArrayName="table" >
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">S.No</th>
                      <th scope="col">Product Name</th>
                      <!-- <th scope="col">Explain(25 words)</th> -->
                      <!-- <th scope="col">Upload Pic</th> -->
                      <th scope="col">IC Content %</th>
                      <th scope="col">Select</th>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let skill of firsttable.controls; let j=index"  [formGroupName]="j">
                     <td>{{j+1}}  <a class="addBtn mb-3" *ngIf='j!==0'
                      (click)="removeStatic(i,j)"><i class="fa fa-trash"></i> </a>
                  </td>
                  <td><input formControlName="product" type="text" class="productF"></td>
                     <!-- <td><a class="AttachementBtn ml-2"  target="blank"
                      href="{{questionnaireData.staticTable[i]?.uploadDocuments}}">View Attachement</a></td> -->
                     <td><input formControlName="IcContent"  type="text" class="IcContent" ></td>
                
                     <td>    <select class="selectInput" formControlName="answer">
                      <option  value="Build to Customer Print">
                        Build to Customer Print </option>
                        <option  value="Under ToT from FOEM">
                          Under ToT from FOEM</option>
                          <option  value="Under ToT from DRDO">
                            Under ToT from DRDO</option>
                            <option  value="Indigenous, in-house design">
                              Indigenous, in-house design</option>
                    </select></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="category === 'C4'&&i===4">
                <button  class="RegistrationBtn" (click)="addStatic(i)">ADD </button>
                <table class="table" formArrayName="table" >
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" style="width: 42px;">S.No</th>
                      <th scope="col" style="width: 535px;">Product</th>
                      <!-- <th scope="col">Explain(25 words)</th> -->
                      <th scope="col">Upload Pic</th>
                      <!-- <th scope="col">IC Content %</th> -->
                  </thead>
                  <tbody>
                    <tr *ngFor=" let controlName of table.controls; let j = index" [formGroupName]="j">
                     <td>{{j+1}}  <a class="addBtn mb-3" *ngIf='j!==0'
                      (click)="removeStatic(i,j)"><i
                          class="fa fa-trash"></i> </a>
                  </td>
                     <td><input formControlName="product" type="text"></td>
                     <!-- <td><input formControlName="description"  type="text"></td> -->
                     <td style="width: 100px; text-align: center;">
                      <a *ngIf="questionnaireData.questionAns[i]?.table[j]?.uploadDocuments" class="AttachementBtn ml-2"  target="blank"
                    href="{{questionnaireData.questionAns[i]?.table[j]?.uploadDocuments}}">View Attachement</a>
                  
                      <input *ngIf="!questionnaireData.questionAns[i].table[j]?.uploadDocuments"  (change)="staticTableChangeListener($event,i,j)"  type="file"></td>
                     <!-- <td><input formControlName="IcContent"  type="text"></td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
          <h3 style="font-size: 18px; font-weight: 500; margin-bottom: 0;">Admin Remark</h3>
              <ckeditor formControlName="adminRemark" ></ckeditor>
  
              <p style="color: red;" *ngIf="questionnaireForm.get('adminRemark')?.hasError('required')&&(questionnaireForm.get('adminRemark')?.touched||questionnaireForm.get('description')?.dirty||submited)">
                Admin Remark description required
              </p>
            </div>
            <div>

              <button mat-button matStepperNext class="RegistrationBtn">Next</button>
              <button  mat-button matStepperPrevious class="RegistrationBtn">Back</button>
             
            </div>

          </mat-step>
        </div>
      </div>
   
        <mat-step   >
          <div class="d-flex justify-content-end">
            <div class="d-flex align-items-center">
              <label class="mr-2 MaxScore"> Score</label>
              <p class="score">{{questionnaireData?.totalScore}}</p>
            </div>
            <div class="d-flex align-items-center ml-3">
              <label class="mr-2 MaxScore">Total Score</label>
              <p class="score">{{userScore}}</p>
            </div>
          </div>
  
       
      
      
          <div style="background: #f5f4f4;
          text-align: center!important;
          padding: 3rem 0 4rem;
          width: 60%;
          border: 1px solid #d7d7d7;
          margin: 5rem 0 0 14rem;">
          <button style="float: none;" mat-button matStepperPrevious class="RegistrationBtn">Back</button>
            <button style="float: none;" mat-button (click)="openModel(static)" class="RegistrationBtn">Call For Review</button>
            <button style="float: none;" mat-button *ngIf="!static" (click)="submitQuestionnaire('approved')" class="RegistrationBtn">Approve</button>
            <button style="float: none;" mat-button *ngIf="static" (click)="submitStaticQuestionnaire('approved')" class="RegistrationBtn">Approve</button>
             
          </div>

        </mat-step>

    </mat-stepper>

  </form>
</div>