<div class="topHeader">
  <h2> Questionnaire  List  View</h2>
</div>


<div class="questionnaireForm">
  <div>
      <span >Total Score :{{aissmentdata[0]?.totalScore}}</span>
    </div>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Qs.</th>
          <th scope="col">Questions</th>
          <th scope="col">Answers</th>
          <th scope="col">Score</th>
          <th scope="col"> Max Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let item of aissmentdata?.at(0)?.questionAns; let i = index" >
          <th scope="row">{{i+1}}</th>
          <td class="">{{item.question}}</td>
          <td>
              {{item.answer}}
          </td>
          <td>
              {{item.score}}
          </td>
          <td>
              {{item.maxScore}}
          </td>
        </tr>
       
      </tbody>
  </table>
</div>