
 <!-- =============== PRELOADER =============== -->
    <!-- <div class="page-preloader-cover">
        <div class="cssload-loader">
            <div class="cssload-inner cssload-one"></div>
            <div class="cssload-inner cssload-two"></div>
            <div class="cssload-inner cssload-three"></div>
        </div>
    </div> -->
    <!-- ============== PRELOADER END ============== -->
    <!-- ================= HEADER ================= -->
    <header class="marathon-header-fixed header-fixed">
        <a href="javascript:void(0)" class="nav-btn">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <div class="top-panel">
            <div class="container">
                <a href="javascript:void(0)" class="logo2">
                    <img class="headerLogo1" src="assets/img/New_img/SIDM-c-logo-01.svg" alt="logo"
                    >
                </a>
            <a href="javascript:void(0)" class="logo1">
                <img class="headerLogo2" src="assets/img/New_img/logo.png" alt="logo"
                    >
                </a>

            <a href="javascript:void(0)" class="logo3">
                <img class="headerLogo3"
                    src="assets/img/New_img/azadi-ka-amrit-mahotsav.png" alt="logo"
                    >
                </a>
            </div>
        </div>
        <!-- <div class="header-nav">
            <div class="container">
                <div class="header-nav-cover">
                    <nav class="nav-menu menu">
                        <ul class="nav-list">
                            <li class="active-page">
                                <a href="index.html">home</a>
                            </li>
                            <li><a href="#about">about sidm</a></li>
                            <li><a href="#Objective">OBJECTIVE</a></li>
                            <li><a href="#categories">categories</a></li>
                            <li><a href="#committee">AWARDS COMMITTEE</a></li>
                            <li><a href="#process">process</a></li>
                            <li><a href="#testimonial">testimonials</a></li>
                            <li><a href="#faq">faqs</a></li>
                            <li><a href="#award2020">AWARDS 2020</a></li>
                            <li><a href="#footer">Contact Us</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div> -->
    </header>
    <!-- =============== HEADER END =============== -->

    <!--=================== PAGE-TITLE ===================-->
    <div class="page-title" style="background: #175AA5;">
        <div class="container">
           
            <h1 class="title">Registered User</h1>
        </div>
    </div>



<section class="registrationForm">
    <div class="maintitle mt-5">
        <div class="container">
            <p class="loginLink">Not Registered yet. <a (click)="applyNow()"
                   target="blanck">Register Here</a>
            </p>
            <!-- <p class="font-weight-bold">All <span class="mandatory">*</span> marked fields are mandatory</p> -->
            <div class="mt-4 mb-4"></div>
        </div>
    </div>

    <div class="formBody">
        <div class="container">
            <!-- <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="" role="tab"
                        aria-controls="pills-home" aria-selected="true">Apply Online</a>
                </li>
               
            </ul> -->
            
            <form [formGroup]="memberform">
                <div class="formPart_1">
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="mt-1 mb-3">Email</h5>
                            <input formControlName="email" appLowercase appBlockCopyPaste type="text">
                            <div *ngIf="memberform.controls['email'].invalid && (submitted|| memberform.controls['email'].touched)">         
                                <span *ngIf="memberform.get('email')?.hasError('required')" style="color: red;">
                                    E-Mail Address <strong>required</strong>
                                </span>                        
                        </div>
                        </div>
                        <div class="col-lg-6">
                            <h5 class="mt-1 mb-3">Mobile Number</h5>
                            <input formControlName="mobileNumber" type="text" appBlockCopyPaste (keypress)="keyPressNumbers($event)" maxlength="10">
                            <div *ngIf=" memberform.controls['mobileNumber'].invalid &&  (submitted || memberform.controls['mobileNumber'].touched)">         
                                <span *ngIf="memberform.get('mobileNumber')?.hasError('required')" style="color: red;">
                                    Mobile Number <strong>required</strong>
                                </span>                        
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="mt-3 mb-3">Pan Number</h5>
                            <input appUpperCase formControlName="panNumber" appBlockCopyPaste type="text">
                            <div *ngIf=" memberform.controls['panNumber'].invalid && ( submitted || memberform.controls['panNumber'].touched)">         
                                <span *ngIf="memberform.get('panNumber')?.hasError('required')" style="color: red;">
                                    Pan Number <strong>required</strong>
                                </span>                        
                        </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-4">
                        <div class="form-group">
                            <re-captcha
                            (resolved)="resolved($event)"
                                siteKey="6LcZYWYeAAAAAFFzV_pFdZBksDadFNggfpxTZMfS"></re-captcha>
                        </div>

                    </div>
                </div>
               
            </form>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mt-5 mb-5 text-center">
                        <button type="submit" class="NewBtn" (click)="memberlogin()"><span>Submit</span></button>
                        <button class="save-btn ml-2" target="blanck" (click)="reset()"><span>Reset</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

       


<!-- <app-login-footer></app-login-footer> -->


<footer id="footer">

</footer>
<!--================== FOOTER END ==================-->

<!--=================== TO TOP ===================-->
<a class="to-top" href="#home">
	<i class="fa fa-angle-double-up" aria-hidden="true"></i>
</a>

